<% content_for :pagetitlestartoverride do %>Euclid<% end %>
<% content_for :pagetitle do %>Retail analytics|Euclid Analytics Solutions<% end %>
<% content_for :description do %>Retail analytics solutions to help retailers make smarter marketing and operations decisions.<% end %>
<% content_for :keywords do %>retail analytics, location analytics, shopper analytics, retail customer intelligence, retail store metrics<% end %>
<% content_for :pagehead do %><% end %>
<% content_for :headextra do %><%= stylesheet_link_tag 'express-styles' %><%= javascript_include_tag 'express_scripts' %>
<meta name="robots" content="noindex"><% end %>
<div id="get-started-area">
	<iframe src="https://docs.google.com/a/ask.fm/forms/d/1lK53ZbrCklm-r8TpTkeQDa_LZ_8baL1mlY_I3gaXDk0/viewform?embedded=true" style="margin-top:100px; width:720px; height:1290px; border: none;"></iframe>
</div>