<% content_for :pagetitle do %>Euclid for quick service restaurants QSR<% end %>
<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  		<div  class="col9 separated">
	  		<h1>
	  			For QSR - quick service restaurants
	  		</h1>
	  		<p class="large-text">Maximize your customer throughput at peak and by daypart</p>
	  	</div>

	  	<div class="col9 separated">
		  	<div class="underlined sectionlabel">Benefits</div> 
				<ul class="no-bullet">
					<li>All standard Euclid metrics, including traffic, visit duration, and bounce</li>
					<li>Walkby traffic and conversion, chain and brand loyalty, all by daypart</li>
					<li>Runs on your existing in-store Wi-Fi or on Euclid dedicated sensors</li>
					<li>Full data export, premium support, and custom analysis</li>
				</ul>
			</div>
  		<div  class="col9 separated">
  			<div class="underlined sectionlabel">Overview</div> 
				<p>Euclid helps quick-service restaurant operators assess same-store and chain-wide demand by daypart. Align your labor costs with customer traffic to increase profits. Our QSR analytics help you maximize customer throughput and satisfaction. Euclid is easy to deploy across all your locations and integrates seamlessly with your existing BI tools.</p>
				
				<p class="center-in-grid"><%= image_tag 'product/zero.png', :height=>"200" %></p>
			</div>
			<div class="col9 underlined sectionlabel">INSIGHTS</div>
	  		<ul class="cluster-list no-bottom-marg">
		  		<li><b>Should I extend my business hours?</b><br/><br/>The Walkby metric tells you how many people pass by the store after hours, so you can see if you’re missing out on potential business.
</li>
		  		<li><b>Did my ad campaign really increase store traffic?</b><br/><br/> With Outside Traffic and Window Conversion metrics, you can judge whether your actions made a difference.
</li>
		  		<li><b>How loyal are my existing customers?</b><br/><br/>Use the distribution of Visit Frequency and Visit Recency to segment your customers.
</li>
		  		
		  	</ul>
	  	</div>

  	
  </div>
</section> 
