<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  		<h1 class="col9 separated">Our system is designed to collect and store data securely without interfering with your existing network infrastructure.</h1>
	  	<ul class="cluster-list light-underlined underlined separated how-section-list">
	  		<li>
	  			<div class="sectionlabel">MAC address hashing</div>
  				<p>Each phone’s MAC address is scrambled with a one-way hash to create a separate unique ID.</p>
  			</li>
	  		<li>
	  			<div class="sectionlabel">Encrypted data transmission</div>
  				<p> Data is sent to Amazon Web Services (AWS) using  Secure Sockets Layer (SSL) encryption.</p>
  			</li>
	  		<li>
	  			<div class="sectionlabel">Secure data storage</div>
  				<p> Information is stored in Amazon’s highly secure datacenters</p>
  			</li>
	  		<li>
	  			<div class="sectionlabel">Limited employee access</div>
  				<p> We use technical and policy controlled to prohibit unauthorized access.</p>
  			</li>
	  		<li>
	  			<div class="sectionlabel">Maintains PCI compliance</div>
  				<p>Our sensors do not collect cardholder data or impact the topology of your secure network.</p>
  			</li>
	  	</ul>
		<div class="large-text col9">
			Euclid is committed to protecting the individual privacy of shoppers. For more information, visit our <%= link_to 'Privacy Overview', '/privacy/statement.html' %>
		</div>
  	</div>
  </div>
</section>








