@import "mixins.less";

div.navbar-inner ul.nav li {
    font-size: 14px;
    font-weight: bold;
}

div.navbar-inner ul.nav li a {
  color: white;
  border-style: none;
  border-width: 0;
}

div.navbar-inner ul.nav li.active a {
  color: white;
  #gradient > .vertical(#414141, #606060);
  border-style: solid;
  border-width: 1px;
  .border-radius(3px);
  border-color: dimGray;
}

#login_row {
  padding: 4px 0px;
}

#page_row {
  margin-bottom: 0px;
  height: 64px;
}

#page_row ul {
  margin-top: 22px;
  margin-bottom: 4px;
}

.btn#get_started {
    #gradient > .vertical(#41B14B, #38AD42);
    color: white;
    font-weight: bold;
    margin: 4px 0;
}

.btn#get_started:hover {
    color: black;
    text-shadow: 0 0px 0 #000;
}

a#customer_login {
  margin-right: 12px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

a#customer_login:hover {
  text-decoration: none;
  color: darken(white, 30%);
}