<% content_for :pagetitle do %>Euclid analytics technology for retail<% end %>
<% content_for :pagehead do %><% end %>
<section class="content no-pad PartnerReseller-main">
  <section class="content">
    <div class="hero-container">
        <div class="hero-unit hero-unit-reseller">
            <div class="main-wrap main-content">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Reseller Partners<br>
                            Add value to every access point you sell.</h1>
                        <p>Are you a VAD, VAR, or MSP who wants to include location analytics in your standard Wi-Fi services package? Join our reseller program to identify prospects, distribute Euclid products, and enjoy the exclusive ability to upsell and earn margin on premium offerings.</p>
                        <a href="http://info.euclidanalytics.com/Partner_SignUpLP.html" class="btn btn-marg tour-btn" target="_blank">Become a Partner</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <div class="container">
    <div class="subcontainer9 pull-center">

      <div class="col9 euclid-sensor"> 
        <div class="hero-unit">
          <h1>Benefits to our reseller partners.</h1>
          <p>Add value for your Wi-Fi infrastructure customers with Euclid incentives, support, and training. Register to become a partner in our reseller partner program. All registered partners will receive access to our partner portal, a demo environment, and be invited to our regular trainings and updates. Qualified reseller partners may enroll into our certified reseller program. Certified partners will receive additional benefits including sales support, dedicated relationship management, and the ability to upsell and earn margin on premium features. </p>
        </div>
      </div>
    </div>

    <div class="solutions-row3 support-row3 reseller-row1">
        <div class="items">
        <div class="row"> 
          <div class="item col-sm-2 col-xs-12 col-md-2 col-lg-2">
            <div class="image">
              <img src="../../img/resources/resource-one.png" alt="img">
              <div class="clear"></div>
            </div>
            <span>Partner Application</span>              
          </div>
          <div class="item col-sm-2 col-xs-12 col-md-2 col-lg-2">
            <div class="image">
              <img src="../../img/resources/resource-two.png" alt="img">
              <div class="clear"></div>
            </div>  
            <span>Qualification & Test Accounts</span>              
          </div>
          <div class="item col-sm-2 col-xs-12 col-md-2 col-lg-2">
            <div class="image">
              <img src="../../img/resources/resource-three.png" alt="img">
              <div class="clear"></div>
            </div> 
            <span>Account Activations</span>           
          </div>
          <div class="item col-sm-2 col-xs-12 col-md-2 col-lg-2">
            <div class="image">
              <img src="../../img/resources/resource-four.png" alt="img">
              <div class="clear"></div>
            </div> 
            <span>Certified Reseller Agreement</span>                   
          </div>
          <div class="item col-sm-2 col-xs-12 col-md-2 col-lg-2">
            <div class="image">
              <img src="../../img/resources/resource-five.png" alt="img">
              <div class="clear"></div>
            </div> 
            <span>Training & Certification</span>                   
          </div>
          <div class="item col-sm-2 col-xs-12 col-md-2 col-lg-2">
            <div class="image">
              <img src="../../img/resources/resource-six.png" alt="img">
              <div class="clear"></div>
            </div> 
            <span>Ongoing Sales & Support</span>                   
          </div>
        </div>
        </div>
</div>
</div>
<div class="main-wrap main-content reseller-table">
            <div class="row">
                <div class="col-xs-9 pull-center">
    <table class="table table-striped">
    <tbody>
        <tr>
            <td><h5>Incentives</h5></td>
            <td class="register-head"><h5>Registered</h5></td>
            <td class="certified-head"><h5>Certified</h5></td>
        </tr>
        <tr>
            <td>Euclid Express available to all customers</td>
            <td><img src="../../img/resources/arrow.png"></td>
            <td><img src="../../img/resources/arrow-active.png"></td>
        </tr>
        <tr>
            <td>Access to Knowledge Base partner resources</td>
            <td><img src="../../img/resources/arrow.png"></td>

            <td><img src="../../img/resources/arrow-active.png"></td>
        </tr>
        <tr>
            <td>Basic sales materials and collateral</td>
            <td><img src="../../img/resources/arrow.png"></td>
            <td><img src="../../img/resources/arrow-active.png"></td>
        </tr>
        <tr>
            <td>Demo environment</td>
            <td><img src="../../img/resources/arrow.png"></td>
            <td><img src="../../img/resources/arrow-active.png"></td>
        </tr>
        <tr>
            <td>Quarterly training webinars, monthly newsletter</td>
            <td><img src="../../img/resources/arrow.png"></td>
            <td><img src="../../img/resources/arrow-active.png"></td>
        </tr>
        <tr>
            <td>Upsell additional premium features</td>
            <td></td>
            <td><img src="../../img/resources/arrow-active.png"></td>
        </tr>
        <tr>
            <td>Earn margin on discount from MSRP</td>
            <td></td>
            <td><img src="../../img/resources/arrow-active.png"></td>
        </tr>
        <tr>
            <td>Standard reseller training and certification</td>
            <td></td>
            <td><img src="../../img/resources/arrow-active.png"></td>
        </tr>
        <tr>
            <td>Euclid participation at annual sales trainings</td>
            <td></td>
            <td><img src="../../img/resources/arrow-active.png"></td>
        </tr>
        <tr>
            <td>Featured in partner program PR and Marketing</td>
            <td></td>
            <td><img src="../../img/resources/arrow-active.png"></td>
        </tr>
        <tr>
            <td>Dedicated partner liaison</td>
            <td></td>
            <td><img src="../../img/resources/arrow-active.png"></td>
        </tr>
        <tr>
            <td>API access</td>
            <td></td>
            <td><img src="../../img/resources/arrow-active.png"></td>
        </tr>
        <tr>
            <td>Additional support escalation</td>
            <td></td>
            <td><img src="../../img/resources/arrow-active.png"></td>
        </tr>
    </tbody>
    </table>
    </div>
</div>
</div>
<section class="content featured-content-grad no-pad router-section">
<div class="hero-container euclid-rep">
    <div class="hero-unit">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Partner and Euclid responsibilities.</h1>
                    <div class="subcontainer9 pull-center two-columns">
                     <div class="col4 first-col4">
                    <h3>Resellers Provide</h3>
                        <ul>
                            <li><label>Distribution</label>
                                Generate qualified leads and distribute Express as part of Wi-Fi service package
                            </li>
                            <li>
                            <label>Activation and Onboarding</label>
                            Express activation and managing client onboarding
                            </li>
                            <li>
                            <label>AP Uptime and Support</label>
                            AP configuration (following activation guides) and first-level support
                            </li>
                        </ul>
                    </div>
                     <div class="col4">
                    <h3>Euclid Provides</h3>
                        <ul>
                            <li><label>Training and Certification</label>
                                Sales training and resources, standard certification, and more 
                            </li>
                            <li>
                            <label>Partner Portal</label>
                            Partner Portal hosting all resources, demo accounts, test lab and customer activation sign-ups, and more 
                            </li>
                            <li>
                            <label>Partner Relationship</label>
                            Dedicated Euclid account liaison, joint PR and marketing, and sales escalation (certified partners)
                            </li>
                            <li>
                            <label>Product and Pricing</label>
                            Free Euclid Express product with every AP (all registered partners). Upsell and discount on premium features including full export, integration, and API access (certified partners) 
                            </li>

                        </ul>
                    </div>
    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
</section>

<div class="container">
    <div class="subcontainer9 pull-center">

      <div class="col9 separated euclid-sensor"> 
        <div class="hero-unit pad-50">
          <h1>Select Partners.</h1>
<div class="items partner-logos reseller-logos pull-center">
        <div class="row"> 
         
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
             <a href="http://shop.digitalinn.se/"><img src="../../img/partners/partner1.png" alt="img"></a>
            </div>                       
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.gofrontera.com/"><img src="../../img/partners/partner2.png" alt="img"></a>
            </div>            
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.gdt.com/"><img src="../../img/partners/partner3.png" alt="img"></a>
            </div>                     
          </div> 
        </div>
        <div class="row"> 
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.inlink.com.au/"><img src="../../img/partners/partner4.png" alt="img"></a>
            </div>                       
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.jade-solutions.co.uk/"><img src="../../img/partners/partner5.png" alt="img"></a>
            </div>            
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.lexel.co.nz/"><img src="../../img/partners/partner6.png" alt="img"></a>
            </div>                     
          </div>
        </div>
        <div class="row"> 
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://mactelemetry.com/"><img src="../../img/partners/partner7.png" alt="img"></a>
            </div>                       
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.naswireless.com/"><img src="../../img/partners/partner8.png" alt="img"></a>
            </div>            
          </div>
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.retailin.it/"><img src="../../img/partners/partner9.png" alt="img"></a>
            </div>            
          </div>
        </div>
        <div class="row"> 
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.skyrove.com/"><img src="../../img/partners/partner10.png" alt="img"></a>
            </div>                       
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.tekmarkinc.com/go.php"><img src="../../img/partners/partner11.png" alt="img"></a>
            </div>            
          </div>
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.wifiprofs.com/"><img src="../../img/partners/partner12.png" alt="img"></a>
            </div>            
          </div>
        </div>
        <div class="row"> 
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.wowtv-ent.com/building-analytics/"><img src="../../img/partners/partner13.png" alt="img"></a>
            </div>                       
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://zensystems.dk/"><img  class="zenLogo" src="../../img/partners/partner14.png" alt="img"></a>
            </div>            
          </div>
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.2brains.cl/"><img class="squareImg" src="../../img/partners/partner15.png" alt="img"></a>
            </div>            
          </div>
        </div>
    </div>
    </div>
      </div>
    </div>
    </div>


<section class="content featured-content-grad no-pad privacy-section">
<div class="hero-container">
    <div class="hero-unit">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Register today.</h1>
                    <p>Begin offering location analytics to your customers today! Click on the link below to register as a partner and set-up your first Euclid Express account.</p>
                    <a href="http://info.euclidanalytics.com/Partner_SignUpLP.html" class="btn">Become a Partner</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</section> 
