<% content_for :pagetitle do %>Euclid analytics technology for retail<% end %>
<% content_for :pagehead do %><% end %>
<section class="content no-pad PartnerReseller-main">
  <section class="content">
    <div class="hero-container">
        <div class="hero-unit hero-unit-reseller">
            <div class="main-wrap main-content">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Reseller Partners<br>
                            Add value to every access point you sell.</h1>
                        <p>Are you a VAD, VAR, or MSP who wants to include location analytics in your standard Wi-Fi services package? Join our reseller program to identify prospects, distribute Euclid products, and enjoy the exclusive ability to upsell and earn margin on premium offerings.</p>
                        <a href="http://info.euclidanalytics.com/Partner_SignUpLP.html" class="btn btn-marg tour-btn" target="_blank">Become a Partner</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
 
<div class="container">
    <div class="subcontainer9 pull-center">

      <div class="col9 separated euclid-sensor"> 
        <div class="hero-unit pad-50">
          <h1>Select Partners.</h1>
    <div class="items partner-logos reseller-logos pull-center">
        <div class="row"> 
         
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
             <a href="http://shop.digitalinn.se/"><img src="../../img/partners/partner1.png" alt="img"></a>
            </div>                       
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.gofrontera.com/"><img src="../../img/partners/partner2.png" alt="img"></a>
            </div>            
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.gdt.com/"><img src="../../img/partners/partner3.png" alt="img"></a>
            </div>                     
          </div> 
        </div>
        <div class="row"> 
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.inlink.com.au/"><img src="../../img/partners/partner4.png" alt="img"></a>
            </div>                       
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.jade-solutions.co.uk/"><img src="../../img/partners/partner5.png" alt="img"></a>
            </div>            
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.lexel.co.nz/"><img src="../../img/partners/partner6.png" alt="img"></a>
            </div>                     
          </div>
        </div>
        <div class="row"> 
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://mactelemetry.com/"><img src="../../img/partners/partner7.png" alt="img"></a>
            </div>                       
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.naswireless.com/"><img src="../../img/partners/partner8.png" alt="img"></a>
            </div>            
          </div>
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.retailin.it/"><img src="../../img/partners/partner9.png" alt="img"></a>
            </div>            
          </div>
        </div>
        <div class="row"> 
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.skyrove.com/"><img src="../../img/partners/partner10.png" alt="img"></a>
            </div>                       
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.tekmarkinc.com/go.php"><img src="../../img/partners/partner11.png" alt="img"></a>
            </div>            
          </div>
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.wifiprofs.com/"><img src="../../img/partners/partner12.png" alt="img"></a>
            </div>            
          </div>
        </div>
        <div class="row"> 
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.wowtv-ent.com/building-analytics/"><img src="../../img/partners/partner13.png" alt="img"></a>
            </div>                       
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://zensystems.dk/"><img  class="zenLogo" src="../../img/partners/partner14.png" alt="img"></a>
            </div>            
          </div>
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.2brains.cl/"><img class="squareImg" src="../../img/partners/partner15.png" alt="img"></a>
            </div>            
          </div>
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.alexanderbabbage.com/"><img src="../../img/partners/ab_logo.jpg" alt="img" style="width:150px; margin-top:25px;"></a>
            </div>            
          </div>
        </div>
    </div>
    </div>
      </div>
    </div>
</div>

  <section class="content featured-content-grad no-pad privacy-section">
    <div class="hero-container">
        <div class="hero-unit">
            <div class="main-wrap main-content">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Register today.</h1>
                        <p>Begin offering location analytics to your customers today! Click on the link below to register as a partner and set-up your first Euclid Express account.</p>
                        <a href="http://info.euclidanalytics.com/Partner_SignUpLP.html" class="btn">Become a Partner</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</section> 
