<% content_for :pagetitle do %>Euclid analytics technology for retail<% end %>
<% content_for :pagehead do %><% end %>
<section class="content featured-content-grad no-pad">
  <section class="content">
    <div class="hero-container">
        <div class="hero-unit hero-unit-resellers">
            <div class="main-wrap main-content">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Start fast, grow quickly.</h1>
                        <p>Our technology works securely with existing Wi-Fi infrastructure through our trusted <a href="http://euclidanalytics.com/solutions/partners/">partners</a>, or our plug-and-play sensors. There's no faster, easier way to start measuring in-store visits, engagement, and loyalty.</p>
                        <a href="http://www.youtube.com/watch?v=LNckTJZaY_g&list=PLnaQmtUJyjOW-Qn-jnkxLa4bAGqNeIazf" class="btn btn-marg tour-btn" target="_blank">Product Tour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <div class="container">
  	<div class="subcontainer9 pull-center">

<!--   		<div  class="col9 separated">
	  		<h1>
	  			Easy to implement and scale
	  		</h1>
	  		<p class=" large-text">Euclid Analytics is the easiest way to measure visits, engagement, and loyalty in your stores.</p>
	  		<p>Our plug-and-play sensor installs in two minutes - just connect power and internet. Each sensor is the size of a deck of cards and covers up to 24,000 square feet.</p>
				<p>If you have existing in-store Wi-Fi from Aruba, Aerohive, CISCO, Fortinet, Meraki, Ruckus, Xirrus, or other leading providers, you can <%= link_to 'turn your existing access points into Euclid sensors', '/solutions/partners/' %> with the push of a button.</p>
				<p>Once your sensors are up and running, you can view reports for all your locations in our easy-to-use web Dashboard.</p>
				<p class="large-text">Take a closer look at how our technology works:</p>
	  	</div> -->
  		<div class="col3 hide-on-mobile workFlowImage">
  			<%= image_tag 'how-work-flow.png'%>
  		</div>
  		<ul class="col6 pull-right how-section-list">
 			<h1 class="main-heading">How it works.</h1> 			
  			<li>
	  			<div class="sectionlabel">Euclid shows you how your customers shop.</div>
					<p>Euclid senses how smartphones flow through the space, how long they stay, and how often they return.</p><br/>
				</li>
				<li>
					<div class="sectionlabel">Euclid senses smartphones' anonymous Wi-Fi signals</div>
					<p>Smartphones send out short "pings" as they search for Wi-Fi networks nearby. These pings include the phone's MAC address (a unique string of letters and numbers), signal strength, and other non-personally identifiable information.</p><br/>
				</li>
				<li>
					<div class="sectionlabel">Euclid captures and records Wi-Fi these signals for analysis.</div>
					<p>Using your existing Wi-Fi infrastructure or our compact plug-and-play sensor, we record pings and send them to our cloud-based systems. To protect shoppers' privacy, we scramble each MAC address using a one-way hashing algorithm.</p><br/>
				</li>
				<li>
					<div class="sectionlabel how-section">Euclid processes and stores data. </div>
					<p>Our advanced heuristics extract actionable insights from the data and store the results in Amazon's highly secure datacenters.<br><%= link_to 'Learn about our data security practices ', '/privacy/trust/' %></p><br/>
				</li>
				<li> 
					<div class="sectionlabel how-section">Euclid delivers reports to you via web and email. </div>
					<p>Our web-based dashboard and scheduled email reports make it easy and convenient to measure and optimize your business.</p><br/>
				</li>
  		</ul>
  </div>
		</div>
<section class="content featured-content-grad no-pad router-section">
<div class="hero-container">
    <div class="hero-unit hero-unit-router-wifi">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Superior Wi-Fi technology.</h1>
                    <p>Wi-Fi is everywhere — and that makes it the most affordable scalable technology for location analytics. Euclid makes capturing customer-centric insight, including duration and repeat data, easy across all locations.</p>
                    <a href="http://blog.euclidelements.com/2013/07/why-wi-fi-is-right-approach-for-retail.html" class="btn dark-btn btn-marg">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
  <div class="container">
  	<div class="subcontainer9 pull-center">

  		<div class="col9 separated euclid-sensor"> 
	  		<div class="hero-unit">
	        <h1>Our technology makes it simple.</h1>
	  		  <p>We're partners with the major <a href="http://euclidanalytics.com/solutions/partners/">Wi-Fi hardware vendors</a> — making activation easy on existing hardware. If your vendor's not listed, we've got you covered with our plug-and-play sensors. With Euclid, you can get started in any location with power and connectivity. </p>
          <%= image_tag 'euclid-sensor.png', :style=>"width: 700px;" %>
	      </div>
      </div>
  	</div>
  	</div>
      <section class="content featured-content-grad no-pad privacy-section">
<div class="hero-container">
    <div class="hero-unit">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Privacy and data security.</h1>
                    <p>Euclid is committed to protecting the individual privacy of shoppers. It works securely within your existing network infrastructure.</p>
                    <a href="../../privacy/statement/" class="btn">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</section> 
