<% content_for :pagetitle do %>Euclid analytics technology for retail<% end %>
<% content_for :pagehead do %><% end %>
<section class="content no-pad PartnerReseller-main">
  <section class="content">
    <div class="hero-container">
        <div class="hero-unit hero-unit-PartnerReseller">
            <div class="main-wrap main-content">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Technology Partners <br>Building the future of location analytics.</h1>
                        <p>We're leading innovation in brick and mortar intelligence through partnerships with the best-in-class enterprise Wi-Fi vendors and other complementary technology partners. Join Euclid's technology partnership ecosystem and put your brand on the front lines of the location analytics revolution.</p>
                        <a href="http://info.euclidanalytics.com/Partner_SignUpLP.html" class="btn btn-marg tour-btn">Become a Partner</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <div class="container">
    <div class="subcontainer9 pull-center">

      <div class="col9 separated euclid-sensor"> 
        <div class="hero-unit">
          <h1>Euclid Wi-Fi technology partners.</h1>
          <p>Euclid's Wi-Fi technology partnerships let our customers get started with location analytics without investing in dedicated sensors, costly in-store installation, or complicated set-up. Euclid Express is a no-cost way to maximize value in APs sold by preferred partners. </p>
<div class="items partner-logos pull-center">
        <div class="row"> 
         
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
             <a href="http://www.aerohive.com"><img src="../../img/partners/aerohive.png" alt="img"></a>
            </div>                       
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.arubanetworks.com"><img src="../../img/partners/aruba.png" alt="img"></a>
            </div>            
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.cisco.com/c/en/us/products/wireless/index.html"><img src="../../img/partners/cisco.png" alt="img"></a>
            </div>                     
          </div> 
        </div>
        <div class="row"> 
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="https://meraki.cisco.com"><img src="../../img/partners/cisco-meraki.png" alt="img"></a>
            </div>                       
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.fortinet.com"><img src="../../img/partners/fortinet.png" alt="img"></a>
            </div>            
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.juniper.net/us/en/"><img src="../../img/partners/juniper.png" alt="img"></a>
            </div>                     
          </div>
        </div>
        <div class="row"> 
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.ruckuswireless.com"><img src="../../img/partners/ruckus.png" alt="img"></a>
            </div>                       
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <a href="http://www.xirrus.com"><img src="../../img/partners/xirrus.png" alt="img"></a>
            </div>            
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
    </div>
<section class="content featured-content-grad no-pad router-section">
<div class="hero-container ecosystems">
    <div class="hero-unit">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>A growing ecosystem.</h1>
                    <p>Euclid continues to expand its partner ecosystem by working with complementary technology providers. We welcome any potential technology partners interested in collaboration, joint development, and other opportunities to <a href="http://info.euclidanalytics.com/Partner_SignUpLP.html">contact us.</a></p>
                    <img src="../../img/partners/PartnerReseller-ecosystem.png">  
                </div>
            </div>
        </div>
    </div>
</div>
</section>
      <section class="content featured-content-grad no-pad privacy-section">
<div class="hero-container">
    <div class="hero-unit">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Become a Euclid technology partner.</h1>
                    <a href="http://info.euclidanalytics.com/Partner_SignUpLP.html" class="btn">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</section> 
