<% content_for :pagetitle do %>Euclid Services Privacy Statement Archive<% end %>
<section class="content">
  <div class="container">
  	<div class="subcontainer9 pull-center">
  		<h1 class="col9">
  			Euclid Services Privacy Statement Archive
  		</h1>
  		<ul class="col9"> 
  			<li><%= link_to 'Prior to May 3, 2013', '/privacy/statement-archive/may-2013.html' %></li>
  		</ul>
  	</div>
  </div>
</section>