<% content_for :pagetitle do %>Our Privacy Statement<% end %>
<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  		<h1 class="col9">
  			Euclid Privacy Statement
  		</h1>
      <h2 class="col9 separated">Prior to May 3, 2013</h2>
  		<div class="col9"> 
  			<span class="sectionlabel">Overview</span>
  			<p>We are engineers, so we are excited about providing real benefits for retailers and their shoppers through the use of technology and data. But we are also shoppers, so we understand concerns about privacy. Our core belief is that we can provide valuable insights to our clients while respecting and protecting individual privacy. To do that we follow three important principles:</p>
  			<ul>
  				<li>Limited data collection: We do not link any information we collect with the owner of the mobile device, the person using the mobile device, or any content that is being received by or transmitted from the mobile device.</li>
  				<li>Only share aggregate and anonymous information: The reports we provide to our clients only include only aggregate and anonymous data.</li>
  				<li>Easy opt-out and delete: You can both <%= link_to_signupsite('optout', 'opt-out', '') %> and delete data from our service at any time on our website and we will immediately initiate the removal of your phone’s identifier from our databases (removal will be complete within 7 days due to the large data volumes involved).</li>
  			</ul>
  			<p>This privacy statement explains how our service works, what information we collect and how we use it. If you have any questions, please contact us at <a href="mailto:privacy@euclidanalytics.com" class="scramble-email">moc.scitylanadilcue@ycavirp</a>.</p>
  			<span class="sectionlabel">What exactly do we collect and why?</span>
  			<p>If and only if you have a wifi-equipped phone AND wifi is turned on, Euclid’s sensors collect your phone’s unique MAC address, some information that describes the manufacturer, and data that is used to estimate its location in relation to the sensor. We calculate and analyze client traffic based on these signals sent from shoppers’ mobile devices.</p>
  			<p>Euclid’s sensors collect your phone’s unique MAC address, manufacturer code (Apple, Samsung, etc.), and location-estimation data. We then anonymize and analyze this information in order to provide our clients with valuable analytics reports so they can improve their operations.</p>

  			<span class="sectionlabel">How do we collect information? </span>
  			<p>When your wifi-enabled mobile device is on, it regularly sends “shout-outs” to nearby wireless networks that say the equivalent of “Here I am, Here I am.” All phones, computers, and other wifi-enabled mobile devices send these signals to introduce themselves to wifi networks that may be available to them. Included in each shout-out is a unique identifier called a MAC address. This combination of numbers and letters uniquely identifies your specific mobile device. The MAC address is not the same as your telephone number.<br><i>You can find more general information about MAC addresses on <a href="http://en.wikipedia.org/wiki/MAC_address">Wikipedia</a> or feel free to contact us if you want a more detailed explanation.</i></p>
  			<p>Euclid manufactures sensors that can recognize and transmit to our servers the MAC addresses sensors hear when wifi-enable devices near it reach out to nearby wireless networks. Since our clients install these sensors in their stores, we know for each MAC address collected the location of the sensor. Euclid’s sensors passively detect these MAC addresses and encrypt them, then transmit the data to our collection servers. Since our sensors are located within known establishments, we can derive the location of a given MAC address at a specific time, and thus produce useful reports for our clients.</p>
  			<p>We require that our clients not use the sensors for any other purpose. <i>Our proprietary software was specially written to limit the sensor’s data collection to only what we need to provide the Euclid Services.</i></p>

  			<span class="sectionlabel">If your data does not contain my name or any other personal information, how is it useful?</span>
  			<p>Our clients use Euclid Services to answer questions like: How many new shoppers did I have today? Last week? Do more people stop and enter the store with one window display vs.or another? Do more people usually tend to grab a coffee or an ice cream after going to the dentist? Answering these questions does not require that we know who you are. We only need to determine that you are a unique person.</p>
  			<p><i>This is how we protect your privacy and provide value to our clients.</i> In truth, we are math geeks. Wifi-enabled phones constantly send out signals. Our value is that in our proprietary algorithms, which can weed through all the signals that our sensors hear and find patterns that are useful to our clients. Most of the information we share is in the form of percentages: “23% of your visitors today were unique first-time shoppers” or “42% of of the people who entered visited your store for more than 5 minutes”, for example. Euclid may augment the records in its database with information it guesses infers from user activity, such as whether a device owner is male or female, income bracket, etc. We do not collect sensitive or personally identifiable information, and as with all data we obtain, it is only revealed to clients in aggregate and anonymous form (e.g. “an estimated 32% of store visitors this month were male”).</p>

  			<span class="sectionlabel">With whom do you share information?</span>
  			<p>We share reports with our clients that contain anonymous, aggregate analysis based on data collected from the client’s sensor. We even add small quantities of fake data to our reports to prevent data from being linked to any particular person. Clients do not have access to raw data received directly by the sensors, and are contractually prohibited from attempting to re-identify the data in the reports (not that they could anyway).</p>
  			<p>Euclid does not combine data from multiple retail locations into one report EXCEPT when all the locations in question are owned by the same company (e.g. comparative data from two branches of the same chain). The data remains in aggregate form (eg., “32% of clients in who visited store x today also visited store y within the last 30 days”).</p>
			<p>We only use qualified, respected 3rd-party providers (such as Amazon Web Services) for data exchange, aggregation, and storage, which is necessary to provide Euclid services.</p>
			<p>Read more about Amazon’s <a href="http://aws.amazon.com/security/">security measures</a>. Reports received by Euclid’s clients may only be used for the purposes for which the data was collected (as described in this statement).</p>

  			<span class="sectionlabel">How do you store data?</span>
  			<p>No data is stored on the sensor. Once collected, it is transferred securely (using SSL) and is anonymized (hashed) before it is stored on Amazon Web Services. Hashed data can not be “reverse engineered” to reveal a device’s MAC address.</p>
			<p><i>This means that anyone who gains access to the database directly from Amazon — authorized or unauthorized — will only see long strings of numbers and letters and would not be able to get any information that could be linked to a back to a mobile device owner.</i></p>

  			<span class="sectionlabel">Is there any way to link data about your device’s physical location back to you?</span>
  			<p>In limited circumstances, yes. If someone already knows both your name and your MAC address, they could potentially legally require that we provide them with information in our database about your mobile device including the locations of the sensors where we recorded your signal. Euclid will only do this if it received sufficient and appropriate legal process or to respond to cases of fraud or abuse.</p>

  			<span class="sectionlabel">What if I want a business to know who I am so they can offer me preferred services? </span>
  			<p>If businesses wish to know the identity of their visitors, mobile device owners must opt-in to the business directly (e.g. in the store or through the business’s website or phone app, etc.). In these cases, Euclid will not be privy to the personal information collected by the business but may provide services through its sensor to allow a business to know an opted-in customer has entered the store. For example, a business may give Euclid a list of MAC addresses that customers have shared so Euclid can let the business know the customer has returned.</p>

  			<span class="sectionlabel">Can I opt-out and delete the data you have about my MAC address?</span>
  			<p>Yes and Yes. You can easily opt-out on <%= link_to_signupsite('optout', 'this page', '') %>. We will stop saving any information about it in our databases and delete the data we already have associated with it. It may take from a day to a week for the data to be completely flushed out of our systems.</p>
  			<p><i>Turning off wi-fi on your phone or turning the phone off will stop sensor collection but you are still advised to visit our site to delete any records we already have.</i> Our goal is to be transparent about the data we collect and how it is used. Please let us know at website privacy policy for information specific to euclidanalytics.com (which is entirely distinct from our analytics service offering.)</p>
			<p>Thanks for reading! –Euclid Inc.</p>
  		</div>
  	</div>
  </div>
</section> 