<% content_for :pagetitle do %>Products<% end %>
<% content_for :pagehead do %><% end %>
<% content_for :headextra do %><%= stylesheet_link_tag 'express-styles' %><%= javascript_include_tag 'express_scripts' %><% end %>

<div class="hero-container">
    <div class="hero-unit hero-unit-support">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Support and Services<br>
                      Using Euclid made easy.</h1>
                    <p>Activating location analytics should be as easy as possible. When it isn't, Euclid support is just a click or call away. We’re here to help you integrate Euclid into your standard reporting and business processes.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="solutions-row3 support-row1">
         <h1>Euclid support offerings.</h1>
        
        
        <div class="items">
        <div class="row"> 
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3 customer-section">
            <h4>All Customers</h4>
            <div class="image">
              <img src="../../img/support/support-online.png" alt="img">
            </div>            
            <h5>Online Support</h5>
            <p><span class="subhead"><a href=" https://support.euclidanalytics.com/hc/en-us">Knowledge Base</a></span><br>Helpdesk for<br> resources and<br> support tickets</p>            
          </div>

          <div>
          <h4>Euclid Advanced Customers</h4>
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
            <div class="image">
              <img src="../../img/support/support-phone.png" alt="img">
            </div>            
            <h5>Phone Support</h5>
            <p><span class="subhead">(415) 413-0444</span><br>Hours of operation<br> 8am to 6pm PST</p>            
          </div>
          
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
            <div class="image">
              <img src="../../img/support/support-account.png" alt="img">
            </div>            
            <h5>Account Support</h5>
            <p>Dedicated account<br> support with named<br> service professional</p>            
          </div>
                    
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
            <div class="image">
              <img src="../../img/support/support-professional.png" alt="img">
            </div>            
            <h5>Professional Services</h5>    
            <p>Insights consulting<br> available for project<br> implementation</p>          
          </div>
        </div>
        </div>
        </div>
      </div>


<div class="solutions-row3 support-row2">
        <h1>Knowledge Base for online support.</h1>
        
                <p>The Euclid Knowledge Base contains everything you need to get started, from<br> activation guides to product materials. If you can't find answers in our FAQs, the Knowledge Base is also the place to submit a support ticket.</p>
        
        <div class="items">
        <div class="row"> 
         
          <div class="item col-sm-2 col-xs-12 col-md-2 col-lg-2">
            <div class="image">
              <img src="../../img/support/kb-started.png" alt="img">
            </div>            
            <h6>Getting Started</h6>            
          </div>
          
          <div class="item col-sm-2 col-xs-12 col-md-2 col-lg-2">
            <div class="image">
              <img src="../../img/support/support-overview.png" alt="img">
            </div>            
            <h6>Product Overview</h6>            
          </div>
          
          <div class="item col-sm-2 col-xs-12 col-md-2 col-lg-2">
            <div class="image">
              <img src="../../img/support/support-activation.png" alt="img">
            </div>            
            <h6>Activation</h6>
          </div>
          <div class="item col-sm-2 col-xs-12 col-md-2 col-lg-2">
            <div class="image">
              <img src="../../img/support/support-FAQ.png" alt="img">
            </div>            
            <h6>FAQs</h6>            
          </div>
          
          <div class="item col-sm-2 col-xs-12 col-md-2 col-lg-2">
            <div class="image">
              <img src="../../img/support/support-resources.png" alt="img">
            </div>            
            <h6>Resources</h6>            
          </div>
          
          <div class="item col-sm-2 col-xs-12 col-md-2 col-lg-2">
            <div class="image">
              <img src="../../img/support/support-dashboard.png" alt="img">
            </div>            
            <h6>Dashboard</h6>
          </div>
        </div>
        </div>
          <a href="https://support.euclidanalytics.com/hc/en-us" class="btn">Knowledge Base</a>
</div>


    </div>
<div id="get-started-area">
    <div class="main-wrap main-content">
        <div class="row">
            <div class="col-xs-12">
                <h1>Professional Services.</h1>
                <p>Euclid’s Insights team shares best practices and expertise exclusively with our Euclid Advanced customers. Let us show you how to launch your project, generate reports, and turn visitor intelligence into analysis you can act on. We'll help you access the power of advanced analytics today.</p>

<div class="solutions-row3 support-row3">
       
        <div class="items">
        <div class="row"> 
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
            <div class="image">
              <img src="../../img/support/support-one.png" alt="img">
              <div class="clear"></div>
            </div>
            <span>Project Launch & Training</span>              
          </div>
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
            <div class="image">
              <img src="../../img/support/support-two.png" alt="img">
              <div class="clear"></div>
            </div>  
            <span>Use Case Discovery</span>              
          </div>
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
            <div class="image">
              <img src="../../img/support/support-three.png" alt="img">
              <div class="clear"></div>
            </div> 
            <span>Actionable Insights Delivery</span>           
          </div>
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
            <div class="image">
              <img src="../../img/support/support-four.png" alt="img">
              <div class="clear"></div>
            </div> 
            <span>Regular Business Practice</span>                   
          </div>
        </div>
        </div>
</div>

                <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn dark-btn">Contact Us</a>
            </div>
        </div>
    </div>
    <!-- /.main-wrap -->
</div>

<script>expressInit();</script>