<div class="content featured-content-dark">
  <div class="container">
    <div class="col9 featured-content-text-area">        
      <div class="featured-content-textarea-inner separated">
        <h1>Thanks for registering for the Euclid Partner Knowledge Base</h1>
        <h2>
          You should receive an email login within the next day.
        </h2>
      </div>
    </div>
  </div>
</div>
