<% content_for :pagetitle do %>Answers and insights for QSR, restaurants and coffee stores<% end %>

<body class="products">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <header>
            <!-- LFL Redesign -->
    <div class="navbar" role="navigation">
      <div class="header-wrap">
        <div class="row">
          <div class="col-xs-5">
            <div class="navbar-header">
              <a class="navbar-brand" href="http://www.euclidanalytics.com"> </a>
            </div>
          </div>
          <div class="col-sm-7">
              <ul id="site-actions">
                  <li><a href="http://info.euclidanalytics.com/ContactUs.html">Contact Us</a></li>
                  <li><a href="http://express.euclidelements.com">Log In</a></li>
                  <li><a id="dark-btn--express" href="http://info.euclidanalytics.com/ExpressSignUp.html">Express Sign Up</a></li>
                  <li>
                  <span class="call-us-txt">1-800-681-2156</span>
                  <span class="ent-text fa-phone call-us"></span></li>
              </ul>
          </div>
        </div>
        <div class="row">
          <div class="button-rule navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          </div>
        </div>
        <div class="row">
          <div id="nav-button-col">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          </div>
          <div id="mobile-nav-col">
            <div class="row">
              <div class="col-xs-12 mobile-nav-header">Euclid Express</div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li class="dropdown selected">
                      <a href="/products/technology/" class="dropdown-toggle">Products<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="u"><a href="/products/technology/">Our Technology</a></li>
                        <li class="u"><a href="/products/express/">Euclid Express</a></li>
                        <li class="u"><a href="/products/plus/">Euclid Plus</a></li>
                        <li class="selected"><a href="/products/advanced/">Euclid Advanced</a></li>
                        <li class="u"><a href="/products/plans">Plans &amp; Pricing</a></li>
                      </ul>
                    </li>

                    <li class="dropdown solutions-menu u">
                      <a href="/solutions" class="dropdown-toggle">Solutions<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="section1">
                          <ul><li class="u"><a href="/solutions/">Overview</a></li></ul>
                          <ul class="sideBorder">
                            <li class="u"><a href="/solutions/retail/">Retail</a></li>
                           <li class="u"><a href="/solutions/qsr/">QSR &amp; Coffee</a></li>
                    <!-- <li class="u"><a href="/solutions/department/">Large Format</a></li> -->
                    <li class="u"><a href="/solutions/malls/">Shopping Malls</a></li>
              <li class="u"><a href="/solutions/transportation/">Transportation</a></li><li class="u"><a href="/solutions/venues/">Event Venues</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown u">
                      <a href="/resources/library" class="dropdown-toggle">Resources<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="u"><a href="/resources/library">Library</a></li>
                        <li class="u"><a href="/resources/benchmarks">Benchmarks</a></li>
                        <li class="u"><a href="http://blog.euclidelements.com">Blog</a></li>
                      </ul>
                    </li>
                   <li class="dropdown u">
                      <a href="/partners/technology" class="dropdown-toggle">Partners<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="u"><a href="/partners/technology">Technology Partners</a></li>
                        <li class="u"><a href="/partners/resellers">Reseller Partners</a></li>
                        <li class="u"><a href="http://info.euclidanalytics.com/Partner_SignUpLP.html">Become a Partner</a></li>
                      </ul>
                    </li>
                    <li class="dropdown u">
                      <a href="/support" class="dropdown-toggle">Support<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="u"><a href="/support/">Support &amp; Services</a></li>
                        <li class="u"><a href="https://support.euclidanalytics.com/hc/en-us">Knowledge Base</a></li>

                      </ul>
                    </li>
                    <li class="dropdown about-menu u">
                      <a href="/about" class="dropdown-toggle">About</a>
                      <ul class="dropdown-menu">
                        <li class="u"><a href="/about/">Company</a></li>
                        <li class="u"><a href="/about/news/">News &amp; Events</a></li>
                        <li class="u"><a href="/about/privacy/">Privacy</a></li>
                        <li class="u"><a href="/about/trust/">Trust</a></li>
                        <li class="u"><a href="/about/careers/">Careers</a></li>   
                        <li class="u"><a href="/about/contact/">Contact</a></li>
                      </ul>
                    </li>
                  </ul>
                </div><!--/.nav-collapse -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Old header
<div class="container">
    <div class="col2">
        <a href="/">
            <div class="logo"></div>
        </a>
    </div>
    <nav class="col10" id="primary-nav">
        <ul id="site-actions">
            <li><a href="http://dashboard.euclidelements.com" id="loginbtn" class="btn">Login</a></li>
        </ul>
        <ul id="site-pages">
            <li class="selected"><a href="/product/index.html">Products</a></li>
            <li class="u"><a href="/pricing/index.html">Plans</a></li>
            <li class="u"><a href="/privacy/">Privacy</a></li>
            <li class="u"><a href="/about/">About</a></li>
        </ul>
    </nav>
</div>
<div id="top-divider" class="divider"></div>
-->
        </header>


            <div class="header-wrap subnav-wrap">

  <div class="mobile-subnav" id="subnav" style="top: auto; position: absolute;">
    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li class="u"><a href="/products/technology/">Our Technology</a></li>
          <li class="u"><a href="/products/express/">Euclid Express</a></li>
          <li class="selected"><a href="/products/advanced/">Euclid Advanced</a></li>
          <li class="u"><a href="/products/plans">Plans &amp; Pricing</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
    
          <section class="content featured-content-grad no-pad">
<div class="hero-container">
    <div class="hero-unit hero-unit-advanced">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Euclid Advanced<br> Be the smartest store on the block.</h1>
                    <p>Euclid Advanced provides the industry’s most sophisticated analytics for specialty retail, QSR and coffee, and large format locations. It combines customer behavior, location, and transaction data to give retailers unprecedented visibility into the path to purchase.</p>
                    <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn btn-marg">Get Advanced</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

    
      
<section class="content advanced-section">
  <div class="container">
    <div class="subcontainer9 pull-center">
      <h1>Turbo-charge your marketing, operations, and strategy.</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="block"><img src="../../img/product/sale-icon.png"></div>
          <div>
        <h2>Measure</h2>
          Measure offline ROI for marketing campaigns. See how promotions are bringing customers in the door.</div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="block"><img src="../../img/product/analyze-icon.png"></div>
          <div>
          <h2>Analyze</h2>  
          Analyze why locations are successful in attracting, engaging, and retaining customers. </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="block"><img src="../../img/product/improve-icon.png"></div>
          <div>
        <h2>Improve</h2>
          Improve chainwide performance and real estate strategy. Grow your multi-channel intelligence. </div>
        </div>
    </div>
  </div>
</div></section>

<section class="content advanced-second-section">
  <div class="container">
    <div class="subcontainer9 pull-center">
      <h1>Complete visibility.<br> Smarter right-time decisions.</h1>
      <p>Create a 360-degree performance review tailored to your business priorities. Round out your customer intelligence by understanding visitor behavior and predicting store performance. </p>
      <img src="../../img/product/complete-visibility.png">
    </div>
  </div>
</section>
<section class="content advanced-feature-section">
  <div class="container">
    <div class="subcontainer12 pull-center">
      <h1>Advanced features.  Comprehensive Insights.</h1>
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/product/reporting-icon.png"></div>
          <div>
            Regional and categorical roll-up reporting</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/product/promotion-icon.png"></div>
          <div>
          Promotion, resets, and event impact assessment </div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/product/segmentation-icon.png"></div>
          <div>
          Customer segmentation and loyalty assessment</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/product/staffing-icon.png"></div>
          <div>
          Labor optimization and staffing schedules</div>
        </div>
    </div>
          <div class="row">
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/product/metric-icon.png"></div>
          <div>
            Zone-level metrics</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/product/insight-icon.png"></div>
          <div>
          Automated insights and predictive analysis</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/product/industry-icon.png"></div>
          <div>
            Industry, segment, and geographic benchmarking</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/product/api-icon.png"></div>
          <div>
          Flexible reporting, integration, and API access</div>
        </div>
    </div>
    </div>
  </div>
</section>


<section class="content advanced-last-section">
  <div class="container">
    <div class="subcontainer9 pull-center">
      <h1>Get in touch today.</h1>
      <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn pull-center">Contact Us</a>
    </div>
  </div>
</section>





