<% content_for :pagetitle do %>EventIQ<% end %>


<div class="header-wrap subnav-wrap">
</div>
    
<section class="content featured-content-grad no-pad">
<div class="hero-container">
    <div class="hero-unit hero-eventIQ">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Introducing Euclid EventIQ™</h1>
                    <p>Understand the impact of marketing and operational events on your stores. Seasonal promotion? Measure it. New menu item? See if it builds loyalty. Updated staffing model? Know if it’s working.</p>
                    <a href="http://info.euclidanalytics.com/Free-Trial" class="btn btn-marg">Get it now</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
  
<section class="content advanced-section">
  <div class="container">
    <div class="subcontainer9 pull-center">
      <h1>Less guessing. More doing.</h1>
      <div class="row">
<iframe width="640" height="360" src="https://www.youtube.com/embed/G9liwK5Mklk" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div></section>

<section class="content advanced-second-section eventIQ">
  <div class="container">
    <div class="pull-center">
      <h1>Be data-driven in all you do.</h1>
      <p>Let anecdotes only be part of how you measure success. With Euclid EventIQ, visualize behavioral trends and understand customer patterns.<br> Finally--retail analytics to make sure you’re getting the customer experience right in your stores.</p>
     </div>   
      <div class="row" style="width:950px">  
        <div class="col-md-8">
          <img src="../../img/eventIQ/eventiq_dashboard_web.png">
        </div>
         <div class="col-md-4">
         <ul class="eventIQ-list">
            <li> See if your event is bringing in your regulars, new customers or both</li>
            <li> Import your POS data and know the impact to the bottom line</li>
            <li> Quickly share key insights or export for further analysis </li>
         </ul>
         </div>
      </div>
    </div>
</section>
<section class="content advanced-feature-section eventIQ-section">
  <div class="container">
    <div class="subcontainer12 pull-center">
      <h1>Without data science, they're just numbers.</h1>
      <div class="row">
      <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-lg-5 col-md-5 col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/eventIQ/retail_web_icon.png"></div>
          <div>
          <h3>Retail</h3>
            Know exactly how to tailor your next promotion, whether you add greeters, improve the layout or hand out samples to bring in shoppers.</div>
        </div>
        <div class="col-lg-5 col-md-5 col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/eventIQ/qsr_icon_web.png"></div>
          <div>
          <h3>QSR and Coffee</h3>
          Get smarter about testing menu changes and the campaigns you run around them. Are they driving stickiness with your regulars or creating new fans?</div>
        </div>
        <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1"></div>
    </div>
          <div class="row">
          <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-lg-5 col-md-5 col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/eventIQ/mall_web_icon.png"></div>
          <div>
          <h3>Malls</h3>
            Stop wasting time and dollars on events that don’t work. Measure which events drive traffic to your mall, and which tenant zones benefit the most. </div>
        </div>
       <div class="col-lg-5 col-md-5 col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/eventIQ/auto_show_icon.png" class="autoImg"></div>
          <div>
          <h3>Auto</h3>
          Have the data to support future marketing investments. What impact does an ad campaign or local auto show have on dealership traffic?  </div>
        </div>
        <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1"></div>
    </div>
    </div>
  </div>
</section>


<section class="content advanced-last-section">
  <div class="container">
    <div class="subcontainer9 pull-center">
      <h1>Unleash your stores' potential today.</h1>
      <a href="http://info.euclidanalytics.com/Free-Trial" class="btn pull-center">Contact Us</a>
    </div>
  </div>
</section>





