<% content_for :pagetitle do %>Answers and insights for QSR, restaurants and coffee stores<% end %>
<% content_for :pagehead do %>

<div id="banner-qsr-holder" class="banner-holder">
	<div class="content featured-content-light banner banner-next" id="banner-qsr-next"></div>
	<div class="content featured-content-light banner banner-cur" id="banner-qsr-cur"></div>
</div>
<div class="content featured-content-light banner banner-content" id="banner-qsr">
	<div class="container">
		<div class="subcontainer6 featured-content-textarea pull-right">
			<div class="featured-content-textarea-inner">
				<h1 class="light-text">Euclid Advanced</h1>
				<p class="large-text">Improve store performance and offline customer experience. Packaged business solutions by vertical.</p>
	    	  	<p class="clearfix"><a href="http://info.euclidanalytics.com/ContactUs.html" target="_blank" class="btn dark-btn clearfix">Contact Us</a></p>
	    	  </div>
			</div>
		</div>
	</div>
</div>

<% end %>
	
<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  		

	  	<div class="col9 separated">
		  	<div class="underlined sectionlabel">Tailored Answers for</div> 
				<ul class="">
					<li><%= link_to 'Specialty Retail', '/solutions/specialty' %></li>
					<li><%= link_to 'QSR & Coffee', '/solutions/qsr' %></li>
					<li><%= link_to 'Large Format', '/solutions/department' %></li>
				</ul>
			</div>

	  	<div class="col9 separated">
		  	<div class="underlined sectionlabel">Packaged Business Solutions</div> 
				<ul class="">
					<li>Marketing ROI: Measure offline impact of marketing</li>
					<li>Store Performance: Optimize and benchmark store performance </li>
					<li>Customer Segmentation: Improve customer experience and drive loyalty</li>
				</ul>
			</div>

	  	<div class="col9 separated">
		  	<div class="underlined sectionlabel">Access Advanced Analytics</div> 
				<ul class="">
					<li>Hierarchy roll-up reporting</li>
					<li>Integration of sales data </li>
					<li>Event, promotion, and floor set impact assessment</li>
					<li>Cross-location analysis</li>
					<li>Customer value attribution</li>
					<li>Predictive analysis</li>
					<li>Zone-level data</li>
					<li>Benchmarking vs. industry, segment and geographic averages</li>
				</ul>
			</div>

	  	<div class="col9 separated">
		  	<div class="underlined sectionlabel">Additional Features and Services</div> 
				<ul class="">
					<li>
						Features
						<ul>
							<li>Deep Excel integration</li>
							<li>Report broadcasting</li>
							<li>Automated export</li>
							<li>Integration into data warehouse and business intelligence tools</li>
							<li>API access</li>
						</ul>
					</li>
					<li>
						Services and Support
						<ul>
							<li>Advanced analytics training</li>
							<li>Five sessions with Euclid Professional Services</li>
							<li><%= link_to 'Email and phone support', '/about/contact' %></li>
							<li>Client success manager</li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="col9">
				<p class="large-text">To learn more about Euclid Advanced</p>
	    	<p class="clearfix"><a href="http://info.euclidanalytics.com/ContactUs.html" class="btn dark-btn clearfix">Contact Us</a></p>
	    </div>	  



	  </div>
  </div>
</section> 
