<% content_for :pagetitle do %>Answers and insights for QSR, restaurants and coffee stores<% end %>
<% content_for :pagehead do %>
<section class="content featured-content-grad no-pad">
<div class="hero-container">
    <div class="hero-unit hero-unit-advanced">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Euclid Advanced<br> Be the smartest store on the block.</h1>
                    <p>Euclid Advanced provides the industry’s most sophisticated analytics for specialty retail, QSR and coffee, and large format locations. It combines customer behavior, location, and transaction data to give retailers unprecedented visibility into the path to purchase.</p>
                    <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn btn-marg">Get Advanced</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<% end %>
	
<section class="content advanced-section">
  <div class="container">
  	<div class="subcontainer9 pull-center">
  		<h1>Turbo-charge your marketing, operations, and strategy.</h1>
  		<div class="row">
			  <div class="col-xs-12 col-sm-6 col-md-4">
			  	<div class="block"><img src="../../img/product/sale-icon.png"></div>
			  	<div>
				<h2>Measure</h2>
			  	Measure offline ROI for marketing campaigns. See how promotions are bringing customers in the door.</div>
			  </div>
			  <div class="col-xs-12 col-sm-6 col-md-4">
			  	<div class="block"><img src="../../img/product/analyze-icon.png"></div>
			  	<div>
			  	<h2>Analyze</h2>	
			  	Analyze why locations are successful in attracting, engaging, and retaining customers. </div>
			  </div>
			  <div class="col-xs-12 col-sm-6 col-md-4">
			  	<div class="block"><img src="../../img/product/improve-icon.png"></div>
			  	<div>
				<h2>Improve</h2>
			  	Improve chainwide performance and real estate strategy. Grow your multi-channel intelligence. </div>
			  </div>
  	</div>
  </div>
</section>

<section class="content advanced-second-section">
  <div class="container">
  	<div class="subcontainer9 pull-center">
  		<h1>Complete visibility.<br> Smarter right-time decisions.</h1>
  		<p>Create a 360-degree performance review tailored to your business priorities. Round out your customer intelligence by understanding visitor behavior and predicting store performance. </p>
  		<img src="../../img/product/complete-visibility.png">
  	</div>
  </div>
</section>
<section class="content advanced-feature-section">
  <div class="container">
  	<div class="subcontainer12 pull-center">
  		<h1>Advanced features.  Comprehensive Insights.</h1>
  		<div class="row">
			  <div class="col-xs-6 col-sm-3">
			  	<div class="block"><img src="../../img/product/reporting-icon.png"></div>
			  	<div>
			  		Regional and categorical roll-up reporting</div>
			  </div>
			  <div class="col-xs-6 col-sm-3">
			  	<div class="block"><img src="../../img/product/promotion-icon.png"></div>
			  	<div>
			  	Promotion, resets, and event impact assessment </div>
			  </div>
			  <div class="col-xs-6 col-sm-3">
			  	<div class="block"><img src="../../img/product/segmentation-icon.png"></div>
			  	<div>
			  	Customer segmentation and loyalty assessment</div>
			  </div>
			  <div class="col-xs-6 col-sm-3">
			  	<div class="block"><img src="../../img/product/staffing-icon.png"></div>
			  	<div>
			  	Labor optimization and staffing schedules</div>
			  </div>
  	</div>
  	  		<div class="row">
			  <div class="col-xs-6 col-sm-3">
			  	<div class="block"><img src="../../img/product/metric-icon.png"></div>
			  	<div>
			  		Zone-level metrics and pathing</div>
			  </div>
			  <div class="col-xs-6 col-sm-3">
			  	<div class="block"><img src="../../img/product/insight-icon.png"></div>
			  	<div>
			  	Automated insights and predictive analysis</div>
			  </div>
			  <div class="col-xs-6 col-sm-3">
			  	<div class="block"><img src="../../img/product/industry-icon.png"></div>
			  	<div>
			  		Industry, segment, and geographic benchmarking</div>
			  </div>
			  <div class="col-xs-6 col-sm-3">
			  	<div class="block"><img src="../../img/product/api-icon.png"></div>
			  	<div>
			  	Flexible reporting, integration, and API access</div>
			  </div>
  	</div>
  	</div>
  </div>
</section>


<section class="content advanced-last-section">
  <div class="container">
  	<div class="subcontainer9 pull-center">
  		<h1>Get in touch today.</h1>
  		<a href="http://info.euclidanalytics.com/ContactUs.html" class="btn pull-center">Contact Us</a>
   	</div>
  </div>
</section>


