<% content_for :pagetitle do %>Products<% end %>
<% content_for :pagehead do %>



<% end %>

<div class="hero-container">
    <div class="hero-unit">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Euclid Express.</h1>
                    <h1>Free analytics for the physical world.</h1>
                    <p>Euclid Express helps you understand your customers beyond transactions, maximizing your business intelligence. With unlimited access to the metrics essential to brick and mortar operations, Express translates data on shopping patterns and location activity into highly actionable insights.</p>
                    <a href="http://dashboard.euclidelements.com" class="btn dark-btn">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="feedback-area">
    <div class="main-wrap main-content">
        <div class="row">
            <div class="col-xs-12">
                <h1>Online dashboard. Offline answers.</h1>
                <p>See data collecting in real-time. View hourly, daily, and weekly summaries of key metrics. Compare stores and trends. The Express dashboard answers your fundamental business questions with insights on visits, repeats, storefront conversions, shop duration, and more.</p>
                <div id="charts-static"><img src="/img/express/charts-static.png"/></div>
                <div id="ring-chart-area" class="row">
                    <div class="col-xs-6 col-md-3">
                        <div class="ring-chart-container">
                            <div id="ring-chart-1" class="ring-chart">
                                <div class="ring-0 graph-light-color"></div>
                                <div class="ring-1 graph-light-color"></div>
                                <div class="ring-2 graph-medium-color"></div>
                                <div class="ring-3 graph-dark-color"></div>
                                <div class="white-mask"></div>
                                <div class="ring-center"></div>
                                <div class="ring-label">
                                    <div class="ring-label-text">Duration</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="ring-chart-container">
                            <div id="ring-chart-2" class="ring-chart">
                                <div class="ring-0 graph-light-color"></div>
                                <div class="ring-1 graph-light-color"></div>
                                <div class="ring-2 graph-medium-color"></div>
                                <div class="ring-3 graph-dark-color"></div>
                                <div class="white-mask"></div>
                                <div class="ring-center"></div>
                                <div class="ring-label">
                                    <div class="ring-label-text">Unique Devices</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="ring-chart-container">
                            <div id="ring-chart-3" class="ring-chart">
                                <div class="ring-0 graph-light-color"></div>
                                <div class="ring-1 graph-light-color"></div>
                                <div class="ring-2 graph-medium-color"></div>
                                <div class="ring-3 graph-dark-color"></div>
                                <div class="white-mask"></div>
                                <div class="ring-center"></div>
                                <div class="ring-label">
                                    <div class="ring-label-text">Times in store</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="ring-chart-container">
                            <div id="ring-chart-4" class="ring-chart">
                                <div class="ring-0 graph-light-color"></div>
                                <div class="ring-1 graph-light-color"></div>
                                <div class="ring-2 graph-medium-color"></div>
                                <div class="ring-3 graph-dark-color"></div>
                                <div class="white-mask"></div>
                                <div class="ring-center"></div>
                                <div class="ring-label">
                                  <div class="ring-label-text">Recency</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="bar-chart-area" class="row">
                    <div class="col-xs-12">
                        <div id="bar-chart-container">
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-light-color"></div>
                            </div>
                            <div class="bar-container">
                                <div class="bar graph-dark-color"></div>
                            </div>
                        </div>
                        <div class="bar-chart-label">Devices seen over time</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.main-wrap -->
</div>
<!-- /.feedback-area -->

<div id="diagram-area">
    <div class="main-wrap main-content">
        <div class="row">
            <div class="col-xs-12">
                <h1>Turn existing data into powerful insights.</h1>
                <p>Euclid Express translates anonymous device data into customer intelligence. With no cost to sign-up, Express is an instant solution that helps you make smarter operational decisions based on everyday customer behavior.</p>
                <div id="insights-diagram-static"><img src="/img/express/diagram-static.png"/></div>
                <div id="insights-diagram">
                    <div class="diagram-image" id="mobile-devices"></div>
                    <div class="dots-container">
                        <div class="dots">
                            <div class="dot" id="dot-1"></div>
                            <div class="dot center-dot" id="dot-2"></div>
                            <div class="dot" id="dot-3"></div>
                        </div>
                    </div>
                    <div class="diagram-image" id="router"></div>
                    <div class="dots-container">
                        <div class="dots">
                            <div class="dot" id="dot-4"></div>
                            <div class="dot center-dot" id="dot-5"></div>
                            <div class="dot" id="dot-6"></div>
                        </div>
                    </div>
                    <div class="diagram-image" id="laptop">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.main-wrap -->
</div>

<div id="activation-area">
    <div class="main-wrap main-content">
        <div class="row">
            <div class="col-xs-12">
                <h1>Simple activation at no cost.</h1>
                <p>Euclid Express offers industry-leading analytics with no additional infrastructure investment. Sign-up and activate in minutes through existing hardware provided by any of our Wi-Fi partners.</p>
                <div class="row" id="logo-area">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <div id="logo1" class="logo"><img src="/img/express/logo1.png"/></div>
                                <div id="logo5" class="logo"><img src="/img/express/logo2.png"/></div>
                            </div>
                            <div class="col-xs-6">
                                <div id="logo2" class="logo"><img src="/img/express/logo3.png"/></div>
                                <div id="logo6" class="logo"><img src="/img/express/logo4.png"/></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <div id="logo3" class="logo"><img src="/img/express/logo5.png"/></div>
                                <div id="logo7" class="logo"><img src="/img/express/logo6.png"/></div>
                            </div>
                            <div class="col-xs-6">
                                <div id="logo4" class="logo"><img src="/img/express/logo7.png"/></div>
                                <div id="logo8" class="logo"><img src="/img/express/logo8.png"/></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.main-wrap -->
</div>

<div id="get-started-area">
    <div class="main-wrap main-content">
        <div class="row">
            <div class="col-xs-12">
                <h1>Get started today.</h1>
                <p>The path to smarter business is easy: sign-up, access our Knowledge Base for activation, and see essential customer metrics from day one. Euclid Express is powerful, easy to use, and completely free. Why not start today?</p>
                <a href="http://dashboard.euclidelements.com" class="btn dark-btn">Sign Up</a>
                <a href="http://dashboard.euclidelements.com" class="btn">Contact us</a>
            </div>
        </div>
    </div>
    <!-- /.main-wrap -->
</div>

<script>expressInit();</script>