<% content_for :pagetitle do %>Products<% end %>
<% content_for :pagehead do %><% end %>
<% content_for :headextra do %><%= stylesheet_link_tag 'express-styles' %><%= javascript_include_tag 'express_scripts' %><% end %>

<div class="hero-container">
    <div class="hero-unit hero-unit--express">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Euclid Express<br>
                    Location analytics for brick and mortar.</h1>
                    <p>Easy and affordable, Euclid Express helps you understand your customers beyond transactions. With key behavioral metrics and an intuitive dashboard, Express translates essential visitor behavior data into actionable insights—all over Wi-Fi.</p>
                    <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn dark-btn btn-marg">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="feedback-area" class="advanced-section">
    <div class="main-wrap main-content">
        <div class="row margin-top">
            <div class="col-xs-12">
                <h1>Online dashboard. Offline answers.</h1>
                <div class="col-md-7" style="margin-top:40px"><img src="../../img/product/express_1.png"></div>
                <div class="col-md-4 col-xs-12">
                <p style="margin-top:140px">
                <a href="http://info.euclidanalytics.com/WC15-06DoorCountersNotEnough.html">Go beyond what your door counter tells you.</a> Measure how well you attract, engage, and retain visitors by connecting the dots between visit activity and sales performance.</p></div>
            </div>    
        </div>        
        

        <div class="row margin-top">
            <div class="col-md-12">
                <div class="col-md-4 col-xs-12">
                <p style="margin-top:140px">With tailored dashboards and behavioral metrics, understand your customers and make better marketing and operations decisions.</p></div>
                <div class="col-md-8" style="margin-top:60px;"><img src="../../img/product/express_2.png"></div>
            </div>    
        </div>   

        <div class="row">
            <div class="col-xs-12">

                <div id="charts-static"><img src="/img/express/charts-static.png"/></div>
               

                <div id="ring-chart-area" class="row" style="display:none">

                    <div class="col-xs-6 col-md-4">
                        <div class="ring-chart-container">
                            <div id="ring-chart-2" class="ring-chart">
                                <div class="ring-0 graph-light-color"></div>
                                <div class="ring-1 graph-light-color"></div>
                                <div class="ring-2 graph-medium-color"></div>
                                <div class="ring-3 graph-dark-color"></div>
                                <div class="white-mask"></div>
                                <div class="ring-center"></div>
                    
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <div class="ring-chart-container">
                            <div id="ring-chart-1" class="ring-chart">
                                <div class="ring-0 graph-light-color"></div>
                                <div class="ring-1 graph-light-color"></div>
                                <div class="ring-2 graph-medium-color"></div>
                                <div class="ring-3 graph-dark-color"></div>
                                <div class="white-mask"></div>
                                <div class="ring-center"></div>
                                <div class="ring-label">
                                    <div class="ring-label-text">Duration</div>
                                </div>
                            </div>
                        </div>
                    </div>
             <div class="col-xs-6 col-md-4">
                        <div class="ring-chart-container">
                            <div id="ring-chart-3" class="ring-chart">
                                <div class="ring-0 graph-light-color"></div>
                                <div class="ring-1 graph-light-color"></div>
                                <div class="ring-2 graph-medium-color"></div>
                                <div class="ring-3 graph-dark-color"></div>
                                <div class="white-mask"></div>
                                <div class="ring-center"></div>
                                <div class="ring-label">
                                    <div class="ring-label-text">Repeats</div>
                                </div>
                            </div>
                        </div>
                    </div> 
<!--                      <div class="col-xs-6 col-md-4">
                        <div class="ring-chart-container">
                            <div id="ring-chart-4" class="ring-chart">
                                <div class="ring-0 graph-light-color"></div>
                                <div class="ring-1 graph-light-color"></div>
                                <div class="ring-2 graph-medium-color"></div>
                                <div class="ring-3 graph-dark-color"></div>
                                <div class="white-mask"></div>
                                <div class="ring-center"></div>
                                <div class="ring-label">
                                  <div class="ring-label-text">Recency</div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>

            </div>
        </div>
    </div>
    <!-- /.main-wrap -->
</div>
<!-- /.feedback-area -->

<div class="express-metrics">
       <div class="main-wrap main-content">
        <div class="row">
            <div class="col-xs-8">
            <h1>Essential Visitor Metrics.</h1>
                <p>Know your customers, not just your transactions. Euclid gives you a more complete view of visitor behavior with a broad array of actionable metrics. Get insights on what converts your customers and keeps them engaged.</p>
<div class="row">
  <div class="col-xs-6 col-sm-4"> 
    <div class="block first"><img src="../../img/product/outsideOpportunity.png"></div>
        <div>
            <h5>Storefront Potential</h5>
            <!-- Number of people walking by your stores -->
        </div>
  </div>
  <div class="col-xs-6 col-sm-4"> 
    <div class="block ninth"><img src="../../img/product/walk-bys.png"></div>
        <div>
            <h5>Walk-Bys</h5>
           <!--  Number of days visitors wait before returning -->
        </div>
  </div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs"></div>
  <div class="col-xs-6 col-sm-4"> 
    <div class="block second"><img src="../../img/product/visits.png"></div>
        <div>
            <h5>Visitors</h5>
            <!-- Number of visitors detected inside the store -->
        </div>
  </div>

</div>
<div class="row">

  <div class="col-xs-6 col-sm-4"> 
    <div class="block third"><img src="../../img/product/storefrontConversion.png"></div>
        <div>
            <h5>Storefront Conversion</h5>
            <!-- Percentage of people that come inside -->
        </div>
  </div>
  <div class="col-xs-6 col-sm-4"> 
    <div class="block fourth"><img src="../../img/product/visitDuration.png"></div>
        <div>
            <h5>Duration</h5>
            <!-- Amount of time visitors spend inside the store -->
        </div>
  </div>

  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs"></div>
  <div class="col-xs-6 col-sm-4"> 
    <div class="block sixth"><img src="../../img/product/engagementRate.png"></div>
        <div>
            <h5>Engagement Rate</h5>
            <!-- Percentage of visitors engaged in <”x” minutes -->
        </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-4"> 
    <div class="block fifth"><img src="../../img/product/bounceRate-icon.png"></div>
        <div>
            <h5>Bounce Rate</h5>
            <!-- Percentage of visitors leaving in <”x” minutes -->
        </div>
  </div>
  <div class="col-xs-6 col-sm-4"> 
    <div class="block seventh"><img src="../../img/product/newVisitors.png"></div>
        <div>
            <h5>New Visitors</h5>
            <!-- Percentage of visitors that are new -->
        </div>
  </div>
  <div class="col-xs-6 col-sm-4"> 
    <div class="block eigth"><img src="../../img/product/repeatVisitors.png"></div>
        <div>
            <h5>Repeat Visitors</h5>
        </div>
  </div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs"></div>

</div>

            </div>
        </div>
        </div>
    <!-- /.main-wrap -->
</div>

<div id="activation-area">
<div id="diagram-area">
    <div class="main-wrap main-content">
        <div class="row">
            <div class="col-xs-12">
            <h1>Easy to activate. No hardware needed.</h1>
                <p>Sign-up and activate in minutes using your existing Wi-Fi hardware. Euclid Express is an instant solution that helps you make smarter business decisions based on customer behavior.</p>            
            <div id="insights-diagram-static"><img src="/img/express/diagram-static.png"/></div>
                <div id="insights-diagram">
                    <div class="diagram-image" id="mobile-devices"></div>
                    <div class="dots-container">
                        <div class="dots">
                            <div class="dot" id="dot-1"></div>
                            <div class="dot center-dot" id="dot-2"></div>
                            <div class="dot" id="dot-3"></div>
                        </div>
                    </div>
                    <div class="diagram-image" id="router"></div>
                    <div class="dots-container">
                        <div class="dots">
                            <div class="dot" id="dot-4"></div>
                            <div class="dot center-dot" id="dot-5"></div>
                            <div class="dot" id="dot-6"></div>
                        </div>
                    </div>
                    <div class="diagram-image" id="laptop">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.main-wrap -->
</div>

            </div>


<div id="get-started-area">
    <div class="main-wrap main-content">
        <div class="row">
            <div class="col-xs-12">
                <h1>Unleash your stores’ potential. </h1>
                <p>Did you know that <a href="http://euclidanalytics.com/products/advanced/">Euclid Advanced</a> is free to try for 60-days?  Explore the fastest and easiest way to actionable insights across your entire chain.</p>
                <a href="http://info.euclidanalytics.com/Free-Trial" class="btn dark-btn">Sign Up</a>
            </div>
        </div>
    </div>
    <!-- /.main-wrap -->
</div>

<script>expressInit();</script>