<% content_for :pagetitle do %>Products<% end %>

<div id="feedback-area" class="plansPage">
<div class="main-wrap main-content">
        
<!-- <div class="table-responsive">
<table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Euclid Express</th>
          <th>Euclid Plus</th>
          <th>Euclid Advanced</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Behavioral Metrics</th>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
        </tr>
        <tr>
          <th scope="row">Customizable Dashboards</th>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
        </tr>
        <tr>
          <th scope="row">Custom Reports</th>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
        </tr>
        <tr>
          <th scope="row">Import POS and Traffic Data</th>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
        </tr>
        <tr>
          <th scope="row">Chainwide Performance</th>
          <td></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
        </tr>
        <tr>
          <th scope="row">Compare Locations</th>
          <td></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
        </tr>
        <tr>
          <th scope="row">Export API</th>
          <td></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
        </tr>
        <tr>
          <th scope="row">Zoning</th>
          <td></td>
          <td></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
        </tr>
        <tr>
          <th scope="row">Line Wait Times</th>
          <td></td>
          <td></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
        </tr>
        <tr>
          <th scope="row">Online Support</th>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
        </tr>
        <tr>
          <th scope="row">Phone Support</th>
          <td></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
        </tr>
        <tr>
          <th scope="row">Client Success Manager</th>
          <td></td>
          <td></td>
          <td><img src="https://a.gfx.ms/emoji_02714.png"></td>
        </tr>
      </tbody>
    </table>
</div> -->
        <div class="row">
            <div class="col-xs-12">
                <h1>Plans & Pricing</h1>
                <p> Choose the best plan for your business needs.</p>

                <div id="bar-chart-area" class="row plans">
                    <div class="col-xs-12">
                    <div class="items">
<div class="row labelSection"> 
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3 leftSection">
           <div class="vsection"> </div>
             <div class="whitestrip">Behavioral Metrics</div>   
             <div class="whitestrip">Customizable Dashboards</div>  
             <div class="whitestrip">Custom Reports</div>   
             <div class="whitestrip">Import POS and Traffic Data</div>
             <div class="whitestrip">Chainwide Performance</div>
             <div class="whitestrip">Compare Locations</div>   
             <div class="whitestrip">Role Based Permissioning</div> 
             <div class="whitestrip">Export API</div>  
             <div class="whitestrip">Zoning</div>   
             <div class="whitestrip">Line Wait Times</div>
             <div class="whitestrip">Online Support</div>          
             <div class="whitestrip">Phone Support</div>
             <div class="whitestrip">Client Success Manager</div>   
          </div>

          <div>
          <!-- <h4>Euclid Advanced Customers</h4> -->
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3 blueBorder">          
          <div class="vsection">      
            <h2>Express</h2>
            <p>Essential visitor analytics <br>for all locations</p>  

              <img src="../../img/product/harrow1.jpg" alt="img" class="arrowMargin" width="225" height="55">
              <h3>Free*</h3>
              <a href="http://info.euclidanalytics.com/ExpressSignUp.html" class="btn">Activate Now</a>
            </div>
            <div class="strip"><img src="https://a.gfx.ms/emoji_02714.png"></div> 

            <div class="whitestrip"><img src="https://a.gfx.ms/emoji_02714.png"></div> 

            <div class="strip"><img src="https://a.gfx.ms/emoji_02714.png"></div>  

             <div class="whitestrip"><img src="https://a.gfx.ms/emoji_02714.png"></div>  

            <div class="strip"></div>   
             <div class="whitestrip"></div>  

            <div class="strip"></div> 
                      <div class="whitestrip"></div>       
             <div class="strip"></div>  

            <div class="whitestrip"></div>   
             <div class="strip"><img src="https://a.gfx.ms/emoji_02714.png"></div>  

            <div class="whitestrip"></div>   
             <div class="strip" style="border-bottom:solid 2px #b9dced"></div>                    
          </div>
          
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3 blueBorder">
          <div class="vsection">        
            <h2>Plus</h2>
            <p>Tailored reporting and <br>flexible delivery</p>  
              <img src="../../img/product/varrow2.jpg" alt="img" width="225" height="55">  
              <h3>$20/AP/month**</h3>
              <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn">Start Today</a>   

            </div>
            <div class="strip"><img src="https://a.gfx.ms/emoji_02714.png"></div> 

            <div class="whitestrip"><img src="https://a.gfx.ms/emoji_02714.png"></div> 

            <div class="strip"><img src="https://a.gfx.ms/emoji_02714.png"></div>  

             <div class="whitestrip"><img src="https://a.gfx.ms/emoji_02714.png"></div>  

            <div class="strip"><img src="https://a.gfx.ms/emoji_02714.png"></div>   
             <div class="whitestrip"><img src="https://a.gfx.ms/emoji_02714.png"></div>  

            <div class="strip"><img src="https://a.gfx.ms/emoji_02714.png"></div>   
<div class="whitestrip"><img src="https://a.gfx.ms/emoji_02714.png"></div>        
             <div class="strip"></div>  

            <div class="whitestrip"></div>   
             <div class="strip"><img src="https://a.gfx.ms/emoji_02714.png"></div>  

            <div class="whitestrip"><img src="https://a.gfx.ms/emoji_02714.png"></div>   
             <div class="strip" style="border-bottom:solid 2px #b9dced"></div>   
          </div>
                    
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
          <div class="vsection">             
            <h2>Advanced</h2>    
            <p>Advanced analytics and <br>custom solutions</p>   
            <img src="../../img/product/varrow3.jpg" alt="img" width="225" height="55">
            <h3>Contact Sales</h3>
            <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn">Contact Sales</a>
          </div>
            <div class="strip"><img src="https://a.gfx.ms/emoji_02714.png"></div> 

            <div class="whitestrip"><img src="https://a.gfx.ms/emoji_02714.png"></div> 

            <div class="strip"><img src="https://a.gfx.ms/emoji_02714.png"></div>  

             <div class="whitestrip"><img src="https://a.gfx.ms/emoji_02714.png"></div>  

            <div class="strip"><img src="https://a.gfx.ms/emoji_02714.png"></div>   
             <div class="whitestrip"><img src="https://a.gfx.ms/emoji_02714.png"></div>  

            <div class="strip"><img src="https://a.gfx.ms/emoji_02714.png"></div>  
<div class="whitestrip"><img src="https://a.gfx.ms/emoji_02714.png"></div>         
             <div class="strip"><img src="https://a.gfx.ms/emoji_02714.png"></div>  

            <div class="whitestrip"><img src="https://a.gfx.ms/emoji_02714.png"></div>   
             <div class="strip"><img src="https://a.gfx.ms/emoji_02714.png"></div>  

            <div class="whitestrip"><img src="https://a.gfx.ms/emoji_02714.png"></div>   
             <div class="strip" style="border-bottom:solid 2px #b9dced"><img src="https://a.gfx.ms/emoji_02714.png"></div>  
  
          </div>
        </div>
        </div>

</div>
 </div>
        </div>
    </div>
</div>
  <div class="footSection">
      <p> * Free with Wi-Fi APs from Euclid’s existing Wi-Fi technology partners. <br>$100/sensor one time provisioning fee for Euclid sensor. </p>
      <p>** Based on annual upfront billing. Volume discounts available. For monthly billing, Plus is $25/AP/month.</p>
  </div>
   		</div>
    </div>
	</div>
</div>