<% content_for :pagetitle do %>Products<% end %>

<div id="feedback-area" class="plansPage">
<div class="main-wrap main-content">
        <div class="row">
            <div class="col-xs-12">
                <h1>Plans & Pricing</h1>
                <p> Choose the best plan for your business needs.</p>

                <div id="bar-chart-area" class="row plans">
                    <div class="col-xs-12">
                    <div class="items">
<div class="row labelSection"> 
          <div class="item col-sm-2 col-xs-12 col-md-2 col-lg-2 leftSection">
           <div class="vsection"> </div>
             <div class="whitestrip">Analytics</div>   
             <div class="whitestrip">Visibility</div>  
             <div class="whitestrip">Applications</div>   
             <div class="whitestrip">Delivery</div>
             <div class="whitestrip">Support</div>
          </div>

          <div>
          <!-- <h4>Euclid Advanced Customers</h4> -->
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3 blueBorder">          
          <div class="vsection">      
            <h2>Express</h2>
            <p>Essential visitor analytics <br>for all locations</p>  

              <img src="../../img/product/harrow1.jpg" alt="img" class="arrowMargin" width="225" height="55">
              <h3>Free*</h3>
              <a href="http://info.euclidanalytics.com/ExpressSignUp.html" class="btn">Activate Now</a>
            </div>
             <div class="strip"><a href="#" id="tooltip1" data-container="body" data-title="Essential Visitor Metrics" data-toggle="popover" data-placement="bottom" data-content="Start with Essential Visitor Metrics that measure visit behavior with eight key metrics including: Outside Opportunity, Storefront Conversion, Visits, Visit Duration, Engagement Rate, Bounce Rate, New Visits, and Repeat Visits. ">Essential Visitor Metrics</a></div> 
             
             <div class="whitestrip"><a href="#" id="tooltip2" data-title="Per Location Entire Network" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Gain visibility into visit behavior by each location and aggregated across your entire network.">Per Location <br>Entire Network</a>
             </div>        
             
             <div class="strip"><a href="#" id="tooltip3" data-title="Customizable Dashboards Compare Locations" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Create custom dashboards and select the metrics most relevant to your business. Compare performance between any locations. ">Customizable Dashboards<br>Compare Locations</a></div> 
             

             <div class="whitestrip"><a href="#" id="tooltip4" data-title="Custom Reports and Express Export" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Create custom reports with the Essential Visitor Metrics, choosing date range and locations.">Custom Reports<br>Express Export</a></div>  

            <div class="strip"><a href="#" id="tooltip5" data-title="Online Support" data-container="body" data-toggle="popover" data-placement="bottom" data-content="12x5 online support through Euclid’s Knowledge Base.">Online Support</a></div>                      
          </div>
          
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3 blueBorder">
          <div class="vsection">        
            <h2>Plus</h2>
            <p>Tailored reporting and <br>flexible delivery</p>  
              <img src="../../img/product/varrow2.jpg" alt="img" width="225" height="55">  
              <h3>$20/AP/month**</h3>
              <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn">Start Today</a>   
              <p class="pad-40">All Express features, plus</p>
            </div>
            <div class="strip"><a href="#" id="tooltip6" data-title="Loyalty Metrics and Visitor Cohorts" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Gain insight into visitor behavior with Loyalty Metrics that provide Visit Recency and Frequency. Segment the Essential Visitor Metrics plus Frequency and Recency metrics by new versus repeat visitors. Define Visitor Cohorts by Duration, Walk-by Frequency, Visit Frequency, and Visit Recency.">Loyalty Metrics <br>Visitor Cohorts</a></div>  
             
             <div class="whitestrip"><a href="#" id="tooltip7" data-title="Full Hierarchy Support" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Create hierarchies from regions down to the zone-level. Get fast insight relevant to your regional and brand group, and compare performance across your business.">Full  Hierarchy Support</a></div>       
            
            <div class="strip"><a href="#" id="tooltip8" data-title="Chainwide Performance and Zoning" data-container="body" data-toggle="popover" data-placement="bottom" data-content="View dashboards by your regional hierarchy for an ongoing view of chainwide performance. Capture zone-level visitor behavior data in large format locations.">Chainwide Performance<br>Zoning***</a></div>  

             <div class="whitestrip"><a href="#" id="tooltip9" data-title=" Plus API and Plus Export" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Export more data through the Plus Export including Loyalty Metrics and Visitor Cohorts. Get roll-up reporting by hierarchy specific to your role. Access the Euclid API.">Plus API<br>Plus Export</a></div> 

            <div class="strip"><a href="#" id="tooltip10" data-title="Phone Support" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Phone support available 12x5 in addition to online support.">Phone Support</a></div>    
          </div>
                    
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
          <div class="vsection">             
            <h2>Advanced</h2>    
            <p>Advanced analytics and <br>custom solutions</p>   
            <img src="../../img/product/varrow3.jpg" alt="img" width="225" height="55">
            <h3>Contact Sales</h3>
            <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn">Contact Sales</a>
            <p class="pad-40">All Plus features, plus</p>
          </div>
            <div class="strip"><a href="#" id="tooltip11" data-title="Benchmarking and Geographic Reach" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Create internal benchmarks and auto-alerts to identify strong and poor performance trends. Benchmark against peers. Understand geographic reach by location and where visitors are coming from.">Benchmarking<br>Geographic Reach</a></div> 

            <div class="whitestrip"><a href="#" id="tooltip12" data-title="Cross-location Insights" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Understand customer visits to multiple locations for a chainwide view of brand loyalty.">Cross-location Insights</a></div> 

            <div class="strip"><a href="#" id="tooltip13" data-title="Event Performance and Advanced Alerting" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Measure the success of specific campaigns. Capture hourly and event-based wait times and engagement. Set-up advanced alerts to monitor visit behavior.">Event Performance <br>Advanced Alerting </a></div>  

             <div class="whitestrip"><a href="#" id="tooltip14" data-title="Advanced API and Advanced Export" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Get full access to all data available including Cross-location metrics. Build additional applications with API support for custom use cases.">Advanced API Access<br>Advanced Export</a></div>  

            <div class="strip"><a href="#" id="tooltip15" data-title="Dedicated Client Success" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Dedicated account manager for project implementation.">Client Success Manager</a></div>       
          </div>
        </div>
        </div>

</div>
 </div>
        </div>
    </div>


</div>

<script>
$(function ()
{ $("#tooltip1, #tooltip2, #tooltip3, #tooltip4, #tooltip5, #tooltip6, #tooltip7, #tooltip8, #tooltip9, #tooltip10, #tooltip11, #tooltip12, #tooltip13, #tooltip14, #tooltip15").popover();
});
</script>
  <div class="footSection">
      <p> * Free with Wi-Fi APs from Euclid’s existing Wi-Fi technology partners. <br>$100/sensor one time provisioning fee for Euclid sensor. </p>
      <p>** Based on annual upfront billing. Volume discounts available. For monthly billing, Plus is $25/AP/month.</p>
       <p>*** Available in Beta only</p>
  </div>
   		</div>
    </div>
	</div>
</div>