<% content_for :pagetitle do %>Answers and insights for QSR, restaurants and coffee stores<% end %>
<% content_for :pagehead do %>
<section class="content featured-content-grad no-pad">
<div class="hero-container">
    <div class="hero-unit hero-unit-plus">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Euclid Plus<br>Measure and manage your locations.</h1>
                    <p>Euclid Plus provides powerful reporting to monitor chainwide performance. With the ability to compare locations, identify trends, and access expanded exports and Euclid’s API, you can now measure and manage what matters most.</p>
                    <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn dark-btn btn-marg">Get Plus</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<% end %>
  
<section class="content advanced-section">
  <div class="container">
    <div class="subcontainer9 pull-center">
      <h1>Know your customer by<br>understanding their visit activity.</h1>
      <div class="row plusp">
        <img width="625" src="../../img/product/plus-frame1.jpg">
        <p>Discover how different customer segments are responding to in-store promotions. Track visitor cohort and retention following events. Understand the value new and repeat visitors have on your business.</p>
    </div>
  </div>
</section>

<section class="content advanced-second-section">
  <div class="container">
    <div class="subcontainer9 pull-center plusp">
      <h1>Invest wisely in your locations.</h1>
      <img class="plus-frame2" src="../../img/product/plus-frame2.jpg">
      <p>Analyze leaders and laggards across your chain, and know what visitor trends are driving sales. Identify trends early, and invest in the right areas to engage and improve customer experience.</p>
    </div>
  </div>
</section>
<section class="content advanced-feature-section plusPage">
  <div class="container">
    <div class="subcontainer12 pull-center">
      <h1>Plus features.  <br>Powerful performance reporting.</h1>
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <div class="block"><img src="../../img/product/chainwide.png"></div>
          <div>
          Chainwide performance</div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="block"><img src="../../img/product/industry-icon.png"></div>
          <div>
          Compare Locations</div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="block"><img src="../../img/product/api-icon.png"></div>
          <div>
            Export API</div>
        </div>

<!--         <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/product/reporting-icon.png"></div>
          <div>
            Loyalty metrics</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/product/cohorts.png"></div>
          <div>
          Visitor cohorts</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/product/hierarchies.png"></div>
          <div>
          Hierarchies</div>
        </div> -->
    </div>
    </div>
<!--    <div class="subcontainer9 pull-center">
          <div class="row">
        <div class="col-xs-6 col-sm-4">
          <div class="block"><img src="../../img/product/metric-icon.png"></div>
          <div>
            Zoning</div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="block"><img src="../../img/product/api-icon.png"></div>
          <div>
            Plus export</div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="block"><img src="../../img/product/industry-icon.png"></div>
          <div>
          API access</div>
        </div>
    </div>
    </div> -->
  </div>
</section>


<section class="content advanced-last-section">
  <div class="container">
    <div class="subcontainer9 pull-center">
      <h1>Get in touch today.</h1>
      <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn pull-center">Contact Us</a>
    </div>
  </div>
</section>


