<% content_for :pagetitle do %>Answers and insights for QSR, restaurants and coffee stores<% end %>
<% content_for :pagehead do %>
<section class="content featured-content-grad no-pad">
<div class="hero-container">
    <div class="hero-unit hero-unit-plus">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Euclid Plus<br>Measure and manage your locations.</h1>
                    <p>Euclid Plus expands on Euclid Express by allowing you to pinpoint your efforts across your entire chain. With the ability to compare locations, identify trends, and access expanded exports through Euclid’s API, you can now quickly scale your impact.</p>
                    <a href="http://euclidanalytics.com/products/express/" class="btn dark-btn btn-marg">Get Plus</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<% end %>
  
<section class="content advanced-section">
<div class="main-wrap main-content">

        <div class="row margin-top">
            <div class="col-md-12">
                <h1>Know your customer by<br>understanding their visit activity.</h1>
                <div class="col-md-7" style="margin-top:40px"><img src="../../img/product/plus_1.png" class="plus_1" style="float:right"></div>
                <div class="col-md-4 col-xs-12" style="margin-top:40px">
                <p class="marginTop">Invest wisely in your locations. Analyze leaders and laggards across your chain by KPI, and quickly replicate best practices from your top-performing stores to the locations that need it most.</p></div>
            </div>    
        </div>        
        

        <div class="row margin-top">
            <div class="col-xs-12" style="margin-top:40px">
                <div class="col-md-4 col-xs-12">
                <p class="marginTop">Understand regional differences and focus your attention. When no two stores are the same, have the insight to manage by exception, pinpoint the lagging KPI and get stores back on track. </p></div>
                <div class="col-md-7"><img src="../../img/product/plus_2.png" class="plus_1"></div>
            </div>    
        </div>  




  </div>
</section>

<!-- <section class="content advanced-second-section">
  <div class="container">
    <div class="subcontainer9 pull-center plusp">
      <h1>Invest wisely in your locations.</h1>
      <img class="plus-frame2" src="../../img/product/plus-frame2.jpg">
      <p>Analyze leaders and laggards across your chain, and know what visitor trends are driving sales. Identify trends early, and invest in the right areas to engage and improve customer experience.</p>
    </div>
  </div>
</section> -->
<section class="content advanced-feature-section plusPage">
  <div class="container">
    <div class="subcontainer12 pull-center">
      <h1>Plus features.  <br>Powerful performance reporting.</h1>
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <div class="block"><img src="../../img/product/chainwide.png"></div>
          <div>
          Chainwide performance</div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="block"><img src="../../img/product/industry-icon.png"></div>
          <div>
          Compare Locations</div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="block"><img src="../../img/product/api-icon.png"></div>
          <div>
            Export API</div>
        </div>

<!--         <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/product/reporting-icon.png"></div>
          <div>
            Loyalty metrics</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/product/cohorts.png"></div>
          <div>
          Visitor cohorts</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/product/hierarchies.png"></div>
          <div>
          Hierarchies</div>
        </div> -->
    </div>
    </div>
<!--    <div class="subcontainer9 pull-center">
          <div class="row">
        <div class="col-xs-6 col-sm-4">
          <div class="block"><img src="../../img/product/metric-icon.png"></div>
          <div>
            Zoning</div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="block"><img src="../../img/product/api-icon.png"></div>
          <div>
            Plus export</div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="block"><img src="../../img/product/industry-icon.png"></div>
          <div>
          API access</div>
        </div>
    </div>
    </div> -->
  </div>
</section>


<section class="content advanced-last-section">
  <div class="container">
    <div class="subcontainer9 pull-center">
      <h1>Get in touch today.</h1>
      <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn pull-center">Contact Us</a>
    </div>
  </div>
</section>


