<% content_for :pagetitle do %>Euclid Executive<% end %>
<% content_for :pagehead do %><% end %>
<% content_for :headextra do %><%= stylesheet_link_tag 'express-styles' %><%= javascript_include_tag 'express_scripts' %><% end %>

<div class="hero-container">
    <div class="hero-unit hero-unit-executive">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Executive<br>
                      What gets measured gets managed.</h1>
                    <p>What do your shoppers actually experience in your brick and mortar stores? Euclid delivers the essential metrics and automated insights that help you understand customer experience—and act fast to enhance it.</p>
                    <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn btn-marg">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="solutions-row3 executives">
        <h1>Informed executive decisions.</h1>
        <div class="items">
        <div class="row"> 
         
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image first">
              <img src="../../img/solutions/excutive-assessment.png" alt="img">
            </div>            
            <h2>Assessment and Attribution</h2>            
            <p>Identify the key performance factors impacting your top line,
             predict poor performance, and increase comparable store sales.
            </p>           
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image second">
              <img src="../../img/solutions/excutive-benchmarking.png" alt="img">
            </div>            
            <h2>Benchmarking</h2>            
            <p>
               Define better customer experience benchmarks and measure performance against KPIs.
            </p>           
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image third">
              <img src="../../img/solutions/excutive-storePlacement.png" alt="img">
            </div>            
            <h2>Store Placement</h2>            
            <p>
              Fine-tune location and expansion strategy by measuring whether stores are located optimally with rent attribution and gauge potential cannibalization.
            </p>           
          </div>
          
        </div>
        </div>

        <img class="connector hide_on_mobile" src="../../img/solutions/executive-connector.png">
</div>

<div class="row-center">
        <h1>Euclid hones strategy.</h1>
        <p>Drill down into the "why" behind store performance to shape your<br>
         brand-building strategies more effectively.</p>
</div>



<div class="subcontainer9 pull-center excutives-row4">
      <h1>Euclid for Executives.</h1>
      <ul class="content-list privacy-list">
        <li class="content-list-item">
          <img class="col3" src="../../img/solutions/executive-manage.png">
          <div class="col6">
            <h2>Manage smarter by putting customers first</h2>
            <p>Transactions are only one aspect of customer behavior. Euclid's integrated analytics platform delivers a fast, simple overview of visit activity across all your locations. This helps you foster a truly holistic customer-centric approach to management.
            </p>
          </div>
        </li>
        <li class="content-list-item">
          <div class="col6">
            <h2>Understand the "why" behind sales performance</h2>
            <p>It's not just what visitors buy—it's what they don't, and why. By correlating visitor metrics to sales, Euclid helps you evaluate the results of your marketing and operations spend and allocate it more effectively to improve ROI.</p>
          </div>
           <img class="col3" src="../../img/solutions/executive-underPerforming.png">
        </li>
      </ul>
    </div>

<div id="get-started-area" class="executives-row5">
    <div class="main-wrap main-content">
        <div class="row">
            <div class="col-xs-12">
                <h1>Get started today.</h1>
                <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn">Contact Us</a>
            </div>
        </div>
    </div>
    <!-- /.main-wrap -->
</div>

<script>expressInit();</script>