<% content_for :pagetitle do %>How It Works<% end %>
<section class="content">
  <div class="container">
  	<div class="subcontainer9 pull-center">
  		<div  class="col9 separated">
	  		<h1>
	  			Easy to implement and scale
	  		</h1>
	  		<p class=" large-text">Euclid Analytics is the easiest way to measure real-world shopper behavior at all of your stores.</p>
	  		<p>Our plug-and-play sensor installs in 2 minutes - just connect power and internet. Each sensor is the size of a deck of cards and covers up to 24,000 square feet.</p>
			<p>If you have existing in-store Wi-Fi from Aruba, Aerohive, or other leading providers, you can <%= link_to 'turn your existing access points into Euclid sensors', '/product/zero/' %> with the push of a button.</p>
			<p>Once your sensors are up and running, you can view reports for all your locations in our <%= link_to 'easy-to-use web Dashboard', '/product/dashboard/' %>.</p>
			<p class="large-text">Take a closer look at how our technology works:</p>
	  	</div>
  		<div class="col3 hide-on-mobile">
  			<%= image_tag 'howitworks_flow.png' %>
  		</div>
  		<ul class="col6 pull-right how-section-list">

  			<li>
	  			<div class="sectionlabel">Shopper with smartphone approaches your store</div>
				<p>Euclid Analytics measures the behavior of all your shoppers that are carrying a Wi-Fi enabled smartphone. Typically, this is 40-70% of your shoppers, depending on the business and location.</p>
			</li>
			<li>
				<div class="sectionlabel">Smartphone broadcasts Wi-Fi pings</div>
				<p>Smartphones constantly send out short "pings" as they search for Wi-Fi networks nearby. These pings include the phone's MAC address (a unique identifier associated with a specific device) and other non-personal information like signal strength that we use to determine rough location.</p>
			</li>
			<li>
				<div class="sectionlabel">Euclid records Wi-Fi pings and sends them to the cloud</div>
				<p>Using your existing Wi-Fi infrastructure or our compact plug-and-play sensor, we record pings and send them to the cloud. For privacy, we scramble each MAC address using a one-way hashing algorithm. Because shoppers don't need to actually connect to your Wi-Fi network or install a mobile app, you can measure their activity without interrupting their shopping experience.</p>
			</li>
			<li>
				<div class="sectionlabel how-section">Euclid processes and stores data</div>
				<p>Our advanced heuristics extract actionable insights from the data and store them in Amazon's highly secure datacenters.<br><%= link_to 'Learn about our security practices', '/product/security/' %></p>
			</li>
			<li> 
				<div class="sectionlabel how-section">Retailer receives analytics via web and email</div>
				<p>Use our web-based Dashboard and scheduled email reports to measure and optimize your business.</p>
			</li>
  		</div>



  	</div>
  </div>
</section> 
