<% content_for :pagetitle do %>Products<% end %>
<% content_for :pagehead do %><% end %>
<% content_for :headextra do %><%= stylesheet_link_tag 'express-styles' %><%= javascript_include_tag 'express_scripts' %><% end %>

<div class="hero-container">
    <div class="hero-unit hero-unit-solutions">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Measure. Analyze. Improve offline experience.</h1>
                    <p>Improve in-store experiences by putting customers first. Measure performance by how well you attract, engage, and retain customers. Make smarter decisions around marketing, operations, and chainwide
                    strategy. Get customized solutions for specialty retail, QSR & coffee, large format and more.</p>
                    <a href="http://www.youtube.com/watch?v=LNckTJZaY_g&list=PLnaQmtUJyjOW-Qn-jnkxLa4bAGqNeIazf" class="btn btn-marg">Tour Features</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="feedback-area">
    <div class="main-wrap main-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h1>Turn data into powerful insights.</h1>
                <p>Euclid translates anonymous device data into customer intelligence. Euclid helps you understand visitor behavior, shopping patterns, and store performance metrics.</p>
                <div class="solutions-insight hide-on-mobile"><img src="../../img/solutions/solutions-insight.png"/></div>

            </div>
        </div>
    </div>
    <!-- /.main-wrap -->
</div>
<!-- /.feedback-area -->


<div class="solutions-row3">
        <h1>Targeted solutions for specific results.</h1>
        
                <p><a href="../products/advanced/">Euclid Advanced</a> offers customized solutions tailored to the needs of<br>
                 specialty retail, QSR and coffee, and large format locations. Get started for<br>
                free with <a href="../products/express/">Euclid Express</a>, and upgrade for vertical-specific offerings.</p>
        
        <div class="items">
        <div class="row"> 
         
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <img src="../../img/solutions/solutions-retail.png" alt="img">
            </div>            
            <h2><a href="/solutions/specialty/">Specialty Retail</a></h2>            
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <img src="../../img/solutions/solutions-QSRCoffee.png" alt="img">
            </div>            
            <h2><a href="/solutions/qsr">QSR and Coffee</a></h2>            
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <img src="../../img/solutions/solutions-largeFormat.png" alt="img">
            </div>            
            <h2><a href="/solutions/department/">Large Format Retail</a></h2>            
          </div>
          
        </div>
        </div>

<!--row4-->

<div>
         <h1>Solutions tailored for your business role.</h1>
        
                <p>Euclid has custom solutions to fit your role, with analytics applications to<br>
                 address fundamental executive, marketing, operations, and IT needs.<br>
                 Measure offline impact of marketing, improve store operations, inform brand<br>
                strategy, and deploy location analytics chainwide with ease.</p>
        
        <div class="items">
        <div class="row"> 
         
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
            <div class="image">
              <img src="../../img/solutions/solutions-executive.png" alt="img">
            </div>            
            <h2><a href="/solutions/executives/">Executive</a></h2>            
          </div>
          
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
            <div class="image">
              <img src="../../img/solutions/solutions-marketing.png" alt="img">
            </div>            
            <h2><a href="/solutions/marketing/">Marketing</a></h2>            
          </div>
          
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
            <div class="image">
              <img src="../../img/solutions/solutions-operations.png" alt="img">
            </div>            
            <h2><a href="/solutions/operations/">Operations</a></h2>            
          </div>
                    
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
            <div class="image">
              <img src="../../img/solutions/solutions-IT.png" alt="img">
            </div>            
            <h2><a href="/solutions/it/">IT</a></h2>            
          </div>
        </div>
        </div>
      </div>
    </div>
<div id="get-started-area">
    <div class="main-wrap main-content">
        <div class="row">
            <div class="col-xs-12">
                <h1>Get in touch today.</h1>
                <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn">Contact Us</a>
            </div>
        </div>
    </div>
    <!-- /.main-wrap -->
</div>

<script>expressInit();</script>