<% content_for :pagetitle do %>Euclid Marketing<% end %>
<% content_for :pagehead do %><% end %>
<% content_for :headextra do %><%= stylesheet_link_tag 'express-styles' %><%= javascript_include_tag 'express_scripts' %><% end %>

<div class="hero-container">
    <div class="hero-unit hero-unit-IT">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>IT<br>
                        Intelligent Wi-Fi. Big data. Smart business.</h1>
                    <p>Why should e-commerce have the edge in customer understanding? Euclid arms your brick and mortar stores with the big data analytics needed to drive smarter marketing, operations, and executive decision-making.</p>
                    <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn btn-marg">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="solutions-row3 executives">
        <h1>An easy IT decision.</h1>
        <div class="items">
        <div class="row"> 
         
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <img src="../../img/solutions/it-wifi.png" alt="img">
            </div>            
            <h2>Wi-Fi Value Add</h2>            
            <p>Add incremental ROI to your existing Wi-Fi investment.
            </p>           
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <img src="../../img/solutions/IT-fastActivation.png" alt="img">
            </div>            
            <h2>Fast Activation</h2>            
            <p>
               Start seeing data collection from the first day you activate through Euclid's Wi-Fi partners or our simple plug and play sensor.
            </p>           
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <img src="../../img/solutions/IT-chain.png" alt="img">
            </div>            
            <h2>Chainwide Deployment</h2>            
            <p>
              Bolster executive, marketing, and operations initiatives with analytics capabilities across all your locations.
            </p>           
          </div>
          
        </div>
        </div>

        <img class="connector hide_on_mobile" src="../../img/solutions/executive-connector.png">
</div>

<div class="row-center">
        <h1>Euclid empowers IT.</h1>
        <p>Provide the essential analytics capabilities for all your locations and build<br>
         collaboration with your business organizations.</p>
</div>



<div class="subcontainer9 pull-center excutives-row4">
      <h1>Euclid for IT.</h1>
      <ul class="content-list privacy-list">
        <li class="content-list-item">
          <img class="col3" src="../../img/solutions/IT-wifiInfra.png">
          <div class="col6">
            <h2>Use existing Wi-Fi infrastructure</h2>
            <p>Our partnerships with leading Wi-Fi hardware vendors lets you leverage existing infrastructure. Fast, simple activation and deployment enhances your business case for chainwide Wi-Fi and location analytics.
            </p>
          </div>
        </li>
        <li class="content-list-item">
          <div class="col6">
            <h2>Start with free essential analytics</h2>
            <p>Euclid Express lets you get started for free with essential metrics that answer your company's most fundamental questions across all your locations: Am I bringing customers into stores, are they engaged, and are they coming back?</p>
          </div>
           <img class="col3" src="../../img/solutions/IT-analytics.png">
        </li>
      </ul>
    </div>

<div id="get-started-area" class="executives-row5">
    <div class="main-wrap main-content">
        <div class="row">
            <div class="col-xs-12">
                <h1>Get started today.</h1>
                <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn">Contact us</a>
            </div>
        </div>
    </div>
    <!-- /.main-wrap -->
</div>

<script>expressInit();</script>