<% content_for :pagetitle do %>Euclid Executive<% end %>
<% content_for :pagehead do %><% end %>
<% content_for :headextra do %><%= stylesheet_link_tag 'express-styles' %><%= javascript_include_tag 'express_scripts' %><% end %>

<div class="hero-container">
    <div class="hero-unit hero-unit-format">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Shopping Malls<br>
                        Understand where shoppers go.</h1>
                    <p>Your mall or shopping center is an ecosystem of smaller zones with visitors flowing through and between them. Analyze foot traffic to improve engagement and pinpoint underperforming areas for greater operational efficiency.</p>
                    <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn btn-marg">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="solutions-row3 specialty-row1">
        <h1>Actionable insights tailored to shopping malls.</h1>
        <div class="items">
        <div class="row"> 
         
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image first">
              <img src="../../img/solutions/operations-identifyPerformace.png" alt="img">
            </div>            
            <h2>Business Context</h2>            
            <p>Identify anchor tenants and key <br>areas for event-based and <br>regular assessment
            </p>           
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image second">
              <img src="../../img/solutions/executive-manage.png" alt="img">
            </div>            
            <h2>Location Analytics</h2>            
            <p>
               Analyze visitor flow, duration, <br>and repeats, both within and <br>across zones
            </p>           
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image third">
              <img src="../../img/solutions/euclid-platform.png" alt="img">
            </div>            
            <h2>Euclid Platform</h2>            
            <p>
              View reports tailored to your <br>business issues with customized <br>insights by zone and location type
            </p>           
          </div>
          
        </div>
        </div>

        <img class="connector hide_on_mobile" src="../../img/solutions/specialty-connector.png">
</div>

<div class="specialty-center">
        <h1>Euclid serves the core needs of shopping malls.</h1>
        <p class="subhead">Zone-level visitor behavior<br>Peak hours and visitor flow<br>Event and rent assessment</p>
</div>

<section class="content advanced-feature-section specialty-section format-section">
  <div class="container">
    <div class="subcontainer12 pull-center">
      <h1>Key features and benefits.</h1>
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/solutions/specialty-funnel.png"></div>
          <div>
          <strong>Full Shopper Funnel</strong>
            Understand how outside opportunity converts to visits, to engaged shoppers, to repeat customers</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/solutions/specialty-campaign.png"></div>
          <div>
          <strong>Campaign Effectiveness</strong>
         Measure ROI for each marketing campaign, capture new vs. repeat customer, storefront conversions, and customer retention</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/solutions/specialty-assessment.png"></div>
          <div>
          <strong>Operations Assessment</strong>
          Adjust tenancy rates based on visitor traffic flows</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img class="shopperEngagement-icon" src="../../img/solutions/shopper-engagement.png"></div>
          <div>
          <strong>Shopper Engagement</strong>
          Understand which areas get the most foot traffic and where shoppers are most engaged </div>
        </div>
    </div>
    </div>
  </div>
</section>

<div class="solutions-row3 specialty">
        <h1>Euclid in action.</h1>
        <div class="items">
        <div class="row"> 
       <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
           
          </div>
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
            <div class="image first">
              <img src="../../img/solutions/shopping-center.jpg" alt="img">
            </div>            
            <h2>Shopping Centers</h2>     
          </div>
          
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
            <div class="image second">
              <img src="../../img/solutions/shopping-malls.jpg" alt="img">
            </div>            
            <h2>Shopping Malls</h2>            
          </div>
                <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
           
          </div> 
        </div>
        </div>
</div>

<div id="get-started-area" class="executives-row5">
    <div class="main-wrap main-content">
        <div class="row">
            <div class="col-xs-12">
                <h1>Contact us today to learn how Euclid improves <br>shopping centers and malls. </h1>
                <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn">Contact Us</a>
            </div>
        </div>
    </div>
    <!-- /.main-wrap -->
</div>

<script>expressInit();</script>