<% content_for :pagetitle do %>Euclid Marketing<% end %>
<% content_for :pagehead do %><% end %>
<% content_for :headextra do %><%= stylesheet_link_tag 'express-styles' %><%= javascript_include_tag 'express_scripts' %><% end %>

<div class="hero-container">
    <div class="hero-unit hero-unit-marketing">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Marketing<br>
                      Know your customers. Improve your campaigns.</h1>
                    <p>Integrate sales data and visitor behavior across campaigns for offline feedback that shows which promotions drew shoppers to your stores—and which ones persuaded them to buy.</p>
                    <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn btn-marg">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="solutions-row3 executives">
        <h1>Fundamental marketing feedback.</h1>
        <div class="items">
        <div class="row"> 
         
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <img src="../../img/solutions/marketing-campaign.png" alt="img">
            </div>            
            <h2>Campaign Effectiveness</h2>            
            <p>See immediate feedback on promotion-driven visits, conversions, and new vs. repeat customers.
            </p>           
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <img src="../../img/solutions/marketing-ROI.png" alt="img">
            </div>            
            <h2>Marketing ROI</h2>            
            <p>
               Tie sales to full 360-degree ROI impact and predictive assessments.
            </p>           
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <img src="../../img/solutions/marketing-segmentation.png" alt="img">
            </div>            
            <h2>Loyalty and Segmentation</h2>            
            <p>
              Refine customer segments with promotion-specific visit frequency,repeat, and retention data.
            </p>           
          </div>
          
        </div>
        </div>

        <img class="connector hide_on_mobile" src="../../img/solutions/executive-connector.png">
</div>

<div class="row-center">
        <h1>Euclid sharpens marketing.</h1>
        <p>Close the gap with e-commerce with fast campaign feedback across<br>
          locations.</p>
</div>



<div class="subcontainer9 pull-center excutives-row4">
      <h1>Euclid for Marketers.</h1>
      <ul class="content-list privacy-list">
        <li class="content-list-item">
          <img class="col3" src="../../img/solutions/marketing-analyze.png">
          <div class="col6">
            <h2>Analyze customer response chain-wide</h2>
            <p>Euclid analytics provide fast insight for critical questions: Are you converting new shoppers and driving more frequent loyal shopper cycles? How successfully do promotions engage shoppers in stores? Are you retaining customers post-promotion?
            </p>
          </div>
        </li>
        <li class="content-list-item">
          <div class="col6">
            <h2>Understand what works</h2>
            <p>As famous retailer John Wanamaker said, “Half the money I spend on advertising is wasted; the trouble is I don’t know which half.” Euclid helps you assess and identify the half that works so you can target future spending more effectively.</p>
          </div>
           <img class="col3" src="../../img/solutions/marketing-understand.png">
        </li>
      </ul>
    </div>

<div id="get-started-area" class="executives-row5">
    <div class="main-wrap main-content">
        <div class="row">
            <div class="col-xs-12">
                <h1>Get in touch today.</h1>
                <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn">Contact us</a>
            </div>
        </div>
    </div>
    <!-- /.main-wrap -->
</div>

<script>expressInit();</script>