<% content_for :pagetitle do %>Euclid Marketing<% end %>
<% content_for :pagehead do %><% end %>
<% content_for :headextra do %><%= stylesheet_link_tag 'express-styles' %><%= javascript_include_tag 'express_scripts' %><% end %>

<div class="hero-container">
    <div class="hero-unit hero-unit-operations">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Operations<br>
                      Smarter stores. Better decisions.</h1>
                    <p>Engage customers and build the best brick and mortar experience. Track how changes in staffing, layout, and merchandising affect shopper behavior at all locations. Identify strong and poor performance to invest dollars wisely.</p>
                    <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn btn-marg">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="solutions-row3 executives img-95">
        <h1>Fundamental operations feedback.</h1>
        <div class="items">
        <div class="row"> 
         
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <img src="../../img/solutions/operations-storePerformance.png" alt="img">
            </div>            
            <h2>Store Performance</h2>            
            <p>Understand immediately how store operations are converting shoppers into customers.
            </p>           
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <img src="../../img/solutions/operations-staffing.png" alt="img">
            </div>            
            <h2>Staffing</h2>            
            <p>
               Staff effectively to match visitor traffic and identify potential problems with bounce.
            </p>           
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <img src="../../img/solutions/operations-visitor.png" alt="img">
            </div>            
            <h2>Visitor Engagement</h2>            
            <p>
              Measure how well locations are delivering compelling experiences that engage customers.
            </p>           
          </div>
          
        </div>
        </div>

        <img class="connector hide_on_mobile" src="../../img/solutions/executive-connector.png">
</div>

<div class="row-center">
        <h1>Euclid optimizes operations.</h1>
        <p>Understand customer behavior with full views of store performance.</p>
</div>



<div class="subcontainer9 pull-center excutives-row4">
      <h1>Euclid for Operations.</h1>
      <ul class="content-list privacy-list">
        <li class="content-list-item">
          <img class="col3" src="../../img/solutions/operations-improveStaffing.png">
          <div class="col6">
            <h2>Improve staffing and layout</h2>
            <p>Staffing, merchandising, and layout changes can significantly alter customer experience. Euclid's real-time hourly, daily, and weekly insights reveal shifts in shopper responses as they happen so you can react accordingly.
            </p>
          </div>
        </li>
        <li class="content-list-item">
          <div class="col6">
            <h2>Identify performance trends</h2>
            <p>Is an especially good or bad period a fluke—or a prediction of things to come? Euclid supplements sales and transaction data with metrics on customer engagement and retention so you can correlate sales performance trends with visit, duration, and new vs. repeat customers, pinpoint locations that are truly underperforming, and focus operational spend.</p>
          </div>
           <img class="col3" src="../../img/solutions/operations-identifyPerformace.png">
        </li>
      </ul>
    </div>

<div id="get-started-area" class="executives-row5">
    <div class="main-wrap main-content">
        <div class="row">
            <div class="col-xs-12">
                <h1>Get started today.</h1>
                <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn">Contact Us</a>
            </div>
        </div>
    </div>
    <!-- /.main-wrap -->
</div>

<script>expressInit();</script>