<% content_for :pagetitle do %>Euclid Executive<% end %>
<% content_for :pagehead do %><% end %>
<% content_for :headextra do %><%= stylesheet_link_tag 'express-styles' %><%= javascript_include_tag 'express_scripts' %><% end %>

<div class="hero-container">
    <div class="hero-unit hero-unit-QSR">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>QSR and Coffee<br> 
                        Fast insights for quick service.</h1>
                    <p>The more you know about your customers, the better and more efficiently you can serve them. Improve attraction and retention with full visibility into customer behavior by relevant dayparts and loyalty segments.</p>
                    <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn btn-marg">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="solutions-row3 specialty-row1 QSR-row1">
        <h1>Actionable insights tailored to QSR and Coffee.</h1>
        <div class="items">
        <div class="row"> 
         
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image first">
              <img src="../../img/solutions/operations-identifyPerformace.png" alt="img">
            </div>            
            <h2>Business Context</h2>            
            <p>Identify dayparts, customer<br> segments, and event tracking most<br> relevant to you
            </p>           
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image second">
              <img src="../../img/solutions/operations-storePerformance.png" alt="img">
            </div>            
            <h2>Location Analytics</h2>            
            <p>
               Gain a full view of daily throughput<br> and customer segments
            </p>           
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image third">
              <img src="../../img/solutions/euclid-platform.png" alt="img">
            </div>            
            <h2>Euclid Platform</h2>            
            <p>
              Assess hourly performance.<br> Understand repeat customer<br> behavior and boost loyalty
            </p>           
          </div>
          
        </div>
        </div>

        <img class="connector hide_on_mobile" src="../../img/solutions/specialty-connector.png">
</div>

<div class="specialty-center">
        <h1>Euclid serves the core needs of QSR and Coffee.</h1>
        <p class="subhead">Location assessment and optimization<br> Loyalty program initiatives<br> Planning and growth</p>
</div>

<section class="content advanced-feature-section QSR-section">
  <div class="container">
    <div class="subcontainer12 pull-center">
      <h1>Key features and benefits.</h1>
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/solutions/QSR-hourly.png"></div>
          <div>
          <strong>Hourly Insight</strong>
          Understand visit flows, conversion of outside opportunity into customers, and dwell and wait times by the hour</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img  class="img2" src="../../img/solutions/QSR-daypart.png"></div>
          <div>
          <strong>Daypart Analysis</strong>
          View your breakfast, lunch, and dinner customers with delivery segmented by time of day </div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img class="img3" src="../../img/solutions/QSR-segments.png"></div>
          <div>
          <strong>Customer Segments</strong>
          Build a chainwide profile of customer loyalty by visit frequency, time of day, and cross-location visits</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img class="img4" src="../../img/solutions/QSR-tracking.png"></div>
          <div>
          <strong>Event Tracking</strong>
          Measure customer response to promotions, changes in location layout, and other initiatives to improve customer experience</div>
        </div>
    </div>
    </div>
  </div>
</section>

<div class="solutions-row3 specialty">
        <h1>Euclid in action.</h1>
        <div class="items">
        <div class="row"> 
         
          <!--<div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image first">
              <img src="../../img/solutions/QSR-tailor.png" alt="img">
            </div>            
            <h2>Tailor Customer Experience</h2> 
            <p>Philz Coffee uses Euclid to tailor<br> store layout and maximize throughput.</p>      
            <a href="http://www.youtube.com/watch?v=6eBeWqdYZBM">Watch Video</a><br> 
            <a href="http://euclidanalytics.com/solutions">Learn more</a>      
          </div>-->
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image second">
              <img src="../../img/solutions/QSR_cust_acq_326x184.jpg" alt="img">
            </div>            
            <h2>Measure Loyalty</h2>            
            <p>
               Restaurant chain expands customer <br>base with food giveaway.
            </p>   
            <a href="http://euclidanalytics.com/solutions/case-studies/3CustomerSS.pdf">Learn more</a>        
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image third">
              <img src="../../img/solutions/QSR-efficiency.png" alt="img">
            </div>            
            <h2>Increase Efficiency</h2>            
            <p>
              QSR Uses Euclid to increase<br> breakfast revenue.
            </p>
            <a href="http://euclidanalytics.com/solutions/case-studies/qsr_breakfast.pdf">Learn more</a> 
          </div>
          
        </div>
        </div>
</div>

<div id="get-started-area" class="executives-row5">
    <div class="main-wrap main-content">
        <div class="row">
            <div class="col-xs-12">
                <h1>Contact us today to learn how Euclid improves <br>QSR and Coffee locations.</h1>
                <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn">Contact Us</a>
            </div>
        </div>
    </div>
    <!-- /.main-wrap -->
</div>

<script>expressInit();</script>