<% content_for :pagetitle do %>Euclid Executive<% end %>
<% content_for :pagehead do %><% end %>
<% content_for :headextra do %><%= stylesheet_link_tag 'express-styles' %><%= javascript_include_tag 'express_scripts' %><% end %>

<div class="hero-container">
    <div class="hero-unit hero-unit-specialty">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Specialty Retail<br>
                        Insights as specialized as you.</h1>
                    <p>Attract more shoppers, give them better experiences, and measure how well each location succeeds at engaging and retaining them. Euclid provides full data access and tailored analysis to drive higher same-store sales and profit per square foot.</p>
                    <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn btn-marg">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="solutions-row3 specialty-row1">
        <h1>Actionable insights tailored to specialty retail.</h1>
        <div class="items">
        <div class="row"> 
         
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image first">
              <img src="../../img/solutions/operations-identifyPerformace.png" alt="img">
            </div>            
            <h2>Business Context</h2>            
            <p>Identify events, performance factors,<br> and cost centers most relevant<br> to your shopper funnel
            </p>           
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image second">
              <img src="../../img/solutions/executive-manage.png" alt="img">
            </div>            
            <h2>Location Analytics</h2>            
            <p>
               View event tracking and store<br> performance in detail across<br> all locations
            </p>           
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image third">
              <img src="../../img/solutions/euclid-platform.png" alt="img">
            </div>            
            <h2>Euclid Platform</h2>            
            <p>
              Access reports where and when you need<br> them with tailored dashboards, custom<br> executive reports, and full data integration
            </p>           
          </div>
          
        </div>
        </div>

        <img class="connector hide_on_mobile" src="../../img/solutions/specialty-connector.png">
</div>

<div class="specialty-center">
        <h1>Euclid serves the core needs of specialty retail.</h1>
        <p class="subhead">Campaign effectiveness and ROI<br>Store performance and predictive analysis<br>Multi-channel strategy</p>
</div>

<section class="content advanced-feature-section specialty-section format-section">
  <div class="container">
    <div class="subcontainer12 pull-center">
      <h1>Key features and benefits.</h1>
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/solutions/specialty-funnel.png"></div>
          <div>
          <strong>Full Shopper Funnel</strong>
            Understand how outside opportunity converts to visits, to engaged shoppers, to repeat customers</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/solutions/specialty-campaign.png"></div>
          <div>
          <strong>Campaign Effectiveness</strong>
          Measure ROI for each marketing campaign, capturing new vs. repeat storefront conversions and retention </div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/solutions/specialty-assessment.png"></div>
          <div>
          <strong>Operations Assessment</strong>
          Quantify how merchandise, staffing, and layout affect shopper engagement. Identify issues with shopper bounce</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/solutions/specialty-planning.png"></div>
          <div>
          <strong>Chainwide Planning</strong>
          Define chain-wide strategy with a view of cross-location visits as well as attribution and predictive analysis</div>
        </div>
    </div>
    </div>
  </div>
</section>

<div class="solutions-row3 specialty">
        <h1>Euclid in action.</h1>
        <div class="items">
        <div class="row"> 
         
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image first">
              <img src="../../img/solutions/specialty-effectiveness.png" alt="img">
            </div>            
            <h2>Campaign Effectiveness</h2> 
            <p>Specialty retailer measures the new ROI of a marketing event</p>      
            <a href="http://euclidanalytics.com/solutions/case-studies/2CustomerSS.pdf">Learn more</a>      
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image second">
              <img src="../../img/solutions/specialty-performance.png" alt="img">
            </div>            
            <h2>Store Performance</h2>            
            <p>Specialty retailer measures effectiveness of merchandising resets</p>   
            <a href="http://euclidanalytics.com/solutions/case-studies/1CustomerSS.pdf">Learn more</a>        
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image third">
              <img src="../../img/solutions/specialty-segmentation.png" alt="img">
            </div>            
            <h2>Operations Assessment</h2>            
            <p>Specialty Retailer Optimizes Staffing Schedule </p>
            <a href="http://euclidanalytics.com/solutions/case-studies/4CustomerSS.pdf">Learn more</a> 
          </div>
          
        </div>
        </div>
</div>

<div id="get-started-area" class="executives-row5">
    <div class="main-wrap main-content">
        <div class="row">
            <div class="col-xs-12">
                <h1>Contact us today to learn how Euclid improves specialty retail experience.</h1>
                <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn">Contact Us</a>
            </div>
        </div>
    </div>
    <!-- /.main-wrap -->
</div>

<script>expressInit();</script>