<% content_for :pagetitle do %>Euclid Executive<% end %>
<% content_for :pagehead do %><% end %>
<% content_for :headextra do %><%= stylesheet_link_tag 'express-styles' %><%= javascript_include_tag 'express_scripts' %><% end %>

<div class="hero-container">
    <div class="hero-unit hero-unit-transportation">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Transportation<br>
                        Keep things moving smoothly.</h1>
                    <p>Travel shouldn't have to be an inefficient and unpleasant "hurry up and wait" experience. Minimize delays and bottlenecks in your airport, train station, or subway system by analyzing foot traffic, peak traffic, and wait times in security queues, gates, and taxi lines.</p>
                    <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn btn-marg">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="solutions-row3 specialty-row1">
        <h1>Actionable insights tailored to transportation hubs.</h1>
        <div class="items">
        <div class="row"> 
         
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image first">
              <img src="../../img/solutions/operations-identifyPerformace.png" alt="img">
            </div>            
            <h2>Business Context</h2>            
            <p>Identify security checkpoints, taxi <br>lines, and other key areas for <br>operational assessment
            </p>           
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image second">
              <img src="../../img/solutions/executive-manage.png" alt="img">
            </div>            
            <h2>Location Analytics</h2>            
            <p>
               Analyze visitor flow and wait <br>times throughout all zones in <br>each location
            </p>           
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image third">
              <img src="../../img/solutions/euclid-platform.png" alt="img">
            </div>            
            <h2>Euclid Platform</h2>            
            <p>
              View reports tailored to your <br>business issues with customized <br>insights by zone and location type
            </p>           
          </div>
          
        </div>
        </div>

        <img class="connector hide_on_mobile" src="../../img/solutions/specialty-connector.png">
</div>

<div class="specialty-center">
        <h1>Euclid serves the core needs of transportation hubs.</h1>
        <p class="subhead">Zone-level visitor behavior<br>Peak hours and visitor flow<br>Vendor rent assessment</p>
</div>

<section class="content advanced-feature-section specialty-section format-section">
  <div class="container">
    <div class="subcontainer12 pull-center">
      <h1>Key features and benefits.</h1>
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img class="image1" src="../../img/solutions/format-visitor.png"></div>
          <div>
          <strong>Visitor Flow</strong>
            Understand where visitors are going with foot traffic by zone within your location</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img class="image2" src="../../img/solutions/format-zone.png"></div>
          <div>
          <strong>Zone Utilization</strong>
         Improve operational efficiency by identifying high frequency, high duration "dwell," and low utilization zones</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/solutions/specialty-assessment.png"></div>
          <div>
          <strong>Operations Assessment</strong>
          Assess staffing and hub layout to improve visitor flow throughout your location</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/solutions/tenancy-icon.png"></div>
          <div>
          <strong>Tenancy and Rents</strong>
          View retail visitors within the transportation hub and use relative foot traffic data to determine rent rates</div>
        </div>
    </div>
    </div>
  </div>
</section>

<div class="solutions-row3 specialty">
        <h1>Euclid in action.</h1>
        <p>Euclid’s transportation solution is optimized for:</p>
        <div class="items">
        <div class="row"> 

          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image first">
              <img src="../../img/solutions/airports-actions.jpg" alt="img">
            </div>            
            <h2>Airports</h2>     
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image second">
              <img src="../../img/solutions/trainStations-actions.jpg" alt="img">
            </div>            
            <h2>Train Stations</h2>            
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
          <div class="image second">
           <img src="../../img/solutions/subways-actions.jpg" alt="img">
          </div> 
          <h2>Subways</h2>
        </div>
    </div>    
    </div>
</div>

<div id="get-started-area" class="executives-row5">
    <div class="main-wrap main-content">
        <div class="row">
            <div class="col-xs-12">
                <h1>Contact us today to learn how Euclid improves <br>large format locations.</h1>
                <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn">Contact Us</a>
            </div>
        </div>
    </div>
    <!-- /.main-wrap -->
</div>

<script>expressInit();</script>