<% content_for :pagetitle do %>Euclid Executive<% end %>
<% content_for :pagehead do %><% end %>
<% content_for :headextra do %><%= stylesheet_link_tag 'express-styles' %><%= javascript_include_tag 'express_scripts' %><% end %>

<div class="hero-container">
    <div class="hero-unit hero-unit-venues">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Event and Entertainment Venues<br>
                        Deliver a five-star visitor experience.</h1>
                    <p>Make sure your visitors have the best experience possible at your convention center, entertainment venue, or sports stadium. Monitor visitor behavior to understand which attractions are most popular and optimize operations for peak traffic periods.</p>
                    <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn btn-marg">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="solutions-row3 specialty-row1">
        <h1>Actionable insights for events.</h1>
        <div class="items">
        <div class="row"> 
         
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image first">
              <img src="../../img/solutions/operations-identifyPerformace.png" alt="img">
            </div>            
            <h2>Business Context</h2>            
            <p>Identify key zones like large meeting <br>rooms, seating, and dining areas to <br>spotlight marquee attractions and events.
            </p>           
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image second">
              <img src="../../img/solutions/executive-manage.png" alt="img">
            </div>            
            <h2>Location Analytics</h2>            
            <p>
               Analyze visitor flow, duration, and <br>repeats between and throughout <br>all zones for individual events
            </p>           
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image third">
              <img src="../../img/solutions/euclid-platform.png" alt="img">
            </div>            
            <h2>Euclid Platform</h2>            
            <p>
              View reports tailored to your <br>business issues with customized <br>insights around event performance
            </p>           
          </div>
          
        </div>
        </div>

        <img class="connector hide_on_mobile" src="../../img/solutions/specialty-connector.png">
</div>

<div class="specialty-center">
        <h1>Euclid serves the core needs of large format locations.</h1>
        <p class="subhead">Visitor behavior in your most important zones<br>Event analysis and repeat behavior<br>Peak visitor hours and visitor flow</p>
</div>

<section class="content advanced-feature-section specialty-section format-section">
  <div class="container">
    <div class="subcontainer12 pull-center">
      <h1>Key features and benefits.</h1>
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/solutions/specialty-funnel.png"></div>
          <div>
          <strong>Real-Time Visitor Flow</strong>
            Understand where visitors are going with real-time foot traffic patterns throughout your location</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img class="image2-zone" src="../../img/solutions/QSR-daypart.png"></div>
          <div>
          <strong>Zone Utilization</strong>
         Improve operational efficiency by identifying high frequency, high duration "dwell," and low utilization zones</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/solutions/QSR-segments.png"></div>
          <div>
          <strong>Event Planning</strong>
          Plan and optimize foot traffic for major events. Bring visitors back to your location</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="block"><img src="../../img/solutions/QSR-tracking.png"></div>
          <div>
          <strong>Repeat Attendance</strong>
          Segment your visitors by how often they're returning and attendance at other events</div>
        </div>
    </div>
    </div>
  </div>
</section>

<div class="solutions-row3 specialty">
        <h1>Euclid in action.</h1>
        <p>Euclid’s venue solution is optimized for:</p>
        <div class="items">
        <div class="row"> 

          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image first">
              <img src="../../img/solutions/convention-actions.jpg" alt="img">
            </div>            
            <h2>Convention Centers</h2>     
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image second">
              <img src="../../img/solutions/entertainment-actions.jpg" alt="img">
            </div>            
            <h2>Entertainment Centers</h2>            
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
          <div class="image second">
           <img src="../../img/solutions/sporting-actions.jpg" alt="img">
          </div> 
          <h2>Sporting Venues</h2>
        </div>
    </div>    
    </div>
</div>

<div id="get-started-area" class="executives-row5">
    <div class="main-wrap main-content">
        <div class="row">
            <div class="col-xs-12">
                <h1>Contact us today to learn how Euclid improves <br>your event experience.</h1>
                <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn">Contact Us</a>
            </div>
        </div>
    </div>
    <!-- /.main-wrap -->
</div>

<script>expressInit();</script>