<% content_for :pagetitle do %>Euclid analytics technology for retail<% end %>
<% content_for :pagehead do %><% end %>
<section class="content no-pad PartnerReseller-main careers-page">
  
  <section class="content">
    <div class="hero-container">
        <div class="hero-unit hero-unit-careers">
            <div class="main-wrap main-content">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Join the Euclid Team</h1>
                        <p>We are a team of  humble rockstars that is bringing analytics to<br> the physical world in which we live, work and play.</p>
                        <a href="#" class="btn btn-marg open-jobs">See Open Jobs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <div class="container">
  <div class="row">
    <div class="subcontainer9 pull-center">
      <div class="col9 separated euclid-sensor"> 
        <div class="hero-unit">
          <h2>From airports to zoos, Euclid measures the physical world.</h2>
          <p>Euclid Analytics’ mission is to give everyone the power of location analytics. We mean everyone from an athletic shoe store, your favorite burger joint and even your hometown airport.  As Euclideans (yes, that’s a thing), we strive to harness the power of data science, the promise of transparency and the boldness of action—both for ourselves and for our customers and partners.</p>
        </div>
      </div>  
    </div>  
  </div>
  </div>  

<div class="container-fluid">
  <div class="row">
    <div class="solutions-row3 section-101">
          <h1>Being a Euclidean 101</h1>
          <p class="pull-center">This is what happens with you throw a little nerd, a lot of smarts, 
          insatiable curiosity and a goofball twist into a culture blender. Smells like TEAM spirit!</p>
          <img src="../../img/about/section-101-graphic.png" width="775px">
        <div class="instagram-widget marg-50">
          <iframe src="http://snapwidget.com/sc/?u=ZXVjbGlkYW5hbHl0aWNzfGlufDE1MHwzfDN8fG5vfDV8bm9uZXxvblN0YXJ0fHllc3xubw==&ve=130415" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:750px; height:150px"></iframe>
        </div>


    </div>
  </div>
</div>

<div class="container-fluid perks-section">
<div class="container">  
 
<div class="row"><h1 class="text-center">Oh yah, perks too.</h1></div>
  <div class="row">
    <div class="col-md-1 col-md-offset-2"><img src="../../img/about/careers-icons/office_icon.png"></div>
    <div class="col-md-3">Bright, sunny office in the Mission district of San Francisco, near BART and Caltrain</div>

    <div class="col-md-1 col-md-offset-1"><img src="../../img/about/careers-icons/smart_people.png"></div>
    <div class="col-md-3">Work with some of the smartest, humblest people (and pets!). We might be biased here.</div>
  </div>

  <div class="row">
    <div class="col-md-1 col-md-offset-2"><img src="../../img/about/careers-icons/catered_lunch.png"></div>
    <div class="col-md-3">Catered lunches, snacks galore and thirst-quenching beverages.</div>

    <div class="col-md-1 col-md-offset-1"><img src="../../img/about/careers-icons/benefits_icon.png"></div>
    <div class="col-md-3">Top-of-the-line medical, vision and dental plans, not to mention a 401k and stock plan.</div>
  </div>

  <div class="row">
    <div class="col-md-1 col-md-offset-2"><img src="../../img/about/careers-icons/team_events.png"></div>
    <div class="col-md-3">Frequent team events—from casual drinks to faux game shows to service days.</div>

    <div class="col-md-1 col-md-offset-1"><img src="../../img/about/careers-icons/vacation_policy.png" class="small-img"></div>
    <div class="col-md-3">A "take-it-as-you-need-it" vacation policy. </div>
  </div>

</div>
</div>

<div class="container jobs-section">
    <div class="subcontainer9 pull-center marg-30">      
      
    <h1>Want to join us? Check out our openings. </h1>

      <div id="euclid-resumator-wrapper" class="shadowed dark-box col9">
        <div id="grnhse_app"></div>
        <script src="https://boards.greenhouse.io/embed/job_board/js?for=euclidanalytics"></script>
      </div>
      </div>
    </div>
 </div>
</section> 

<script type="text/javascript">
  $(document).ready(function(){
  $("#board_title").css("display", "none");

$(".open-jobs").click(function() {
    var value = $(".jobs-section").offset().top
    var finalVal = value - 100; 
    $('html,body').animate({
        scrollTop: finalVal},
        'slow');
});

});
</script>
