<% content_for :pagetitle do %>Careers<% end %>
<% content_for :pagehead do %>

<div class="content banner featured-content-light" id="banner-careers">
	<div class="container">
		<div class="subcontainer6 pull-right featured-content-textarea">
			<div class="featured-content-textarea-inner">
				<h1 class="">We're digitizing<br>real-world behavior</h1>
			</div>
		</div>
	</div>
</div>
<% end %>

<section class="content pad-50">
  	<div class="container">
	  	<div class="subcontainer9 pull-center">

	  		<h3 class="large-text col9 separated">Euclid is a rapidly growing, well-funded startup turning real-world behavior into unprecedented insights. If you’re smart, data-driven, and have a healthy disregard for the impossible, we want to talk to you!</h3>

			<div id="euclid-resumator-wrapper" class="shadowed dark-box col9">
				<div class="sectionlabel indent underlined no-bottom-marg">Openings</div>
				<script type="text/javascript" src="http://app.theresumator.com/widgets/basic/create/euclidelements" charset="utf-8"></script>
			</div>

			<div class="col-half-of-9">
				<div class="sectionlabel underlined">Perks</div>
				<ul class="no-bullet">
					<li>Great location in San Francisco's Potrero Hill neighborhood</li>
					<li>Catered lunch Monday through Thursday</li>
					<li>Philz coffee in the grinder, beer in the fridge, and a loaded Sodastream</li>
					<li>Ping-pong players of all skill levels (and a table)</li>
					<li>Frequent team events</li>
					<li><a href="http://www.theworkcycle.com/showcases/euclid-elements-palo-alto.html" target="_blank">Bike-friendly environment</a></li>
				</ul>
			</div>

			<div class="col-half-of-9">
				<div class="sectionlabel underlined">Benefits</div>
				<ul class="no-bullet">
					<li>Medical (HRA plan), vision, dental insurance</li>
					<li>401(k) saving plan</li>
					<li>Commuter Benefits Program</li>
					<li>Short term disability, long term disability, life and AD&amp;D insurance</li>
				</ul>
			</div>

		</div>
	</div>
</section>
