<% content_for :pagetitle do %>Euclid analytics technology for retail<% end %>
<% content_for :pagehead do %><% end %>
<section class="content no-pad PartnerReseller-main">
  <section class="content">
    <div class="hero-container">
        <div class="hero-unit hero-unit-careers">
            <div class="main-wrap main-content">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Careers at Euclid</h1>
                        <p>Help turn real-world behavior into unprecedented business insight. If you’re smart, inquisitive, and have a healthy disregard for the impossible, we want to talk to you.</p>
                        <a href="http://info.euclidanalytics.com/ContactUs.html" class="btn btn-marg tour-btn">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <div class="container">
    <div class="subcontainer9 pull-center">

      <div class="col9 separated euclid-sensor"> 
        <div class="hero-unit">
          <h1>Current opportunities</h1>
      <div id="euclid-resumator-wrapper" class="shadowed dark-box col9 marg-50">
        <div class="sectionlabel indent underlined no-bottom-marg">Openings</div>
        <script type="text/javascript" src="http://app.theresumator.com/widgets/basic/create/euclidelements" charset="utf-8"></script>
      </div>
    </div>
        </div>
      </div>
    </div>
    </div>
<section class="content featured-content-grad router-section company-section">
<div class="subcontainer9 pull-center two-columns">
                    <div class="col4 first-col4">
                    <h1>Perks</h1>
                        <ul>
                            <li>New offices in San Francisco's Mission District</li>
                            <li>Catered lunch Monday through Thursday</li>
                            <li>Coffee in the grinder, beer in the fridge, and a<br> loaded Sodastream </li>
                            <li>“Take as much vacation time as you need” policy</li>
                            <li>Ping-pong players of all skill levels (and a table)</li>
                            <li>Team events, happy hours, birthday celebrations and<br> Euclid Olympics </li>
                            <li>Your choice of Mac or PC</li>
                            <li>Bike-friendly environment</li>
                        </ul>
                    </div>
                    <div class="col4 second-col4">
                    <h1>Benefits</h1>
                        <ul>
                            <li>Top-of-the-line medical (HRA plan), vision,<br> and dental insurance</li>
                            <li>401(k) savings plan</li>
                            <li>Stock options </li>
                            <li>Commuter benefits program</li>
                            <li>Short and long-term disability, life, and<br> AD&D insurance</li>
                        </ul>
                    </div>
</div>
</section>
<section class="content featured-content-grad no-pad privacy-section investor-section employee-section">
<div class="subcontainer9 pull-center pad-50">
      <h1>What do our employees say? </h1>
<ul class="content-list">
        <li class="content-list-item">
            <img class="col3 headshot" src="/img/about/jason-pic.jpg">
          <div class="col6">
            <p>"Euclid combines the newest technology and a smart, innovative team with a fun culture." <br>–Jason Chen, Engineering</p>
          </div>
        </li> 

        <li class="content-list-item">
          <div class="col6">
            <p class="textRight">"It's a rare opportunity to work with incredibly smart people on a useful, relevant problem." <br>–Adrienn Hopkins, Operations </span></p>
          </div>
            <img class="col3 headshot" src="/img/about/adrienn-pic2.jpg">
        </li> 

        <li class="content-list-item">
            <img class="col3 headshot" src="/img/about/mike-pic.jpg">
          <div class="col6">
            <p>“Euclid’s technology is an incredible measurement of how the world works.”  <br>–Michael Minar, Analytics </p>
          </div>
        </li> 

        <li class="content-list-item">
          <div class="col6">
            <p class="textRight">"I appreciate Euclid's commitment to the customer, supportive nature, <span> and quirky sense of humor." <br>–Alexander Reichert, Product</span></p>
          </div>
            <img class="col3 headshot" src="/img/about/alex-pic.jpg">
        </li> 

        <li class="content-list-item">
            <img class="col3 headshot" src="/img/about/dexin-pic.jpg">
          <div class="col6">
            <p>“Using mobile location technology to gather big data provides a unique <br>opportunity to build the offline graph at web scale.”  <br>–Dexin Wang, Engineering</p>
          </div>
        </li> 




      </ul>
  </div>
</section>
</section> 
