<section class="content">
  	<div class="container">
	  	<div class="subcontainer9  pull-right content-list">
	  		<iframe class="col9 shadowed" width="770" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=1027B+alma+street,+palo+alto,+ca&amp;ie=UTF8&amp;hq=&amp;hnear=1027+Alma+St,+Palo+Alto,+Santa+Clara,+California+94301&amp;gl=us&amp;t=m&amp;ll=37.448424,-122.162046&amp;spn=0.023849,0.06609&amp;z=14&amp;output=embed"></iframe>
	  		<ul class="large-text col9 content-list">
		  		<li class="content-list-item">
		  			<a href="http://www.linkedin.com/company/euclid-inc." class="pull-right">
		  				<%= image_tag 'linkedinbtn.jpg', :class=> 'linkedin-btn' %>
		  			</a>
		  			Euclid Inc. <br />
					1027B Alma Street <br />
					Palo Alto, CA 94301
		  		</li>
		  		<li class="content-list-item">
		  			Sales: <%= link_to_signupsite('contact_us', 'Contact form', '') %> <br />
					Support: <a href="mailto:support@euclidanalytics.com">support@euclidanalytics.com</a> <br />
					Press: <a href="mailto:press@euclidanalytics.com">press@euclidanalytics.com</a> <br />
					Partnerships and other: <a href="mailto:info@euclidanalytics.com">info@euclidanalytics.com</a>
		  		</li>
		  	</ul>
	  	</div>
	 </div>
</section>