<% content_for :pagetitle do %>Contact Us<% end %>
<section class="content">
  	<div class="container">
	  	<div class="subcontainer9  pull-right">
	  		<div class="col9 "><a href="https://signup.euclidelements.com/contact_us" class="btn dark-btn clearfix">Contact Us</a></div>
	  		<div class="large-text col9 underlined underlined-light separated">
	  			
				<div id="social-btns" class="clearfix">
					<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
					<script type="IN/CompanyProfile" data-id="1610033" data-format="hover"></script>
					<a href="https://www.facebook.com/EuclidAnalytics" class="separated no-hover linkedin-btn">
		  				<%= image_tag 'fbbtn.png' %>
		  			</a>
		  			<a href="https://twitter.com/euclidanalytics" class="twitter-follow-button" data-show-count="false">Follow @euclidanalytics</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					<!--<a href="http://www.linkedin.com/company/euclid-inc." class="separated">
		  				<%= image_tag 'linkedinbtn.jpg', :class=> 'linkedin-btn' %>
		  			</a>-->
		  	</div>
	  			<div class="">
	  				Euclid Inc. <br />
					400 Alabama Street <br />
					San Francisco, CA 94110
				</div>
	  		</div>
	  		<iframe class="col9 shadowed separated" width="770" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=400+Alabama+St,+San+Francisco,+CA+94110&amp;sll=37.764187,-122.412324&amp;sspn=0.010432,0.010171&amp;ie=UTF8&amp;hq=&amp;hnear=400+Alabama+St,+San+Francisco,+California+94110&amp;t=m&amp;ll=37.764201,-122.412329&amp;spn=0.023748,0.06609&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
	  		<!--
	  		<div class="large-text col9">
	  			Sales: <%= link_to_signupsite('contact_us', 'Contact Form', '') %><br />
				Support: <a href="mailto:support@euclidanalytics.com" class="scramble-email">moc.scitylanadilcue@troppus</a> <br />
				Press: <a href="mailto:press@euclidanalytics.com" class="scramble-email">moc.scitylanadilcue@sserp</a> <br />
				Partnerships and other: <a href="mailto:info@euclidanalytics.com" class="scramble-email">moc.scitylanadilcue@ofni</a>
	  		</div>-->
	  	</div>
	 </div>
</section>