<% content_for :pagetitle do %>Euclid analytics technology for retail<% end %>
<% content_for :pagehead do %><% end %>
<section class="content no-pad PartnerReseller-main">
  <section class="content">
    <div class="hero-container">
        <div class="hero-unit hero-unit-company">
            <div class="main-wrap main-content">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>About Euclid</h1>
                        <p>We have a passion for analytics, retail, and using data to grow businesses. And we’re shoppers too.</p>
                        <a href="http://www.youtube.com/watch?v=ANkpSGikJw8" class="btn btn-marg tour-btn">Learn Our Story</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <div class="container">
    <div class="subcontainer9 pull-center">

      <div class="col9 separated euclid-sensor"> 
        <div class="hero-unit">
          <h1>What we do.</h1>
          <p>We provide answers and insights for brick and mortar locations, just as web analytics do for e-commerce. Our cloud-based analytics service helps retailers quantify marketing’s offline impact, optimize store performance, and understand customer behavior. Our analysis helps retailers make smarter, data-driven decisions that attract, engage, and retain customers.</p>
        </div>
      </div>
    </div>
    </div>
<section class="content featured-content-grad router-section company">
<div class="subcontainer9 pull-center pad-50">
    <div class="col9">
    <h1>Meet the management team. </h1>
      <ul class="content-list">
        <li class="content-list-item">
            <img class="col3 headshot" src="/img/about/will.png">
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Will Smith, Founder and CEO</div>
            <p>Will leads Euclid’s drive to answer retail’s toughest marketing and operations challenges with unprecedented insights into real-world shopper behavior. Will’s roots in the retail world run deep — his grandfather was an innovator in shopping center development and one-time chairman of the International Council of Shopping Centers. Will worked as an analyst at Citigroup and Thomas Weisel Partners and holds a degree in International Relations from Stanford University.</p>
          </div>
        </li> 

        <li class="content-list-item">
            <img class="col3 headshot" src="/img/about/ken.png">
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Ken Leung, CTO</div>
            <p>Ken Leung is a seasoned technology executive with a proven record of building world-class products. As CTO, he heads development of the company’s  shopper analytics platform for brick and mortar retailers. Leung has more than 20 years of product experience, including executive roles at Ariba and Remedy Corporation. Previously, Leung was President and CEO of FonRoots, developing a self-service mobile advertising solution. He holds degrees in Computer Engineering and Engineering Physics from Santa Clara University.</p>
          </div>
        </li> 

        <li class="content-list-item">
            <img class="col3 headshot" src="/img/about/john.png">
          <div class="col6">
            <div class="sectionlabel content-list-item-title">John McAdoo, CFO</div>
            <p>Prior to joining Euclid, John McAdoo was CFO for two VC-backed companies, where he played a major role in helping to scale operations and support fundraising efforts. McAdoo has a proven track record of driving revenue and profitability and, after eight years with ARM Holdings plc, managed the company's $1B acquisition by Artisan Components. A native of the UK, he attended the University of Manchester, where he received a BA in Economics before going on to the Institute of Chartered Accountants in England and Wales.</p>
          </div>
        </li> 

        <li class="content-list-item">
            <img class="col3 headshot" src="/img/about/brent.png">
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Brent Franson, SVP, Worldwide Sales</div>
            <p>Prior to joining Euclid, Brent was the Founding Head of Sales at Reputation.com (Backed by Kleiner Perkins, Bessemer, and August Capital) where he spent seven years spearheading revenue growth and go-to-market initiatives for Enterprise, Consumer and SMB. During his tenure, Reputation.com revenue grew from zero to many tens of millions with over a million customers in 100 countries.  In addition to his revenue responsibilities, Brent was intimately involved in the development of Reputation's core product suite. </p>
          </div>
        </li> 

        <!--<li class="content-list-item">
            <img class="col3 headshot" src="/img/about/adam.png">
           <div class="col6">
            <div class="sectionlabel content-list-item-title">Adam Wilson, CMO and SVP Products</div>
            <p>Adam Wilson brings a wealth of experience in big data and analytics to Euclid from Informatica, where he most recently served as SVP and general manager for the company's Information Lifecycle Management business. Prior to Informatica, he was the co-founder of Zimba, a pioneer in mobile business intelligence, which Informatica acquired. Throughout his career, Adam has focused on building and marketing innovative products that help leading organizations compete on information. Adam holds a BS in Engineering from Northwestern University and an MBA from the Kellogg School of Management.</p>
          </div>
        </li> -->


      </ul>
    </div>
  </div>
</section>
      <section class="content featured-content-grad no-pad privacy-section company-section">
<div class="col-xs-12 pad-70">
                    <div class="subcontainer9 pull-center two-columns">
                     <div class="col4 first-col4">
                    <h1>Board of Directors </h1>
                        <ul>
                            <li><label>Patrick Chung</label>
                                Partner, NEA
                            </li>
                            <li>
                            <label>Bruce Dunlevie </label>
                            General Partner, Benchmark Capital
                            </li>
                            <li>
                            <label>Jonathan Kaplan</label>
                            Founder and CEO, The Melt
                            </li>
                            <li>
                            <label>Will Smith </label>
                            Founder and CEO, Euclid
                            </li>
                        </ul>
                    </div>
                    <div class="col4 second-col4">
                    <h1>Board of Advisors</h1>
                        <ul>
                            <li><label>Brett Crosby</label>Director of Consumer Marketing,<br>Google Co-Founder,<br>Urchin Software / Google Analytics
                            </li>
                            <li>
                            <label>Lauren Gelman</label>
                            Principal and Founder, BlurryEdge Strategies
                            </li>
                            <li>
                            <label>Michael Linton</label>
                            Enterprise CMO, Farmers Insurance
                            </li>
                        </ul>
                    </div>
            </div>
</div>
</section>
<section class="content featured-content-grad no-pad privacy-section investor-section">
<div class="subcontainer9 pull-center pad-50">
      <h1>Investors</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="block"><img class="benchmark-logo" src="../../img/about/benchmark-logo.jpg"></div>
          <ul>
            <li>Michael Calbert</li>
            <li>Jens Christensen </li>
            <li>Elad Gil</li>
            <li>Auren Hoffman</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="block"><img class="harrison-logo" src="../../img/about/harrison-logo.jpg"></div>
          <ul>
            <li>Othman Laraki</li>
            <li>Ben Narasin</li>
            <li>Jason Spero</li>
            <li>Novel TMT Ventures</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="block"><img class="NEA-logo" src="../../img/about/NEA-logo.jpg"></div>
          <ul>
            <li>TriplePoint Ventures</li>
            <li>Ulu Ventures</li>
            <li>XG Ventures</li>
          </ul>
        </div>
    </div>
  </div>
</section>
</section> 
