<% content_for :pagetitle do %>About Us<% end %>
<% content_for :pagehead do %>

<div class="content featured-content-light banner" id="banner-about">
	<div class="container">
		<div class="col6 featured-content-textarea pull-right">
			<div class="featured-content-textarea-inner">
				<h1 class="light-text">Euclid helps offline retailers understand their customers better</h1>
			</div>
		</div>
	</div>
</div>

<% end %>
	


<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">
	  	<h3 class="col9 separated">
	  		We are engineers and innovators with a passion for analytics, retail, and finding needles in haystacks. Among us are the co-founder of Google Analytics, a member of ShopperTrak’s founding team, and senior executives from Ariba, Tibco, and Reuters. We are backed by some of the world’s most prominent venture capital firms and advised by leaders in retail, technology, and privacy.
	  	</h3>
	  	<div class="colgroup separated">
		  	<div class="col-half-of-9">
		  		<div class="sectionlabel">What we believe</div>
		  		<p>There’s no substitute for an amazing in-person shopping experience, whether it comes in the form of an inviting space, friendly service, or the simple pleasure of holding a product in your own hands. But for offline retail to thrive in the face of online, it’s going to take more than just gut and instinct. It means taking a systematic, data-driven approach to optimizing every part of the business.</p>
		  	</div>
		  	<div class="col-half-of-9">
		  		<div class="sectionlabel">What we do</div>
		  		<p>At Euclid, we use technology and data to help retailers build stronger customer relationships and more successful businesses. We turn in-store behavior into insights and recommendations for improving marketing, merchandising, and operations. We do this in a way that respects and protects individual privacy - after all, we’re shoppers too.</p>
		  	</div>
	  	</div>
	  	<div class="colgroup">
		  	<div class="col-half-of-9">
	  			<div class="sectionlabel underlined">Board of Directors</div>
	  			<ul class="no-bullet">
	  				<li>
	  					<span class="large-text">Will Smith</span>
	  					<p>Euclid CEO</p>
	  				</li>
	  				<li>
	  					<span class="large-text">Patrick Chung</span>
	  					<p>Partner, NEA</p>
	  				</li>
	  				<li>
	  					<span class="large-text">Bruce Dunlevie</span>
	  					<p>General Partner, Benchmark Capital</p>
	  				</li>
	  				<li>
	  					<span class="large-text">Jonathan Kaplan</span>
	  					<p>Founder, THE MELT</p>
	  				</li>
	  			</ul>
	  		</div>
	  		<div class="col-half-of-9">
	  			<div class="sectionlabel underlined">Board of Directors</div>
	  			<ul class="no-bullet">
	  				<li>
	  					<span class="large-text">Brett Crosby</span>
	  					<p>Director of Consumer Marketing, Google</p>
	  				</li>
	  				<li>
	  					<span class="large-text">Lauren Gelman</span>
	  					<p>Principal and Founder, BlurryEdge Strategies</p>
	  				</li>
	  				<li>
	  					<span class="large-text">Michael Linton</span>
	  					<p>Enterprise CMO, Farmers Insurance</p>
	  				</li>
	  			</ul>
	  		</div>
	  	</div>
	</div>
</section>

