<% content_for :pagetitle do %>Euclid analytics technology for retail<% end %>
<% content_for :pagehead do %><% end %>
<section class="content no-pad PartnerReseller-main">
  <section class="content">
    <div class="hero-container">
        <div class="hero-unit hero-unit-company">
            <div class="main-wrap main-content">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>About Euclid</h1>
                        <p>We have a passion for analytics, retail, and using data to grow businesses. And we’re shoppers too.</p>
                        <a href="http://www.youtube.com/watch?v=ANkpSGikJw8" class="btn btn-marg tour-btn">Learn Our Story</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <div class="container">
    <div class="subcontainer9 pull-center">

      <div class="col9 separated euclid-sensor"> 
        <div class="hero-unit">
          <h1>What we do.</h1>
          <p>We provide answers and insights for brick and mortar locations, just as web analytics do for e-commerce. Our cloud-based analytics service helps retailers quantify marketing’s offline impact, optimize store performance, and understand customer behavior. Our analysis helps retailers make smarter, data-driven decisions that attract, engage, and retain customers.</p>
        </div>
      </div>
    </div>
    </div>
<section class="content featured-content-grad router-section company">
<div class="subcontainer9 pull-center pad-50">
    <div class="col9">
    <h1>Meet the management team. </h1>
      <ul class="content-list">
        <li class="content-list-item">
            <img class="col3 headshot" src="/img/about/brent.png">
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Brent Franson, CEO</div>
            <p>Brent is a seasoned entrepreneur and sales/go-to-market executive with a track record of building and running large sales and account management teams in the consumer, SMB, and enterprise markets.  In addition to his extensive go-to-market background, Brent has been intimately involved in the development of enterprise grade analytics platforms where he holds multiple technology patents.</p>
            <p>Before he joined Euclid, Brent was the Founding Head of Sales and Vice President at Reputation.com (Backed by Kleiner Perkins, Bessemer, and August Capital).  Reputation.com, named a Technology Pioneer by the World Economic Forum, is the world's leading provider of online reputation products and services.  Under his leadership at Reputation.com, revenue grew from zero to many tens of millions (financials not disclosed publicly) across over a million customers in 100+ countries.</p>
            <p>Prior to assuming his role at Reputation.com, Franson spent several years building a full-service international search engine technology agency, which ultimately grew to include offices in Philadelphia, Denver, Mountain View, and Bangalore.</p>
        </li> 

<!--         <li class="content-list-item">
            <img class="col3 headshot" src="/img/about/will.png">
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Will Smith, Founder, Executive Chairman and CSO</div>
            <p>Will co-founded Euclid in 2010 and served as CEO until 2014 when he took on his current role as Executive Chairman and CSO. He is responsible for the company’s long-term business strategy and focuses on Euclid’s data and product vision. Will strives to answer retail’s toughest marketing and operations challenges with insights into real-world shopping behavior. Will’s root in retail run deep — his grandfather was an innovator in shopping center development and the chairman of the International Council of Shopping Centers.  Will spearheads Euclid’s privacy leadership and serves on the Advisory Board of the Future of Privacy Forum.</p>
            <p>Prior to Euclid, Will worked as an analyst at Thomas Weisel Partners and graduated from Stanford University.
            </p>
          </div>
        </li>  -->
         <li class="content-list-item">
            <img class="col3 headshot" src="/img/about/will.png">
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Will Smith, Executive Chairman and Chief Strategy Officer</div>
            <p>Will is the co-founder of Euclid Analytics and currently serves as the company’s Executive Chairman and Chief Strategy Officer. Will’s passion for data science drives the company’s long term-strategy and product vision, helping brands unlock the business value of their physical locations. Will’s roots in retail run deep – his grandfather was an innovator in shopping center development and the chairman of the International Council of Shopping Centers. In 2013, Will played a leading role defining the Mobile Location Analytics Code of Conduct with Senator Chuck Schumer and other leading location analytics companies. As a privacy expert, Will spearheads Euclid’s privacy initiatives and serves on the advisory Board of the Future of Privacy Forum. Prior to Euclid, Will worked as an analyst at Thomas Weisel Partners and graduated from Stanford University. </p>
          </div>
        </li> 

        <li class="content-list-item">
            <img class="col3 headshot" src="/img/about/randy.png">
           <div class="col6">
            <div class="sectionlabel content-list-item-title">Randy Brasche, Vice President of Marketing</div>
            <p>Randy has over 19 years of experience leading product and corporate marketing organizations at leading enterprise software companies.  As Vice President of Marketing, he is responsible for the company’s global marketing efforts, including product marketing and go-to-market programs. </p>
            <p>Before joining Euclid, Randy held senior product and corporate marketing roles at both ServiceSource and Genesys. Previously, Randy was a founding executive of the marketing team at Active Reasoning, a pioneer in data center automation. Randy also held various corporate and product marketing positions at Cable & Wireless, Exodus, Oracle, Informix and Liberate Technologies. </p>
            <p>Randy is the author of the popular <i>IT Compliance for Dummies, Dynamic Contact Center for Dummies, and Dynamic Customer Engagement for Dummies</i> books. A Bay Area Native, Randy holds a bachelors degree in International Business from Cal Poly Pomona. </p>
          </div>
        </li>


        <li class="content-list-item">
            <img class="col3 headshot" src="/img/about/jp.png">
           <div class="col6">
            <div class="sectionlabel content-list-item-title">Jean-Paul Cozzatti, Vice President of Products</div>
            <p>As a product and engineering leader, Jean-Paul has led teams to successfully build innovative products and services at Twitter and Bebo/AOL, and most recently the Data Products Team at RallyHealth.  As Vice President of Products, Jean-Paul is responsible for Euclid’s product strategy and management. </p>
            <p>As an early product manager at Twitter, Jean-Paul directed efforts to deliver new versions of User-Search, User and Brand-Profiles. Additionally, he was part of the team charged with rebuilding Twitter’s infrastructure, growing the engineering team from 80 to more than 350 engineers in less than a year and a half, and scaling Twitter’s architecture to support 250 million daily tweets.
            </p>
            <p>
                Before joining Twitter, Jean-Paul managed the product development team at Bebo/AOL that created the Lifestream platform, the Social Inbox, and User Profiles. Earlier in his career, he was a founding developer of the Yahoo! social networks: Y!360, Y!Mash and Y!Profiles.
                </p>

                <p>A Silicon Valley native, Jean-Paul studied Biophysics at the University of California, San Diego.</p>
          </div>
        </li>

        <li class="content-list-item">
            <img class="col3 headshot" src="/img/about/mark.png">
           <div class="col6">
            <div class="sectionlabel content-list-item-title">Mark Dahm, Vice President of Partnerships</div>
              <p>Mark has a twenty-year history of success in Silicon Valley and International Markets across sales, business development and product management. He is a recognized spokesman, panel participant and domain expert for Wireless and Mobility strategies in the enterprise, service provider and B2B2C markets. As the Vice President of Partnerships, Mark is responsible for driving growth through strategic relationships in the Wi-Fi and mobility marketplace.  </p>

              <p>Over the course of this career, Mark has an established track record with Global 100 companies including Cisco and DEC. In addition, he has held leadership positions with start-up companies in the Search Engine, Location Based Services and Mobile-Wireless solutions including Vicinity, Inktomi, Aruba Networks and KonaWare. </p>

              <p>Mark is a former US Air Force Officer, and holds a BS in Mechanical Engineering from Norwich University and an MBA in High Technology Management from Golden Gate University, and attended executive education studies at MIT Sloan School of Management and Stanford University.
              </p>
            </div>
          </li>

        <li class="content-list-item">
            <img class="col3 headshot" src="/img/about/john.png">
          <div class="col6">
            <div class="sectionlabel content-list-item-title">John McAdoo, Chief Financial Officer</div>
<p>John McAdoo is the Chief Financial Officer of Euclid and is responsible for the company's financial, human resources and legal operations. He has a proven track record of scaling operations and fundraising. Prior to Euclid, John raised over $100M through his work for two VC-backed businesses.</p>

<p>Previously, John spent almost a decade at ARM Holdings plc (ARMH), which is listed on both the LSE and NASDAQ, and ranked for many years in the FTSE 100. During his tenure with ARM, John spent seven years as Group Financial Controller and then VP of Finance and Administration. As ARM grew from 300 employees to almost 2,500, John was responsible for the company’s SAP implementation and leading its SOX compliance program. Later, he managed ARM's $1B acquisition of Artisan Components, and post-acquisition moved to the San Francisco Bay Area to manage that new business unit.</p>

<p>A native of the UK, John received a BA with honors in Economics and Accounting from the University of Manchester. He is also a member of the Institute of Chartered Accountants in England and Wales. </p>
          </div>
        </li> 




      </ul>
    </div>
  </div>
</section>
      <section class="content featured-content-grad no-pad privacy-section company-section">
<div class="col-xs-12 pad-70">
                    <div class="subcontainer9 pull-center two-columns">
                     <div class="col4 first-col4">
                    <h1>Board of Directors </h1>
                        <ul>
                            <li>
                            <label>Will Smith </label>
                            Founder, Chairman, and CSO, Euclid
                            </li>
                            <li>
                            <label>Brent Franson</label>
                            CEO Euclid
                            </li>
                            <li><label>Patrick Chung</label>
                                Partner, NEA
                            </li>
                            <li>
                            <label>Bruce Dunlevie </label>
                            General Partner, Benchmark Capital
                            </li>
                            <li>
                            <label>Jonathan Kaplan</label>
                            Founder and CEO, The Melt
                            </li>
                        </ul>
                    </div>
                    <div class="col4 second-col4">
                    <h1>Board of Advisors</h1>
                        <ul>
                            <li><label>Brett Crosby</label>Director of Consumer Marketing,<br>Google Co-Founder,<br>Urchin Software / Google Analytics
                            </li>
                            <li>
                            <label>Lauren Gelman</label>
                            Principal and Founder, BlurryEdge Strategies
                            </li>
                            <li>
                            <label>Michael Linton</label>
                            Enterprise CMO, Farmers Insurance
                            </li>
                        </ul>
                    </div>
            </div>
</div>
</section>
<section class="content featured-content-grad no-pad privacy-section investor-section">
<div class="subcontainer9 pull-center pad-50">
      <h1>Investors</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="block"><img class="benchmark-logo" src="../../img/about/benchmark-logo.jpg"></div>
          <ul>
            <li>Michael Calbert</li>
            <li>Jens Christensen </li>
            <li>Elad Gil</li>
            <li>Auren Hoffman</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="block"><img class="harrison-logo" src="../../img/about/harrison-logo.jpg"></div>
          <ul>
            <li>Othman Laraki</li>
            <li>Ben Narasin</li>
            <li>Jason Spero</li>
            <li>Novel TMT Ventures</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="block"><img class="NEA-logo" src="../../img/about/NEA-logo.jpg"></div>
          <ul>
            <li>TriplePoint Ventures</li>
            <li>Ulu Ventures</li>
            <li>XG Ventures</li>
          </ul>
        </div>
    </div>
  </div>
</section>
</section> 
