<% content_for :pagetitle do %>Our Investors<% end %>
<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  		<div class="col9 underlined"><h1>Investors</h1></div>
  		

	  	<ul class="cluster-list large-text underlined light-underlined">
	  		<li><a href="http://www.harrisonmetal.com/" target="_blank"><%= image_tag 'investors/H_M.png', :class=>'fill-container' %></a></li>
	  		<li><a href="http://www.nea.com/" target="_blank"><%= image_tag 'investors/NEA.png', :class=>'fill-container' %></a></li>
	  		<li><a href="http://www.benchmark.com/" target="_blank"><%= image_tag 'investors/benchmark.png', :class=>'fill-container' %></a></li>
	  	</ul>

	  	<ul class="cluster-list large-text">
	  		<li>Auren Hoffman</li>
	  		<li>Ben Narasin</li>
	  		<li>Elad Gil</li>
	  		<li>Jason Spero</li>
	  		<li>Jens Christensen</li>
	  		<li>Michael Calbert</li>
	  		<li>Novel TMT Ventures</li>
	  		<li>Othman Laraki</li>
	  		<li>TriplePoint Ventures</li>
	  		<li>Ulu Ventures</li>
	  		<li>XG Ventures</li>
	  	</ul>
  	</div>
  </div>
</section>