<section class="content no-bottom-pad">
  <div class="container">
  	<div class="col9  pull-right">
  		<h1 class="separated">Our Partners</h1>
  	</div>
  </div>
</section>
<section class="content no-pad">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  		<div class="col9 underlined separated">
  			<div class="sectionlabel">Enterprise Wi-Fi</div>
  			<p class="large-text">Euclid Analytics is available as an integrated solution with enterprise Wi-Fi solutions from our partners.</p>
  		</div>
  		
  		<ul class="content-list">
	  		<li class="content-list-item">
	  			<%= image_tag 'partners/aerohive.png', :class=> 'col3 headshot' %>
	  			<div class="col6">
	  				<div class="sectionlabel content-list-item-title emphasize">Aerohive Networks</div>
	  				<p>Aerohive Networks reduces the cost and complexity of today's networks with cloud-enabled Wi-Fi and routing solutions for medium and large enterprise headquarters, branch offices and teleworkers. Aerohive’s award-winning cooperative control Wi-Fi architecture, public or private cloud-enabled network management, routing and VPN solutions eliminate costly controllers and single points of failure. This gives its customers mission critical reliability with granular security and policy enforcement and the ability to start small and expand without limitations.</p>
	  			</div>
	  		</li>

	  		<li class="content-list-item">
	  			<%= image_tag 'partners/aruba.png', :class=> 'col3 headshot' %>
	  			<div class="col6">
	  				<div class="sectionlabel content-list-item-title emphasize">Aruba Networks</div>
	  				<p>Aruba Networks is a leading provider of next-generation network access solutions for the mobile enterprise. The company’s Mobile Virtual Enterprise (MOVE) architecture unifies wired and wireless network infrastructures into one seamless access solution for corporate headquarters, mobile business professionals, remote workers and guests. This unified approach to access networks dramatically improves productivity and lowers capital and operational costs.</p>
	  			</div>
	  		</li>

	  		<li class="content-list-item">
	  			<%= image_tag 'partners/xirrus.png', :class=> 'col3 headshot' %>
	  			<div class="col6">
	  				<div class="sectionlabel content-list-item-title emphasize">Xirrus</div>
	  				<p>Xirrus is the leading provider of high-performance wireless networks. Their array-based solutions perform under the most demanding circumstances - always. Their wired-like reliability and superior security allow customers to confidently take their business-critical applications and operations mobile. Xirrus solutions are unique in the industry, transforming enterprises and organizations around the world. </p>
	  			</div>
	  		</li>
	  		

	  	</ul>
  	</div>
  </div>
</section>
<section class="content no-pad">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  		<div class="col9 underlined sectionlabel">Consulting</div>
  		<ul class="content-list">
	  		<li class="content-list-item">
	  			<%= image_tag 'partners/claris.png', :class=> 'col3 headshot' %>
	  			<div class="col6">
	  				<div class="sectionlabel content-list-item-title emphasize">Claris Solutions</div>
	  				<p>Claris Solution is an established retail performance consultancy, has joined forces with Euclid to offer a unique, game-changing solution to improve store performance. The Claris-Euclid Store Experience Program™ turns shopper data into performance improvements with the development of custom solutions for each client.</p>
	  			</div>
	  		</li>
	  	</ul>
  	</div>
  </div>
</section>


<section class="content no-top-pad">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  		<div class="col9 underlined sectionlabel">Partnership Inquiries</div>
  		<div class="col9 large-text">
  			<a href="mailto:info@euclidanalytics.com" class="scramble-email">moc.scitylanadilcue@ofni</a>
  		</div>
  	</div>
  </div>
</section>








