%footer.footer
  .container
    .row
      .offset1.span3
        .row.footer_row
          %h3 Product Tour
          %ul 
            %li Metrics
            %li Features
            %li How it works
            %li Pricing
        .row.footer_row
          %h3 Our Customers
          %ul 
            %li Who uses Euclid
            %li Case Studies
      .span3
        .row.footer_row
          %h3 Privacy
          %ul
            %li How We Protect Consumers
            %li Privacy Statement
            %li Opt-out
        .row.footer_row
          %h3 About Euclid
          %ul
            %li Our Company
            %li Leadership
            %li Careers
      .span4
        .row.footer_row
          %h3 Get in touch with us
          .btn.btn-success Get Started
        .row.footer_row
          %h3 Want to Talk with us?
          .address 
            phone: (415) 200-1234
            %br 
            email:
            %a{:href => "mailto:info@euclidelements.com"} info@euclidelements.com
        .row.footer_row
          %h3 Tell collegues about Euclid
          .share
            %img{:src => "/images/mail.png", :height => "20px", :width => "20px"}
            %img{:src => "/images/linkedin.png", :height => "20px", :width => "20px"}
            %img{:src => "/images/facebook.png", :height => "20px", :width => "20px"}
            %img{:src => "/images/twitter.png", :height => "20px", :width => "20px"}