.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => "/"} 
        %img{"src" => "images/euclid_logo.png"}
      .row.pull-right.span4{:id => "customer_row"}
        .pull-right
          %a{:href => "/customer_login.html", :id => "customer_login"} Customer Login
          %a.btn.btn-success.btn-mini{:href => "/get_started.html", :id => "get_started"} Get Started
      .row.pull-right.span8{:id => "page_row"}   
        %ul.nav.pull-right{:id => "menu_items"}     
          %li{:class => @page_name == 'product_tour' ? 'active' : ''}
            %a{:href => "/product_tour.html"} Product Tour
          %li{:class => @page_name == 'out_customers' ? 'active' : ''}
            %a{:href => "/our_customers.html"} Our Customers
          %li{:class => @page_name == 'privacy' ? 'active' : ''}
            %a{:href => "/privacy.html"} Privacy
          %li{:class => @page_name == 'about' ? 'active' : ''}
            %a{:href => "/about.html"} About