<% content_for :pagetitle do %>Privacy<% end %>
<% content_for :pagehead do %>
<section class="content featured-content-grad no-pad">
<div class="hero-container">
    <div class="hero-unit hero-unit-privacy">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Privacy matters.</h1>
                    <p>Euclid worked with US senators and the Future of Privacy Forum to establish the Mobile Location Analytics <a href="http://blog.euclidelements.com/2013/10/senator-schumer-and-tech-companies.html">Code of Conduct</a>, standardizing mobile device data privacy. Simply put, consumer privacy comes first. That’s why Euclid always uses anonymous data and always will.</p>
                    <a href="http://www.youtube.com/watch?v=KZRMA3kDsVk" class="btn btn-marg" target="_blank">Watch Video</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<% end %>
<!--
<div class="hero-container hero-unit--privacy">
    <div class="hero-unit">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>U.S. Retail Benchmarks. Shoppers battle <br>the weather to take advantage of deals.</h1>
                    <p>Euclid captures millions of shopping sessions and billions of measurements to create a comprehensive monthly analysis of shopper behavior</p>
                    <a href="http://info.euclidanalytics.com/WC14-01USRBReg_RLP.html" class="btn dark-btn btn-marg">Download</a>
                </div>
            </div>
        </div>
    </div>
</div>
-->


<section class="content">
  <div class="container">
  	<div class="subcontainer9 pull-center">
	  	
	  	<ul class="content-list privacy-list">
	  		<li class="content-list-item">
	  			<%= image_tag 'privacy/person-icon.png', :class=> 'col3' %>
	  			<div class="col6">
	  				<div class="content-list-item-title sectionlabel">No personal information. No identifying data.</div>
	  				<p>The reports we provide to retailers do not include any personal information. We make no attempts to link any data, behavioral or otherwise, to individual people.
	  					<a href="../../img/privacy/report.png" title="Example Report" class="lightbox no-hover">View an example report</a>
	  				</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<%= image_tag 'privacy/lock-icon.png', :class=> 'col3' %>
	  			<div class="col6">
	  				<div class="content-list-item-title sectionlabel">Limited data collected.</div>
	  				<p>Our sensors collect only basic device information that is broadcast by Wi-Fi enabled phones. This does not include any sensitive data such as who you are, whom you call, or the websites you visit.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<%= image_tag 'privacy/shield-icon.png', :class=> 'col3' %>
	  			<div class="col6">
	  				<div class="content-list-item-title sectionlabel">Easy opt-out and deletion.</div>
	  				<p>Shoppers with any concerns can easily opt out of participation and delete all of their existing data from our servers by clicking the button below.</p>
	  				<p><a href="https://optout.smartstoreprivacy.org/" class="btn">Opt Out</a></p>
	  			</div>
	  		</li>

	  		<li class="content-list-item">
	  			<%= image_tag 'privacy/notice-icon.png', :class=> 'col3' %>
	  			<div class="col6">
	  				<div class="content-list-item-title sectionlabel">In-store notices</div>
	  				<p>To fully inform shoppers about foot-traffic analysis, we provide guidelines for retailers who use our service to post notices clearly in their stores.
	  				<a href="../../resources/euclid_instorenotice_guideline_201409.pdf" title="Notice Guidelines">View guidelines and notice</a></p>
	  			</div>
	  		</li>
			<li class="content-list-item content-list-item-title sectionlabel">
				<img class="col3">
				<div class="col6">Euclid is committed to protecting the individual privacy of shoppers. For more information, read our <a href="../../privacy/statement/" title="Notice Guidelines">Privacy Statement.</a>
				</div>
			</li>
	  	</ul>
	  </div>
	</div>
</section>
<script type="application/json" id="easyOptions">
{
        "global": {
                "dragDrop": false
        }
}
</script>