<% content_for :pagetitle do %>A statement on privacy<% end %>
<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  		<h1 class="col9 separated">
  			A Statement on Privacy
  		</h1>
  		<div class="col9"> 
  			<span class="sectionlabel">Overview</span>
  			<p>We are a team of software engineers, data scientists, product managers, and entrepreneurs. We are also moms, dads, former retailers, and full-time consumers. So we designed privacy into our product from the beginning. To do that, we follow three principles:</p>
  			<ul>
  				<li><b>No personal information is collected or used;</b></li>
  				<li><b>We only use aggregate, anonymous information;</b></li>
  				<li><b>Anyone can opt out.</b></li>
  			</ul>
  			<p>If you have any questions, please contact us at <a href="mailto:privacy@euclidanalytics.com" class="scramble-email">moc.scitylanadilcue@ycavirp</a>.</p>
  			<span class="sectionlabel">What exactly do we collect and why?</span>
  			<p>If you have a Wi-Fi-equipped phone AND Wi-Fi is turned on, Euclid senses the following: the presence of the phone (including its MAC address), the phone's manufacturer (Apple, Samsung, etc.), its signal strength, and, if the device is currently connected to a specific Wi-Fi network, the name of that network. Euclid then anonymizes and aggregates foot-traffic data which is used by our retailer clients to do things like improve store layouts, determine timing for promotions and sales, and set staffing levels and store hours.</p>

  			<span class="sectionlabel">How do we collect information? </span>
  			<p>When any Wi-Fi-enabled mobile device is turned on, it regularly sends “shout-outs” to nearby wireless networks that say the equivalent of “Here I am, Here I am.” All phones, computers, and other Wi-Fi-enabled mobile devices send these signals to introduce themselves to Wi-Fi networks that may be available to them. Included in each shout-out is a unique identifier called a MAC address. This combination of numbers and letters identifies your specific mobile device. The MAC address is not the same as your telephone number and it does not identify the user or contain any personally identifiable information. You can find more information about MAC addresses on <a href="http://en.wikipedia.org/wiki/MAC_address">Wikipedia</a> or feel free to <a href="mailto:privacy@euclidanalytics.com">contact us</a>.</p>
        <p>Euclid can sense when Wi-Fi-enabled devices make a shout-out. Euclid saves the information embedded in the shout-out, makes it secure by scrambling or encrypting it, then transmits the data to a database. The data in the database is used to produce reports -- aggregated and anonymous -- for our retail clients. They use these reports to improve store layouts, set the timing of promotions and sales, measure the effect of advertising, and determine store staffing and open hours.</p>
        <p><i>Our proprietary software was specially written to limit the sensor’s data collection to only what we need to provide the Euclid Services.</i> At no point is your name, phone number or any information – other than what is described explicitly in this statement – collected by Euclid.</p>

  			<span class="sectionlabel">If your data does not contain my name or any other personal information, how is it useful?</span>
  			<p>Our clients use Euclid Services to answer questions like: How many new shoppers did I have today? Last week? Do more people stop and enter the store with one window display vs. another? Did my marketing campaign work? Answering these questions does not require personal information of any kind. We only need to determine the amount of traffic that came into the store.</p>

  			<span class="sectionlabel">With whom do you share information?</span>
        <p>Your individual device information is never shared. We share reports with our clients that contain anonymous, aggregate analysis based on data collected from sensors in the client's store.</p>
		
		<p>Euclid will never sell, rent, or otherwise disclose any information we collect to third parties. Reports received by Euclid’s clients may only be used for the purposes for which the data was collected (as described in this statement).</p>
		
		<p>We only use qualified, respected 3rd-party providers (such as Amazon Web Services) for data exchange, aggregation, and storage, which is necessary to provide Euclid services. Read more about  <a href="http://aws.amazon.com/security/">Amazon's security measures</a>.</p>
		
        <p>Euclid does not combine data from multiple retail locations into one report EXCEPT when all the locations in question are owned by the same company (e.g. comparative data from two branches of the same chain). The data remains in aggregate form (e.g. “32% of clients in who visited store x today also visited store y within the last 30 days”). This means that no complete "profile" of your device's hits to our sensors across all locations is ever available to our clients.</p>
        
  			<span class="sectionlabel">How do you store data?</span>
  			<p>Data is transferred securely (using SSL) and is anonymized (hashed) before it is stored on Amazon Web Services. Hashed data can not be “reverse engineered” to reveal a device’s MAC address.</p>
        <p><i>This means that anyone who gains access to the database directly from Amazon – authorized or unauthorized – will only see long strings of numbers and letters and would not be able to get any information that could be linked to a back to a mobile device owner.</i></p>

  			<span class="sectionlabel">Is there any way to link data about your device’s physical location back to you?</span>
  			<p>In limited circumstances, yes. If someone already knows both your name and your MAC address, they could potentially legally require that we provide them with information in our database about your mobile device including the locations of the sensors where we recorded your signal. Euclid will only do this if it received sufficient and appropriate legal process or to respond to cases of fraud or abuse.</p>

  			<span class="sectionlabel">Can I opt-out and delete the data you have about my MAC address?</span>
  			<p>Yes. You can easily opt-out by <%= link_to_signupsite('optout', 'submitting your MAC address here', '') %>. We will stop saving any information about it in our databases and delete the data we already have associated with it. This will occur within seven days.If you have questions about this, please contact us at <a href="mailto:privacy@euclidanalytics.com" class="scramble-email">moc.scitylanadilcue@ycavirp</a> if you have any questions. Our <%= link_to 'website privacy statement', '/site-privacy.html' %> has information specific to euclidanalytics.com (which is entirely distinct from our analytics service offering).</p>
			<p>Thank you.</p> <p><b>The Euclid Team</b></p>
      <br/><hr />
  		</div>
  	</div>
  </div>
</section> 