<% content_for :pagetitle do %>A statement on privacy<% end %>
<section class="content pad-50">
  <div class="container">
  	<div class="subcontainer12  pull-center">
  		<h1 class="col12 ">
  			Privacy Statement
  		</h1>
      <span class="col12 separated sectionlabel">Effective date: April 4, 2014</span>
  		<div class="col12"> 
  			<span class="sectionlabel">Overview</span>
  			<p>We at Euclid are a team of software engineers, data scientists, product managers, and entrepreneurs. But we're also regular people and full-time consumers who understand privacy concerns. We've designed our product from the very beginning to protect data privacy. To do that, we follow three principles:</p>
  			<ul>
  				<li><b>We have no intention of capturing any personal information or real-world identity</b></li>
  				<li><b>We analyze only aggregated data, not individual devices</b></li>
  				<li><b>Anyone can opt out of participation in this data collection</b></li>
  			</ul>
  			<p>If you have any questions, please contact us at <a href="mailto:privacy@euclidanalytics.com">privacy@euclidanalytics.com</a>.</p>
  			<span class="sectionlabel">What information does Euclid collect and why?</span>
  			<p>When you walk with your mobile device (with its Wi-Fi function enabled) into a retail space that uses our technology, Euclid senses the following: the presence of the device, its signal strength, its manufacturer (Apple, Samsung, etc.), and a unique identifier known as its Media Access Control (MAC) address. This combination of numbers and letters identifies a specific device to the surrounding Wi-Fi networks. Because the MAC address does not disclose the device owner's real-world identity nor any other personal data, that information is never collected. You can find more information about MAC addresses on <a href="http://en.wikipedia.org/wiki/MAC_address">Wikipedia</a> or feel free to <a href="mailto:privacy@euclidanalytics.com">contact us</a>.</p>
        <p>Euclid collects and aggregates only anonymous data from your device into reports for retail clients. These reports are used to improve store layouts, determine timing for promotions and sales, measure the effects of advertising, and set staffing levels and store hours.</p>

  			<span class="sectionlabel">How does Euclid collect information? </span>
  			<p>When any Wi-Fi-enabled mobile device (such as a smartphone, tablet, or computer) is turned on, it regularly sends signals to announce its presence to nearby wireless networks. Euclid can sense when Wi-Fi-enabled devices make a signal. Euclid saves the information embedded in the signal, including a device's unique MAC address. Euclid promptly hashes the MAC addresses it collects in order to de-personalize the data, and then transmits it to a database. The data is then used to produce the reports for our retail clients. We contractually prohibit downstream recipients from attempting to use the data to identify a particular individual. </p>
        <p>Euclid's software was specially written to limit the sensor to collect only the data we need to improve client operations. At no point is your name, phone number, or any other personal information collected by Euclid.</p>

  			<span class="sectionlabel">If Euclid's data do not contain names or other personal information, how is it useful?</span>
  			<p>Our clients use the reports that Euclid generates to answer questions such as: How many new shoppers did I have this week vs. last week? Do more people stop and enter the store with one window display vs. another? How well did my marketing campaign work?</p>
  			<p>Answering these questions requires no personal information of any kind. We only need to determine the amount of traffic that came into the store.</p>

  			<span class="sectionlabel">With whom does Euclid share information?</span>
        <p>We share information only with our clients—the retailers from whose stores the anonymous data is captured. When Euclid provides a third party with an analysis of foot-traffic trends, it never includes device-specific data nor any names of stores included in the analysis. Only aggregated data is used.</p>
		
    		<p>We do not sell, rent, or otherwise disclose device-specific information to third parties. By design, Euclid's data contains no personal information nor real-world identities of shoppers; none of that data is ever collected.</p>
    		
    		<p>We only use qualified, respected 3rd-party providers (such as Amazon Web Services) for data exchange, aggregation, and storage, which are necessary to provide Euclid's services. Read more about <a href="http://aws.amazon.com/security/">Amazon’s security measures</a>.</p>
        
  			<span class="sectionlabel">How does Euclid store data?</span>
  			<p>Before being stored on Amazon Web Services, data is transferred securely (using SSL) and is then "hashed," or scrambled into a meaningless string of numbers and letters. Once a MAC address is hashed, Euclid will not attempt to re-identify the original MAC address from that data. </p> 
			<p>Hashed data cannot be reverse-engineered by a third party to reveal a device’s MAC address. This means that anyone who gains access to the database directly from Amazon—authorized or unauthorized—would see only long strings of numbers and letters. They would be unable to get any information that could be linked to a back to a particular mobile device owner. We retain data from individually hashed MAC addresses for 24 months, unless we have to keep the information for legal purposes. After 24 months, we only retain data about hashed MAC addresses in aggregate form.</p>
			
      <span class="sectionlabel">How does Euclid work with governments and law enforcement?</span>
      <p>Euclid does not respond to government requests unless we belief in good faith that a response is mandated by law. We require a warrant or court order before disclosing any of the limited amount of device location data that we possess.</p>

      <span class="sectionlabel">How does Euclid protect consumer privacy?</span>
      <p>In an effort to protect consumer privacy, Euclid complies with the Mobile Location Analytics <a href="http://blog.euclidelements.com/2013/10/senator-schumer-and-tech-companies.html">Code of Conduct</a>. This code was established as an industry-wide standard for protecting the privacy of consumers when dealing with their mobile device data. It also defines rules of engagement for technology companies like Euclid to inform consumers about foot-traffic analysis and provide an easy way to opt out.</p>



  			<span class="sectionlabel">Can anyone opt out and delete the data Euclid has about a particular MAC address?</span>
  			<p>Yes. You can opt out by <a href="https://optout.smartstoreprivacy.org/">submitting your MAC address here</a>. Euclid will remove any existing data about that MAC address and will collect no further data about that MAC address in the future. </p>

        <span class="sectionlabel">US-EU and US-SWISS Safe Harbor</span>
        <p>Euclid complies with the US-EU Safe Harbor Framework and US-Swiss Safe Harbor Framework as set forth by the US Department of Commerce regarding the collection, use, and retention of personal information from European Union member countries and Switzerland. Euclid has certified that it adheres to the Safe Harbor Privacy Principles of notice, choice, onward transfer, security, data integrity, access, and enforcement. To learn more about the Safe Harbor program, and to view our certification page, please visit <a href="http://www.export.gov/safeharbor//">http://www.export.gov/safeharbor/</a>.</p>

        <p>In compliance with the US-EU and US-Swiss Safe Harbor Principles, Euclid commits to resolve complaints about your privacy and our collection or use of your personal information. European Union or Swiss citizens with inquiries or complaints regarding this privacy policy should first contact Euclid at <a href="mailto:privacy@euclidanalytics.com">privacy@euclidanalytics.com</a>.</p>

        <p>Euclid has further committed to refer unresolved privacy complaints under the US-EU and US-Swiss Safe Harbor Principles to an independent dispute resolution mechanism, the BBB EU SAFE HARBOR, operated by the Council of Better Business Bureaus. If you do not receive timely acknowledgment of your complaint, or if your complaint is not satisfactorily addressed by Euclid, please visit the BBB EU SAFE HARBOR web site at <a href="www.bbb.org/us/safe-harbor-complaints">www.bbb.org/us/safe-harbor-complaints</a> for more information and to file a complaint.</p>

        <p>If you have any comments or questions, please contact us at <a href="mailto:privacy@euclidanalytics.com">privacy@euclidanalytics.com</a>.</p>
			
			<p>Thank you.</p> 
  		</div>
  	</div>
  </div>
</section> 