<% content_for :pagetitle do %>A statement on privacy<% end %>
<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  		<h1 class="col9 ">
  			A Statement on Privacy
  		</h1>
      <span class="col9 separated sectionlabel">Effective date: June 25, 2013</span>
  		<div class="col9"> 
  			<span class="sectionlabel">Overview</span>
  			<p>We are a team of software engineers, data scientists, product managers, and entrepreneurs. We are also regular people and full-time consumers. We design privacy into our product from the beginning. To do that, we follow three principles:</p>
  			<ul>
  				<li><b>Euclid doesn't collect or use personal information or real-world identity</b></li>
  				<li><b>We analyze aggregates, not individual devices</b></li>
  				<li><b>Anyone can opt out</b></li>
  			</ul>
  			<p>If you have any questions, please contact us at <a href="mailto:privacy@euclidanalytics.com">privacy@euclidanalytics.com</a>.</p>
  			<span class="sectionlabel">What information does Euclid collect and why?</span>
  			<p>If you have a Wi-Fi-equipped phone and Wi-Fi is turned on, Euclid senses the following: the presence of the phone, its Media Access Control (MAC) address, the phone’s manufacturer (Apple, Samsung, etc.), its signal strength, and, if the device is currently connected to a Wi-Fi network, the name of that network. No personal information is collected or used. Real-world identity is  not collected or used by Euclid. Euclid then aggregates these data into reports for retail clients. The reports are used by our retail clients to improve store layouts, determine timing for promotions and sales, measure the effect of advertising, and set staffing levels and store hours.</p>

  			<span class="sectionlabel">How does Euclid collect information? </span>
  			<p>When any Wi-Fi-enabled mobile device is turned on, it regularly sends “shout-outs” to nearby wireless networks that say the equivalent of “Hello, world!” All phones, computers, and other Wi-Fi-enabled mobile devices send these shout-outs to introduce themselves to Wi-Fi networks. Included in each shout-out is a unique identifier called a MAC address. This combination of numbers and letters identifies a specific mobile device to the surrounding Wi-Fi networks. The MAC address does not disclose the device owner's real-world identity nor does it contain any personal information. You can find more information about MAC addresses on <a href="http://en.wikipedia.org/wiki/MAC_address">Wikipedia</a> or feel free to <a href="mailto:privacy@euclidanalytics.com">contact us</a>.</p>
        <p>Euclid can sense when Wi-Fi-enabled devices make a shout-out. Euclid saves the information embedded in the shout-out, makes it secure by scrambling or encrypting it, then transmits the data to a database. The data in the database is used to produce reports for our retail clients. They use these reports to improve store layouts, set the timing of promotions and sales, measure the effect of advertising, and determine store staffing and open hours.</p>
        <p>Euclid's software was specially written to limit the sensor’s data collection to only what we need to provide the Euclid Services. At no point is your name, phone number or any personal information collected by Euclid.</p>

  			<span class="sectionlabel">If Euclid's data do not contain names or other personal information, how is it useful?</span>
  			<p>Our clients use Euclid to answer questions like: How many new shoppers did I have today? Last week? Do more people stop and enter the store with one window display vs. another? Did my marketing campaign work?</p>
			<p>Answering these questions does not require personal information of any kind. We only need to determine the amount of traffic that came into the store.</p>

  			<span class="sectionlabel">With whom does Euclid share information?</span>
        <p>We share information with our clients -- the retailers in whose stores the anonymous foot-traffic data is captured. When Euclid publishes aggregate analysis of retail traffic trends to third parties, these never include device-level data or the identity of the stores included in the analysis. </p>
		
		<p>Euclid does not sell, rent, or otherwise disclose any device-level information to third parties. By design, none of Euclid's information contains personal information or real-world identities of shoppers because we do not collect or use such data.</p>
		
		<p>We only use qualified, respected 3rd-party providers (such as Amazon Web Services) for data exchange, aggregation, and storage, which are necessary to provide Euclid's services. Read more about <a href="http://aws.amazon.com/security/">Amazon’s security measures</a>.</p>
        
  			<span class="sectionlabel">How does Euclid store data?</span>
  			<p>Data is transferred securely (using SSL) and is "hashed" (scrambled into a meaningless string of numbers and letters) before it is stored on Amazon Web Services.</p> 
			<p>Hashed data can not be reverse engineered by a third party to reveal a device’s MAC address. This means that anyone who gains access to the database directly from Amazon – authorized or unauthorized – will only see long strings of numbers and letters. They would not be able to get any information that could be linked to a back to a particular mobile device owner.</p>
			
			<span class="sectionlabel">How does Euclid work with governments and law enforcement?</span>
			<p>Euclid does not respond to government requests unless we have a good faith belief that the response is required by law. We would require a warrant or court order before disclosing the limited device location data that we possess.</p>

  			<span class="sectionlabel">Can anyone opt out and delete the data Euclid has about a particular MAC address?</span>
  			<p>Yes. Anyone can opt out by <%= link_to_signupsite('optout', 'submitting your MAC address here', '') %>. Within seven days, Euclid will remove existing data about that MAC address and will not collect data about that MAC address in the future. If you have any comments or questions, please contact us at <a href="mailto:privacy@euclidanalytics.com">privacy@euclidanalytics.com</a>.</p>
			
			<span class="sectionlabel">What are Euclid's privacy policies regarding use of this website?</span>
			<p>The answer below only applies to information collected or submitted on the Euclid website. On some pages, you can order products and make requests. The types of personal information collected at these pages include name, address, email address, and credit/debit card information. You may, however, visit our site anonymously.</p>
			<p>We use the information you provide about yourself when placing an order only to complete that order. We do not share this information with outside parties except to the extent necessary to complete that order.</p>
			<p>We use return email addresses to answer the email we receive. Such addresses are not used for any other purpose and are not shared with outside parties.</p>
			<p>We use anonymous and aggregate information to better design our website. We continually strive to improve our website offerings based on the information and feedback we receive from you and from industry-standard website analytics (such as Google Analytics).</p>
			<p>We never use or share the personally identifiable information provided to us online in ways unrelated to the ones described above. We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect our or others’ rights, property, or safety.</p>
			<p>To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online.</p>
			<p>Protecting the privacy of the very young is especially important. For that reason, we never collect or maintain information at our website from those we actually know are under 13, and no part of our website is structured to attract anyone under 13.</p>
			<br/>
			<p>Thank you.</p> <p><b>The Euclid Team</b></p>
  		</div>
  	</div>
  </div>
</section> 