<% content_for :pagetitle do %>Security<% end %>
<section class="content">
  <div class="container">
  	<div class="subcontainer12 pull-center">
  		<div class="col12 separated"> 
        <h1 class="">Trust and transparency</h1>
  		  <p class="large-text">Euclid understands the importance of operational transparency. In this section you will find information about Euclid service uptime, data security practices and Electronic Reporting Services agreement.</p>
      </div>
      <div class="col12 separated">
        <h2>Euclid Service Uptime</h2>
        <table id="trust-table">
          <thead>
            <tr>
              <td></td>
              <td>Analytics Availability</td>
              <td>Data Collection</td>
              <td>Dashboard Uptime</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>January 2014</td>
              <td>99.81%</td>
              <td>100%</td>
              <td>99.96%</td>
            </tr>
            <tr>
              <td>December 2013</td>
              <td>97.06%</td>
              <td>100%</td>
              <td>99.94%</td>
            </tr>
            <tr>
              <td>November 2013</td>
              <td>97.65%</td>
              <td>100%</td>
              <td>99.98%</td>
            </tr>
            <tr>
              <td>October 2013</td>
              <td>96.88%</td>
              <td>100%</td>
              <td>99.97%</td>
            </tr>
            <tr>
              <td>September 2013</td>
              <td>99.57%</td>
              <td>100%</td>
              <td>99.98%</td>
            </tr>
            <tr>
              <td>August 2013</td>
              <td>97.35%</td>
              <td>100%</td>
              <td>99.98%</td>
            </tr>
          </tbody>
        </table>
        <div class="footnotes">
          <b>Notes:</b>
          <ul>
            <li><b>Analytics Availability</b> represents the daily analytics processed by 9 a.m. PST</li>
            <li><b>Data Collection</b> represents service availability for accepting data from sensors (based on relevant Amazon Web Services used)</li>
            <li><b>Dashboard Uptime</b> represents customer dashboard availability (based on relevant Amazon Web Services used)</li>
          </ul>
        </div>
      </div>  
      <div class="col12 separated">
        <h2>Data Security</h2>
        <p class="large-text">Euclid Analytics is built from the ground up with security in mind. Euclid works securely within your existing network infrastructure. We believe in protecting both your business and your shoppers.</p>
      </div>  
	  	<ul class="cluster-list light-underlined underlined separated how-section-list">
	  		<li>
	  			<div class="sectionlabel">MAC address hashing</div>
  				<p>Each phone’s MAC address is scrambled with a one-way hash.</p>
  			</li>
	  		<li>
	  			<div class="sectionlabel">Encrypted data transmission</div>
  				<p>Data is sent to Amazon Web Services (AWS) using Secure Sockets Layer (SSL) encryption.</p>
  			</li>
	  		<li>
	  			<div class="sectionlabel">Secure data storage</div>
  				<p>Information is stored in Amazon’s highly secure data centers.</p>
  			</li>
	  		<li>
	  			<div class="sectionlabel">Limited employee access</div>
  				<p>We use technical and policy controls to prohibit unauthorized access.</p>
  			</li>
	  		<li class="newrow">
	  			<div class="sectionlabel">Maintains PCI compliance</div>
  				<p>Our sensors do not collect cardholder data or impact the topology of your secure network.</p>
  			</li>
	  	</ul>
		<div class="col12">
      <h2>Euclid's Electronic Services Reporting Terms &amp; Conditions</h2>
			<p class="large-text ">Learn more about <%= link_to 'Euclid\'s Electronic Services Reporting Terms &amp; Conditions', '/terms/standard/legal/' %>.</p>
		</div>
  	</div>
  </div>
</section>
