<% content_for :pagetitle do %>A statement on privacy<% end %>
<section class="content">
  <div class="container">
  	<div class="subcontainer12  pull-center">
  		<h1 class="col12 ">
  			Website privacy
  		</h1>
      <span class="col12 separated sectionlabel">EUCLID'S PRIVACY POLICIES REGARDING USE OF THIS WEBSITE</span>
  		<div class="col12"> 
  			<p>The information below applies only to data collected from or submitted to the Euclid website. On pages of the site from which you can order products and make requests, the personal information collected is that which you intentionally provide to us. It includes your name, address, email address, and credit/debit card information. You do have the option, however, to provide none of your personal information. </p>

        <p>The personal information you provide when placing an order is used only to complete that order. We do not share this information with outside parties except to the extent necessary to fulfill the order. Similarly, return email addresses are used only to answer the email we receive. We do not use these addresses for any other purpose nor do we share them with outside parties. </p>

        <p>We use anonymous and aggregated information to better design our website. We continually strive to improve our website offerings based on the information and feedback we receive from you and from industry-standard website analytics (such as Google Analytics). Other parties may collect data about your activities over time and across difference websites that is considered personally identifiable information under California law. </p>

        <p>We never use or share the personally identifiable information provided to us online in ways unrelated to the ones described above. We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect our or others' rights, property,  or safety. We do not currently respond to 'Do Not Track' signals and we wait for policymakers and stakeholders to determine what a response should consist of.   </p>

        <p>To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have implemented appropriate physical, electronic, and managerial procedures. This helps us to ensure the security of information we collect online. </p>

        <p>Protecting the privacy of the very young is especially important. For that reason, we never collect or maintain information at our website from visitors we know to be under the age of 13, and no part of our website is structured to attract visitors from that age group. </p>

  		</div>
  	</div>
  </div>
</section> 