<% content_for :pagetitle do %>Euclid Benchmarks<% end %>
<% content_for :pagehead do %><% end %>
<section class="content benchMark-main">
<section class="content featured-content-grad no-pad">
<div class="hero-container">
    <div class="hero-unit hero-unit-resources">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Benchmarks</h1>
                    <p>The U.S. Retail Benchmark is a comprehensive monthly analysis of shopper behavior across the national retail industry. Euclid utilizes its vast network in thousands shopping centers, malls, and street locations to measure trends across all key in-store shopper metrics from the billions of events captured each day. </p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
  <div class="container">
  	<div class="subcontainer9 pull-center">

  		<div class="col2 hide-on-mobile benchMark-icon">
  			<%= image_tag 'benchmark-icon.png'%>
  		</div>
  		<ul class="col7 pull-right how-section-list">			
  			<li>
          <div class="sectionlabel">June 2014</div>
          <a href="http://info.euclidanalytics.com/WC14-06USRB_Reg_RLP.html">Highly Engaged Shoppers Help Score Big Sales in June.</a><br/>
        </li>
        <li>
          <div class="sectionlabel">May 2014</div>
          <a href="http://info.euclidanalytics.com/WC14-05USRB_Reg_RLP.html">Retail Graduates to 5% Sales Growth in May.</a><br/>
        </li>
        <li>
          <div class="sectionlabel">April 2014</div>
          <a href="http://info.euclidanalytics.com/WC14-04USRB_Reg_RLP.html">Shoppers didn't fill their Easter baskets in April.</a><br/>
        </li>
        <li>
          <div class="sectionlabel">March 2014</div>
          <a href="http://info.euclidanalytics.com/WC1403USRB_Reg_RLP.html">U.S. retail failed to emerge from the snow in March.</a><br/>
        </li>
        <li>
	  			<div class="sectionlabel">February 2014</div>
					<a href="http://info.euclidanalytics.com/WC1402USRB_Reg_RLP.html">Bad case of frostbite for February retail sales.</a><br/>
				</li>
				<li>
					<div class="sectionlabel">January 2014</div>
					<a href="http://info.euclidanalytics.com/WC14-01USRBReg_RLP.html">Shoppers battle the weather to take advantage of deals.</a><br/>
				</li>
				<li>
					<div class="sectionlabel">December 2013</div>
					<a href="http://info.euclidanalytics.com/WC1312USRB_Reg_RLP.html">Shopper frenzy to finish off the holiday season.</a><br/>
				</li>
				<li>
					<div class="sectionlabel">November 2013</div>
					<a href="http://info.euclidanalytics.com/WC1311USRB_Reg_RLP.html">Holiday promotions bring shoppers out in droves.</a><br/>
				</li>
				<li> 
					<div class="sectionlabel">October 2013</div>
					<a href="http://info.euclidanalytics.com/WC1310USRB_Reg_RLP.html">Government shutdown spooks shoppers.</a><br/>
				</li>
        <li> 
          <div class="sectionlabel">September 2013</div>
          <a href="http://info.euclidanalytics.com/WC1309USRB_Reg_RLP.html">September slowdown as macro headwinds loom.</a><br/>
        </li>
  		</ul>
  </div>
		</div>
</section> 
