<% content_for :pagetitle do %>Resources<% end %>
<div class="content">
    <div class="container">
        <div class="col12"> 
          <h1>Resources</h1>
          <h2 class="pad-top">Product Information</h2>
          <ul>
				<li><a href="https://euclidanalytics.zendesk.com/attachments/token/gcb1av8nhxwaz7e/?name=Euclid+Overview.pdf">Product Overview</a></li>
				<li><a href="https://euclidanalytics.zendesk.com/attachments/token/mspo5kdzfiuccoz/?name=Euclid+Metrics.pdf">Euclid Metrics</a></li>
				<li><a href="https://euclidanalytics.zendesk.com/attachments/token/zhkzxehr0rvfk9d/?name=Euclid+Technical+Overview.pdf">Technical Overview</a></li>
				<li><a href="https://euclidanalytics.zendesk.com/attachments/token/1mmu0yxzxswn5kq/?name=Euclid+Privacy.pdf">Privacy Overview</a></li>
				<li><a href="https://euclidanalytics.zendesk.com/attachments/token/iqw6im6hmydb62l/?name=Euclid+ROI+Brief.pdf">Euclid ROI Brief</a></li>
          </ul>

          <h2>Case Studies</h2>
          <h4>Retailers</h4>
          <ul>
			 <li><a href="https://euclidanalytics.zendesk.com/attachments/token/tzo1nbv5znsacob/?name=Euclid+Drives+Sales+by+Measuring+Real+Customer+Engagement.pdf">Drive Sales by Measuring Real Customer Engagement</a></li>
			 <li><a href="https://euclidanalytics.zendesk.com/attachments/token/iomkltikgzuq8ls/?name=Euclid+Helps+National+Retailer+Increase+Marketing+ROI+and+Same-store+Sales.pdf">Increase Marketing ROI and Same-Store Sales</a></li>
			 <li><a href="https://euclidanalytics.zendesk.com/attachments/token/h5zag64ae1ebxkw/?name=Euclid+Helps+National+Retailer+Target+High+Value+Customers.pdf">Target High-Value Customers</a></li>
			 <li><a href="https://euclidanalytics.zendesk.com/attachments/token/nuamqecq5q9x4no/?name=Euclid+Helps+Retailer+Determine+Highest+Value+Zip+Codes+for+Ad+Targeting.pdf">Determine Highest Value Zip Codes for Ad Targeting</a></li>
  		  </ul>
  		  <h4>Quick Service Restaurants</h4>
  		  <ul>
			 <li><a href="https://euclidanalytics.zendesk.com/attachments/token/xly4csxlldbzddi/?name=Euclid+Helps+Quick+Service+Restaurant+Chain+Increase+Breakfast+Revenue.pdf">Increase Breakfast Revenue</a></li>
			 <li><a href="https://euclidanalytics.zendesk.com/attachments/token/xcrgejad8cpppgp/?name=Euclid+Helps+Restaurant+Chain+Measure+ROI+on+Consumer+Loyalty.pdf">Measure ROI on Consumer Loyalty</a></li>
			 <li><a href="https://euclidanalytics.zendesk.com/attachments/token/qxdijgwkkmaq99u/?name=Philz+Coffee+Quantifies+Store+Personality+with+Euclid+Analytics.pdf">Philz Coffee Quantifies Store Personality with Euclid Analytics</a></li>
  		  </ul>
   		</div>
	</div>
</div>