<% content_for :pagetitle do %>Euclid Benchmarks<% end %>
<% content_for :pagehead do %><% end %>
<section class="content benchMark-main">
<section class="content featured-content-grad no-pad">
<div class="hero-container">
    <div class="hero-unit hero-unit-library">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Resources</h1>
                    <p>Learn more about what Euclid has to offer.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section>
  <div class="container">
  	<div class="subcontainer9 pull-center resources">
      <h1>Webinars and Product Tours</h1>
  		<div class="col2 hide-on-mobile benchMark-icon">
  			<%= image_tag '../img/resources/resources-webinars.png'%>
  		</div>
  		<ul class="col7 pull-right how-section-list">			
  			<li>
	  			<div class="sectionlabel">Webinar</div>
					<a href="http://info.euclidanalytics.com/WBN14-01recording_Reg.html">Get Started with Retail Location Analytics</a><br/>
				</li>
				<li>
					<div class="sectionlabel">Webinar</div>
					<a href="http://info.euclidanalytics.com/WBN14-02FierceRetail_RecordedwbnLP.html">Euclid for IT: How to Get Started with Free Location Analytics</a><br/>
				</li>
				<li>
					<div class="sectionlabel">Video</div>
					<a href="http://www.youtube.com/watch?v=LNckTJZaY_g&list=PLnaQmtUJyjOW-Qn-jnkxLa4bAGqNeIazf">Product Tour of Euclid Analytics</a><br/>
				</li>
  		</ul>
  </div>
</div>
</section>
<section>
<div class="container">
    <div class="subcontainer9 pull-center">
      <h1>White Papers</h1>
      <div class="col2 hide-on-mobile benchMark-icon">
        <%= image_tag '../img/resources/resources-whitePaper.png'%>
      </div>
      <ul class="col7 pull-right how-section-list">     
        <li>
          <div class="sectionlabel">White Paper</div>
          <a href="http://info.euclidanalytics.com/WC1402TechnicalWhitepaper_RLP.html">Understanding Shopper Engagement in Retail Establishments</a><br/>
        </li>
      </ul>
  </div>
</div>
</section>
<section>
<div class="container">
    <div class="subcontainer9 pull-center">
      <h1>Product and Company Overviews</h1>
      <div class="col2 hide-on-mobile benchMark-icon">
        <%= image_tag '../img/resources/resources-products.png'%>
      </div>
      <ul class="col7 pull-right how-section-list">     
        <li>
          <div class="sectionlabel">Datasheet</div>
          <a href="../../resources/EuclidOverview.pdf">Euclid Overview</a><br/>
        </li>
        <li>
          <div class="sectionlabel">Datasheet</div>
          <a href="../../resources/EuclidExpress.pdf">Euclid Express</a><br/>
        </li>
        <li>
          <div class="sectionlabel">Datasheet</div>
          <a href="../../resources/EuclidPlansPricing.pdf">Euclid Product Plans</a><br/>
        </li>
        <li>
          <div class="sectionlabel">Datasheet</div>
          <a href="../../resources/EuclidMetrics.pdf">Euclid Metrics</a><br/>
        </li>
        <li>
          <div class="sectionlabel">Datasheet</div>
          <a href="../../resources/EuclidConsumerPrivacy.pdf">Euclid Consumer Privacy</a><br/>
        </li>
        <li>
          <div class="sectionlabel">Video</div>
          <a href="http://www.youtube.com/watch?v=IzTKFis4r24">Answers and Insights for Physical Locations</a><br/>
        </li>
        <li>
          <div class="sectionlabel">Video</div>
          <a href="http://www.youtube.com/watch?v=ANkpSGikJw8">Euclid Empowers Brick and Mortar Retail with Data</a><br/>
        </li>
        <li>
          <div class="sectionlabel">Video</div>
          <a href="http://www.youtube.com/watch?v=KZRMA3kDsVk">Euclid Privacy</a><br/>
        </li>
      </ul>
  </div>
</div>
</section>
<section class="last-section">
<div class="container">
    <div class="subcontainer9 pull-center">
      <h1>Customer Stories</h1>
      <div class="col2 hide-on-mobile benchMark-icon">
        <%= image_tag '../img/resources/resources-customerStories.png'%>
      </div>
      <ul class="col7 pull-right how-section-list">     
        <li>
          <div class="sectionlabel">Snapshot</div>
          <a href="http://euclidanalytics.com/solutions/case-studies/case_study_philz_coffee.pdf">Philz Coffee quantifies store “personality”</a><br/>
        </li>
        <li>
          <div class="sectionlabel">Snapshot</div>
          <a href="http://euclidanalytics.com/solutions/case-studies/qsr_loyalty.pdf">Restaurant chain measures ROI on customer loyalty</a><br/>
        </li>
        <li>
          <div class="sectionlabel">Snapshot</div>
          <a href="http://euclidanalytics.com/solutions/case-studies/qsr_breakfast.pdf">QSR increases breakfast revenues</a><br/>
        </li>

        <li>
          <div class="sectionlabel">Snapshot</div>
          <a href="http://euclidanalytics.com/solutions/case-studies/Marketing_ROI_Whitepaper_061213.pdf">National retailer increases marketing ROI and same store sales</a><br/>
        </li>
        <li>
          <div class="sectionlabel">Snapshot</div>
          <a href="http://euclidanalytics.com/solutions/case-studies/Duration_ROI_Whitepaper_061213.pdf">Youth apparel chain targets high-value customers</a><br/>
        </li>
        <li>
          <div class="sectionlabel">Snapshot</div>
          <a href="http://euclidanalytics.com/solutions/case-studies/geographic_reach.pdf">Clothing chain determines highest value zip codes for ad targeting</a><br/>
        </li>
        <li>
          <div class="sectionlabel">Snapshot</div>
          <a href="http://euclidanalytics.com/solutions/case-studies/high-value_customers.pdf">National retailer targets high-value customers</a><br/>
        </li>
        <li>
          <div class="sectionlabel">Video</div>
          <a href="http://www.youtube.com/watch?v=6eBeWqdYZBM">Philz Coffee “Customers are more than transactions”</a><br/>
        </li>
      </ul>
  </div>
</div>
</section> 
</section>
