<% content_for :pagetitle do %>Euclid Analytics for Xirrus<% end %>
<section class="content">
  <div class="container">
  	<div class="subcontainer9 pull-right">
  		<h1 class="col9 ">Euclid Analytics for Xirrus Wi-Fi</h1>
	  	<h2 class="col9 separated">
	  		Get answers and insights for your retail business free with your Xirrus wireless infrastructure. No dedicated sensors, costly in-store installation, or complicated configuration required.
	  	</h2>
	  	<p class="col9 separated">
	  		<a href="mailto:info@euclidanalytics.com?subject=Euclid+Analytics+for+Xirrus">Contact us for details</a>
	  	</p>
	  </div>
	 </div>
</section>