<% content_for :pagetitle do %>Website Privacy<% end %>
<section class="content">
  <div class="container">
  		<div class="col12 separated"> 
          <h1>Euclid Analytics U.S. Retail Benchmarks</h1>
          <p class="large-text">June - July 2013<br></p>
      </div>
          <ul class="content-list" style="margin-bottom:0px">
    	  		<li class="content-list-item">
    	  		  <div class="col6">
    	  		    
    	  		    <script type="text/javascript" src="http://public.tableausoftware.com/javascripts/api/viz_v1.js"></script><div class="tableauPlaceholder" style="width:450px; height:300px;"><noscript><a href="#"><img alt="Foot Traffic " src="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;eu&#47;euclid2&#47;FootTraffic&#47;1_rss.png" style="border: none" /></a></noscript><object class="tableauViz" width="450" height="300" style="display:none;"><param name="host_url" value="http%3A%2F%2Fpublic.tableausoftware.com%2F" /><param name="site_root" value="" /><param name="name" value="euclid2&#47;FootTraffic" /><param name="tabs" value="no" /><param name="toolbar" value="no" /><param name="static_image" value="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;eu&#47;euclid2&#47;FootTraffic&#47;1.png" /><param name="animate_transition" value="yes" /><param name="display_static_image" value="no" /><param name="display_spinner" value="yes" /><param name="display_overlay" value="no" /><param name="display_count" value="no" /></object></div>
    	  		    
    	  		    
    	  		  </div>
    	  			<div class="col6">
    	  				<h3>Foot Traffic Lorem Ipsum</h3>
    	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">Up +some% from June to July</div>
    	  				<p>Maecenas suscipit, nisi vel dignissim pulvinar, felis ante elementum ipsum, ut ultricies ligula justo non libero. Vestibulum bibendum eget ante viverra feugiat. Fusce euismod ultricies orci a consequat. Proin a interdum massa. Nullam facilisis enim nec porttitor ultrices. Vestibulum ante ipsum primis in faucibus orci.</p>
    	  			</div>
    	  		</li>
    	  		<li class="content-list-item">
    	  			<div class="col6">
    	  			  <h3>Walk-by Conversion Scelerisque Nisl</h3>
    	  				<div class="content-list-item-title sectionlabel" style="color:#f18c86;margin:3px 0 10px 0">Declined from some % to some % from June to July</div>
    	  				<p>Vestibulum vel odio lacinia, euismod tellus ut, lobortis nulla. Integer porttitor elit id augue laoreet accumsan. Quisque eu iaculis erat, nec scelerisque nisl. Sed eu sollicitudin nulla, sit amet vulputate odio. Curabitur eget imperdiet felis.</p>
    	  			</div>
    	  		  <div class="col6">
    	  		    <script type="text/javascript" src="http://public.tableausoftware.com/javascripts/api/viz_v1.js"></script><div class="tableauPlaceholder" style="width:450px; height:300px;"><noscript><a href="#"><img alt="Conversion Bar " src="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;eu&#47;euclid2&#47;ConversionBar&#47;1_rss.png" style="border: none" /></a></noscript><object class="tableauViz" width="450" height="300" style="display:none;"><param name="host_url" value="http%3A%2F%2Fpublic.tableausoftware.com%2F" /><param name="site_root" value="" /><param name="name" value="euclid2&#47;ConversionBar" /><param name="tabs" value="no" /><param name="toolbar" value="yes" /><param name="static_image" value="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;eu&#47;euclid2&#47;ConversionBar&#47;1.png" /><param name="animate_transition" value="yes" /><param name="display_static_image" value="yes" /><param name="display_spinner" value="yes" /><param name="display_overlay" value="yes" /><param name="display_count" value="no" /></object></div>
    	  		      
    	  		  </div>
    	  		</li>
    	  		<li class="content-list-item">
    	  			<div class="col6">
    	  		      
    	  		      <script type="text/javascript" src="http://public.tableausoftware.com/javascripts/api/viz_v1.js"></script><div class="tableauPlaceholder" style="width:450px; height:300px;"><noscript><a href="#"><img alt="Bounce Rate " src="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;eu&#47;euclid2&#47;BounceRate&#47;1_rss.png" style="border: none" /></a></noscript><object class="tableauViz" width="450" height="300" style="display:none;"><param name="host_url" value="http%3A%2F%2Fpublic.tableausoftware.com%2F" /><param name="site_root" value="" /><param name="name" value="euclid2&#47;BounceRate" /><param name="tabs" value="no" /><param name="toolbar" value="yes" /><param name="static_image" value="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;eu&#47;euclid2&#47;BounceRate&#47;1.png" /><param name="animate_transition" value="yes" /><param name="display_static_image" value="yes" /><param name="display_spinner" value="yes" /><param name="display_overlay" value="yes" /><param name="display_count" value="no" /></object></div>
    	  		      
    	  		  </div>
    	  			<div class="col6">
    	  			  <h3>Bounce Rates Hac Habitasse</h3>
    	  				<div class="content-list-item-title sectionlabel" style="color:#bababa;margin:3px 0 10px 0">Metric flat from June to July</div>
    	  				<p>Morbi felis felis, laoreet et dolor euismod, lacinia consequat neque. Morbi convallis eros nec lacinia pretium. Proin blandit sem dolor. Phasellus vel rutrum neque. In hac habitasse platea dictumst. Nulla nec tellus non sem congue tristique.</p>
    	  			</div>
    	  		</li>
    	  		<li class="content-list-item">
    	  		  <div class="col6">
    	  				<h3>Visit Duration Vel Venenatis</h3>
    	  				<div class="content-list-item-title sectionlabel" style="color:#bababa;margin:3px 0 10px 0">Metric flat from June to July</div>
    	  				<p>Aliquam vehicula eros diam, vel venenatis eros viverra id. Fusce eleifend eget sapien sed convallis. Nunc dictum elit tristique condimentum pulvinar. Ut consequat volutpat arcu nec malesuada.</p>
    	  			</div>
    	  		  <div class="col6">
    	  		      <script type="text/javascript" src="http://public.tableausoftware.com/javascripts/api/viz_v1.js"></script><div class="tableauPlaceholder" style="width:450px; height:300px;"><noscript><a href="#"><img alt="Visit Duration " src="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;eu&#47;euclid2&#47;VisitDuration&#47;1_rss.png" style="border: none" /></a></noscript><object class="tableauViz" width="450" height="300" style="display:none;"><param name="host_url" value="http%3A%2F%2Fpublic.tableausoftware.com%2F" /><param name="site_root" value="" /><param name="name" value="euclid2&#47;VisitDuration" /><param name="tabs" value="no" /><param name="toolbar" value="yes" /><param name="static_image" value="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;eu&#47;euclid2&#47;VisitDuration&#47;1.png" /><param name="animate_transition" value="yes" /><param name="display_static_image" value="yes" /><param name="display_spinner" value="yes" /><param name="display_overlay" value="yes" /><param name="display_count" value="no" /></object></div>
    	  		      
    	  		  </div>
    	  		</li>
    	  	</ul>
    	
  </div>
</section> 