<% content_for :pagetitle do %>U.S. Retail Benchmarks<% end %>
<section class="content">
  <div class="container">
  		<div class="col12 separated"> 
          <h1>Euclid's U.S. Retail Benchmarks</h1>
          <p class="large-text">July 2013</p>
		  <p>SAN FRANCISCO, CA -- August 7, 2013 -- Euclid, the leader in in-store retail analytics, today released its U.S. Retail Benchmarks for July 2013.  With data on 20 million domestic shopping sessions during the month, Euclid finds that increases in walk-by conversion and visit duration, coupled with a decline in bounce rate, offered speciality and large-format U.S. retailers prime opportunity to increase comp and total store sales during the month.</p>
		  </div>
		  <ul class="content-list" style="margin-bottom:0px">
	  		<li class="content-list-item">
	  		  <div class="col6">
	  		    <script type="text/javascript" src="http://public.tableausoftware.com/javascripts/api/viz_v1.js"></script><div class="tableauPlaceholder" style="width:450px; height:300px;"><noscript><a href="#"><img alt="Conversion Bar " src="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;eu&#47;euclid2&#47;ConversionBar&#47;1_rss.png" style="border: none" /></a></noscript><object class="tableauViz" width="450" height="300" style="display:none;"><param name="host_url" value="http%3A%2F%2Fpublic.tableausoftware.com%2F" /><param name="site_root" value="" /><param name="name" value="euclid2&#47;ConversionBar" /><param name="tabs" value="no" /><param name="toolbar" value="yes" /><param name="static_image" value="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;eu&#47;euclid2&#47;ConversionBar&#47;1.png" /><param name="animate_transition" value="yes" /><param name="display_static_image" value="yes" /><param name="display_spinner" value="yes" /><param name="display_overlay" value="yes" /><param name="display_count" value="no" /></object></div>
	  		  </div>
	  			<div class="col5">
	  			  <h3>Walk-by Conversion</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">Increases 270 bps to 17.9%</div>
	  				<p>Walk-by conversion, defined as the number of shoppers who enter a store as a percentage of the total walk-by foot traffic, in July 2013 increased to 17.9% from 15.2% in June 2013 and 16.0% in May 2013.  Seasonal shifts in traffic and promotional activity — particularly in specialty retail — in the month of July appear to have driven the substantive increase.  Year-ago data is not currently available.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col5">
	  			  <h3>Bounce Rate</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">17.0% in July - Falls 250 bps Year-Over-Year</div>
	  				<p>The percentage of shoppers who entered a store but left within five minutes ("bounce rate") was 17.0% in July 2013, down from 19.5% in July 2012 and up from 14.0% in June 2013.  When viewed in the context of month-to-month improvements in walk-by conversion, measured bounce rate changes are suggestive of stronger in-store activity.</p>
	  			</div>
	  			<div class="col6"> 
	  		      <script type="text/javascript" src="http://public.tableausoftware.com/javascripts/api/viz_v1.js"></script><div class="tableauPlaceholder" style="width:450px; height:300px;"><noscript><a href="#"><img alt="Bounce Rate " src="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;eu&#47;euclid2&#47;BounceRate&#47;1_rss.png" style="border: none" /></a></noscript><object class="tableauViz" width="450" height="300" style="display:none;"><param name="host_url" value="http%3A%2F%2Fpublic.tableausoftware.com%2F" /><param name="site_root" value="" /><param name="name" value="euclid2&#47;BounceRate" /><param name="tabs" value="no" /><param name="toolbar" value="yes" /><param name="static_image" value="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;eu&#47;euclid2&#47;BounceRate&#47;1.png" /><param name="animate_transition" value="yes" /><param name="display_static_image" value="yes" /><param name="display_spinner" value="yes" /><param name="display_overlay" value="yes" /><param name="display_count" value="no" /></object></div>
	  		  </div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col6">
	  		      <script type="text/javascript" src="http://public.tableausoftware.com/javascripts/api/viz_v1.js"></script><div class="tableauPlaceholder" style="width:450px; height:300px;"><noscript><a href="#"><img alt="Visit Duration " src="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;eu&#47;euclid2&#47;VisitDuration&#47;1_rss.png" style="border: none" /></a></noscript><object class="tableauViz" width="450" height="300" style="display:none;"><param name="host_url" value="http%3A%2F%2Fpublic.tableausoftware.com%2F" /><param name="site_root" value="" /><param name="name" value="euclid2&#47;VisitDuration" /><param name="tabs" value="no" /><param name="toolbar" value="yes" /><param name="static_image" value="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;eu&#47;euclid2&#47;VisitDuration&#47;1.png" /><param name="animate_transition" value="yes" /><param name="display_static_image" value="yes" /><param name="display_spinner" value="yes" /><param name="display_overlay" value="yes" /><param name="display_count" value="no" /></object></div>
	  		  </div>
	  		  <div class="col5">
	  				<h3>Visit Duration</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">Up 4% Year-over-Year</div>
	  				<p>Shopping session duration, defined as the mean time from store entry to store exit, was 22 minutes 30 seconds in July 2013, up 4.1% year-over-year and down 2.5% month-over-month.  Whether the longer duration translates into increased sales depends primarily on in-store merchandising and operations execution.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<div class="col5">
	  			  <h3>Active Repeat Customers</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#bababa;margin:3px 0 10px 0">Account for 24% of Total Visits</div>
	  				<p>In July 2013, active repeat customers, defined as individuals returning to a store location more than once in 30 days, were 24.0% of total visits measured, generally consistent with prior months.  As Euclid expands its footprint, the company expects this metric to increase modestly.</p>
	  			</div>
	  			<div class="col6">
	  		    <script type="text/javascript" src="http://public.tableausoftware.com/javascripts/api/viz_v1.js"></script><div class="tableauPlaceholder" style="width:450px; height:300px;"><noscript><a href="#"><img alt="Loyalty " src="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;eu&#47;euclid2013data&#47;Loyalty&#47;1_rss.png" style="border: none" /></a></noscript><object class="tableauViz" width="450" height="300" style="display:none;"><param name="host_url" value="http%3A%2F%2Fpublic.tableausoftware.com%2F" /><param name="site_root" value="" /><param name="name" value="euclid2013data&#47;Loyalty" /><param name="tabs" value="no" /><param name="toolbar" value="yes" /><param name="static_image" value="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;eu&#47;euclid2013data&#47;Loyalty&#47;1.png" /><param name="animate_transition" value="yes" /><param name="display_static_image" value="no" /><param name="display_spinner" value="yes" /><param name="display_overlay" value="no" /><param name="display_count" value="no" /></object></div>
	  		  </div>
	  		</li>
	  	</ul>
			</br><p><h6>Euclid provides answers and insights to brick-and-mortar retailers in the same way that web analytics services do for e-commerce. Euclid helps retailers optimize performance of their marketing, merchandising, and operations by measuring foot-traffic, store visits, walk-by conversion, bounce rate, visit duration, and customer loyalty. Euclid collects and analyzes only aggregated, anonymous data. As of August 2013, Euclid's network consists of traffic counting sensors in nearly 500 shopping centers, malls and street locations around the United States. To maintain client confidentiality, Euclid does not disclose the locations of sensors. During July, the network measured more than 20 million shopping sessions across the United States. If you have any questions about these data, or if you would like to receive Euclid's U.S. Retail Benchmarks (published on the first Wednesday following the end of the calendar month), please email usrb@euclidanalytics.com.</h6></p>
    	
  </div>
</section> 