<% content_for :pagetitle do %>U.S. Retail Benchmarks<% end %>
<section>
  <div class="container">
  		<div class="col12 separated"> 
          <h1>Euclid's U.S. Retail Benchmarks</h1>
          <p class="large-text">October 2013</p>
		  <p>SAN FRANCISCO, CA -- November 14, 2013 -- Euclid, the leader of in-store retail analytics, today released its U.S. Retail Benchmarks for October 2013. Euclid’s data on nearly 20 million domestic shopping sessions during the month shows that shopper traffic and intent continued to suffer in the face of the 16 day government shutdown. Positive signs came from improvement in window conversion as some shoppers were enticed by aggressive promotions. We believe that these metrics are indicative of continued volatility for retailers' comp store and total store sales during the month.
</p>
		  </div>
		  <ul class="content-list" style="margin-bottom:0px">
	  		<li class="content-list-item">
	  			<div class="col12">
	  			  <h3>Euclid Traffic Index</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">DECLINED 380 BASIS POINTS YEAR-OVER-YEAR</div>
	  				<p>Traffic in October, defined as the number of devices detected by Euclid sensors at retail locations, decreased 4.5% compared to the previous month. October traffic was also down 3.8% compared to the same month last year. Shopping visits were inhibited by the government shutdown during the first half of the month, and failed to fully recover as consumers are faced with continued economic uncertainty.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col5">
	  			  <h3>Window Conversion</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">INCREASED 190 BASIS POINTS TO 8.3%</div>
	  				<p>Window conversion in October, defined as the number of shoppers who enter a store as a percentage of the total foot traffic, rose to 8.3% from 6.5% last year, but decreased from 8.7% in September 2013. The improvement in conversion rate over last year is a positive sign that the increased promotional efforts seen during the month are having an influence on the shopping trips that are still occurring.</p>
	  			</div>
	  			<div class="col6"> 
	  		      <script type='text/javascript' src='http://public.tableausoftware.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 450px; height: 300px;'><noscript><a href='#'><img alt='Conversion Bar 3 ' src='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;20&#47;2013_10USRB&#47;ConversionBar3&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='450' height='300' style='display:none;'><param name='host_url' value='http%3A%2F%2Fpublic.tableausoftware.com%2F' /> <param name='site_root' value='' /><param name='name' value='2013_10USRB&#47;ConversionBar3' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;20&#47;2013_10USRB&#47;ConversionBar3&#47;1.png' / > <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='no' /></object></div>
	  		  </div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col6">
	  		     <script type='text/javascript' src='http://public.tableausoftware.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 450px; height: 300px;'><noscript><a href='#'><img alt='Bounce Rate 3 ' src='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;20&#47;2013_10USRB&#47;BounceRate3&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='450' height='300' style='display:none;'><param name='host_url' value='http%3A%2F%2Fpublic.tableausoftware.com%2F' /> <param name='site_root' value='' /><param name='name' value='2013_10USRB&#47;BounceRate3' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;20&#47;2013_10USRB&#47;BounceRate3&#47;1.png' / > <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='no' /></object></div>   
	  		  </div>
	  		  <div class="col5">
	  				<h3>Bounce Rate</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">INCREASED 150 BASIS POINTS YEAR-OVER-YEAR</div>
	  				<p>The percentage of shoppers who entered a store but left within five minutes ("bounce rate") was 10.5% in October 2013, up from 9.0% in October 2012. However, the bounce rate has declined slightly from September’s high of 11.1%. Although shopper intent is not as strong as last year, it appears shoppers are becoming less inhibited as we get closer to the holiday season. The continuation of this trend will be a positive signal for conversion rates.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<div class="col5">
	  			  <h3>Visit Duration</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">DOWN 5.5% YEAR-OVER-YEAR</div>
	  				<p>Shopping session duration, defined as the mean time from store entry to store exit, was 21.5 minutes in October, a decline from 22.8 minutes last year and 21.9 minutes in September 2013. Shorter shopping sessions during the last two months reveal shoppers have become more deliberate with trips to the store, showing less interest in browsing through extraneous merchandise.</p>
	  			</div>
	  			<div class="col6">
	  		   <script type='text/javascript' src='http://public.tableausoftware.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 450px; height: 300px;'><noscript><a href='#'><img alt='Visit Duration 3 ' src='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;20&#47;2013_10USRB&#47;VisitDuration3&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='450' height='300' style='display:none;'><param name='host_url' value='http%3A%2F%2Fpublic.tableausoftware.com%2F' /> <param name='site_root' value='' /><param name='name' value='2013_10USRB&#47;VisitDuration3' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;20&#47;2013_10USRB&#47;VisitDuration3&#47;1.png' / > <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='no' /></object></div>  
	  		  </div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col6">
	  		      <script type='text/javascript' src='http://public.tableausoftware.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 450px; height: 300px;'><noscript><a href='#'><img alt='Loyalty 3 ' src='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;20&#47;2013_10USRB&#47;Loyalty3&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='450' height='300' style='display:none;'><param name='host_url' value='http%3A%2F%2Fpublic.tableausoftware.com%2F' /> <param name='site_root' value='' /><param name='name' value='2013_10USRB&#47;Loyalty3' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;20&#47;2013_10USRB&#47;Loyalty3&#47;1.png' / > <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='no' /></object></div>  
	  		  </div>
	  		  <div class="col5">
	  				<h3>Active Repeat Customers</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">DECREASED 190 BASIS POINT FROM LAST YEAR</div>
	  				<p>In October, active repeat customers, defined as individuals returning to a store location more than once in 30 days, totaled 11.7% of total visits measured, up 30 basis points from the previous month, but less than the 13.6% seen in October last year. This uptick in shopper loyalty compared to September is a positive sign entering the holidays as we would expect visit frequency to rise. However, shopper frequency has a ways to go to full recovery.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<div class="col12">
	  			  <h3>Euclid Holiday Forecasts</h3>
	  				<p>We expect holiday sales to rise compared to last year, driven by increased disposable income, a very promotional holiday, and pent up demand from several weeks of depressed spending. Having said this, Euclid predicts that overall traffic will drop year-over-year as the shortened holiday period and continued economic uncertainty result in more focused shopping. Bounce rates will continue to rise and overall visit durations will shrink as shoppers, pressed for time, have less patience for longer lines and less interest in extensive browsing. We also expect a decline in repeat customers compared to last year as a result of the fewer trips to store locations. To respond, retailers looking to attract these shoppers need to focus on more aggressive up-front promotions, stronger in-store visual, heavier staffing during peak periods, and keen attention to out-of-stock events.   </p>
	  			</div>
	  		</li>
	  	</ul>
			<p><h6>Euclid provides answers and insights to brick-and-mortar retailers in the same way that web analytics services do for e-commerce. Euclid helps retailers optimize performance of their marketing, merchandising, and operations by measuring foot traffic, window conversion, bounce rate, visit duration, and customer loyalty. Euclid collects and analyzes only aggregated, anonymous data. As of November 2013, Euclid's network consists of traffic counting sensors in more than 700 shopping centers, malls and street locations around the United States. During October, the Euclid network measured nearly 20 million shopping sessions across the United States.</h6></p>
			<p><h6><a href="http://eepurl.com/GNbPH">Click here</a> to receive our monthly USRB update. If you have any questions, please contact us at <a href="mailto:usrb@euclidanalytics.com">usrb@euclidanalytics.com.</a></h6></p>
  </div>





<!-- 


	PREVIOUS


-->
















  <div class="container">
	<li class="content-list-item" style="padding-bottom: 0 !important">
		<div class="col5">
		  <h3>Previous Months‘ Data</h3>
			<div class="content-list-item-title sectionlabel" style="color:#bababa;margin:3px 0 10px 0"></div>
		</div>
	</li>
  </div>	



<div class="container">
  		<div class="col12 separated"> 
          <h1>Euclid's U.S. Retail Benchmarks</h1>
          <p class="large-text">September 2013</p>
		  <p>SAN FRANCISCO, CA -- October 10, 2013 -- Euclid, the leader in in-store retail analytics, today released its U.S. Retail Benchmarks for September 2013. Euclid’s data on 20 million domestic shopping sessions during the month shows that walk-by conversion and in-store engagement slipped versus August as consumers became more cautious and less compelled to shop after Back-to-School spending. We believe that these metrics illustrate a cautious outlook for specialty retailers' comp store and total store sales during the month.
</p>
		  </div>
		  <ul class="content-list" style="margin-bottom:0px">
	  		<li class="content-list-item">
	  			<div class="col12">
	  			  <h3>Walk-by Conversion</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">Declined 190 basis points to 14.4%</div>
	  				<p>Walk-by conversion in September 2013, defined as the number of shoppers who enter a store as a percentage of the total walk-by foot traffic, decreased to 14.4% from 16.3% in August 2013. The September conversion rate dropped to the lowest level since April after a consistent uptick this summer, tracking a similar low in consumer confidence. Shoppers also continued to focus on bigger-ticket items at the expense of other shopping, and as a result walk-by conversion suffered.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col12">
	  			  <h3>Bounce Rate</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">15.6% in September – Increased 190 basis points Year-Over-Year</div>
	  				<p>The percentage of shoppers who entered a store but left within five minutes ("bounce rate") was 15.6% in September 2013, up from 13.7% in September 2012. Despite the slight increase, September’s bounce rate maintained a meaningful improvement over the 17.0% high in July 2013. In-store engagement was strong amid Back-to-School promotions, but weakened in September as consumers had less urgency to shop against a backdrop of unwavering economic uncertainty.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col12">
	  				<h3>Visit Duration</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">Down 5% Year-Over-Year, and Nearly 6% Month-Over-Month</div>
	  				<p>Shopping session duration, defined as the mean time from store entry to store exit, was 22 minutes 15 seconds in September 2013, a decline of 5.0% year-over-year and 5.7% from August 2013. The shorter shopping sessions during September, following a solid summer, again reflect a decline in shopper intent compared to the recent Back-to-School period and a strong September a year ago.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<div class="col12">
	  			  <h3>Active Repeat Customers</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">Account for 25.3% of Total Visits</div>
	  				<p>In September 2013, active repeat customers, defined as individuals returning to a store location more than once in 30 days, were 25.3% of total visits measured, up 140 basis points from the previous month. This uptick in shopper loyalty is a positive sign as repeat customers appeared responsive to increased marketing efforts and loyalty programs during the month. As Euclid expands its network, the company expects this metric to increase modestly.</p>
	  			</div>
	  		</li>
	  	</ul>
			<p><h6>Euclid provides answers and insights to brick-and-mortar retailers in the same way that web analytics services do for e-commerce. Euclid helps retailers optimize performance of their marketing, merchandising, and operations by measuring foot-traffic, store visits, walk-by conversion, bounce rate, visit duration, and customer loyalty. Euclid collects and analyzes only aggregated, anonymous data. As of October 2013, Euclid's network consists of traffic counting sensors in more than 600 shopping centers, malls and street locations around the United States. To maintain client confidentiality, Euclid does not disclose the locations of sensors. During September, the network measured 20 million shopping sessions across the United States.</a></h6></p>
			<p><h6><a href="http://eepurl.com/GNbPH">Click here</a> to receive our monthly USRB update. If you have any questions, please contact us at <a href="mailto:usrb@euclidanalytics.com">usrb@euclidanalytics.com.</a></h6></p>
  </div>




  <div class="container">
  		<div class="col12 separated"> 
          <h1>Euclid's U.S. Retail Benchmarks</h1>
          <p class="large-text">August 2013</p>
		  <p>SAN FRANCISCO, CA -- September 4, 2013 -- Euclid Analytics, the leader in in-store retail analytics, today released its U.S. Retail Benchmarks for August 2013. With data on 20 million domestic shopping sessions during the month, Euclid finds that, while walk-by conversion slipped versus July, Back-to-School and some lingering seasonal clearance drove strong improvements in bounce rate, and visit duration. We believe that these metrics bode well for specialty retailers' comp store and total store sales during the month.
</p>
		  </div>
		  <ul class="content-list" style="margin-bottom:0px">
	  		<li class="content-list-item">
	  			<div class="col12">
	  			  <h3>Walk-by Conversion</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">Declined 160 basis points to 16.3%</div>
	  				<p>Walk-by conversion in August 2013, defined as the number of shoppers who enter a store as a percentage of the total walk-by foot traffic, decreased to 16.3% from 17.9% in July 2013. The August conversion rate was still higher than the summer-low of June, 15.2%.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col12">
	  			  <h3>Bounce Rate</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">14.1% in August - Improved 150 basis points Year-Over-Year</div>
	  				<p>The percentage of shoppers who entered a store but left within five minutes ("bounce rate") was 14.1% in August 2013, down from 15.5% in August 2012. This is on top of July 2013's 250 bps improvement versus LY (19.5% in July 2012 vs. 17.0% in July 2013). Continued improvement on in-store engagement is a positive sign for both comp store and total store sales during the period. The net effect of conversion and engagement rates is to be determined. The engagement numbers are particularly good indicator of successful Back-to-School merchandising and marketing in specialty retail.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col12">
	  				<h3>Visit Duration</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">Up Another 4% Year-Over-Year, and Nearly 5% Month-Over-Month</div>
	  				<p>Shopping session duration, defined as the mean time from store entry to store exit, was 23 minutes 36 seconds in August 2013, up 4.4% year-over-year and up 4.9% from July 2013. The trend in longer shopping sessions during the last two months of summer 2013 again signals strength in back-to-school merchandising and in-store operations.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<div class="col12">
	  			  <h3>Active Repeat Customers</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#bababa;margin:3px 0 10px 0">Account for 23.9% of Total Visits</div>
	  				<p>In August 2013, active repeat customers, defined as individuals returning to a store location more than once in 30 days, were 23.9% of total visits measured. This is generally consistent with prior months. As Euclid expands its network, the company expects this metric to increase modestly.</p>
	  			</div>
	  		</li>
	  	</ul>
			<p><h6>Euclid provides answers and insights to brick-and-mortar retailers in the same way that web analytics services do for e-commerce. Euclid helps retailers optimize performance of their marketing, merchandising, and operations by measuring foot-traffic, store visits, walk-by conversion, bounce rate, visit duration, and customer loyalty. Euclid collects and analyzes only aggregated, anonymous data. As of September 2013, Euclid's network consists of traffic counting sensors in more than 500 shopping centers, malls and street locations around the United States. To maintain client confidentiality, Euclid does not disclose the locations of sensors. During August, the network measured 20 million shopping sessions across the United States. If you have any questions about these data, or if you would like to receive Euclid's U.S. Retail Benchmarks (published on the first Wednesday following the end of the calendar month), please email usrb@euclidanalytics.com.</h6></p>
  </div>	











  <div class="container">
  		<div class="col12 separated"> 
          <h1>Euclid's U.S. Retail Benchmarks</h1>
          <p class="large-text">July 2013</p>
		  <p>SAN FRANCISCO, CA -- August 7, 2013 -- Euclid Analytics, the leader in in-store retail analytics, today released its U.S. Retail Benchmarks for July 2013.  With data on 20 million domestic shopping sessions during the month, Euclid finds that increases in walk-by conversion and visit duration, coupled with a decline in bounce rate, offered speciality and large-format U.S. retailers prime opportunity to increase comp and total store sales during the month.</p>
		  </div>
		  <ul class="content-list" style="margin-bottom:0px">
	  		<li class="content-list-item">
	  			<div class="col10">
	  			  <h3>Walk-by Conversion</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">Increases 270 bps to 17.9%</div>
	  				<p>Walk-by conversion, defined as the number of shoppers who enter a store as a percentage of the total walk-by foot traffic, in July 2013 increased to 17.9% from 15.2% in June 2013 and 16.0% in May 2013.  Seasonal shifts in traffic and promotional activity — particularly in specialty retail — in the month of July appear to have driven the substantive increase.  Year-ago data is not currently available.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col10">
	  			  <h3>Bounce Rate</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">17.0% in July - Falls 250 bps Year-Over-Year</div>
	  				<p>The percentage of shoppers who entered a store but left within five minutes ("bounce rate") was 17.0% in July 2013, down from 19.5% in July 2012 and up from 14.0% in June 2013.  When viewed in the context of month-to-month improvements in walk-by conversion, measured bounce rate changes are suggestive of stronger in-store activity.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col10">
	  				<h3>Visit Duration</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">Up 4% Year-over-Year</div>
	  				<p>Shopping session duration, defined as the mean time from store entry to store exit, was 22 minutes 30 seconds in July 2013, up 4.1% year-over-year and down 2.5% month-over-month.  Whether the longer duration translates into increased sales depends primarily on in-store merchandising and operations execution.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<div class="col10">
	  			  <h3>Active Repeat Customers</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#bababa;margin:3px 0 10px 0">Account for 24% of Total Visits</div>
	  				<p>In July 2013, active repeat customers, defined as individuals returning to a store location more than once in 30 days, were 24.0% of total visits measured, generally consistent with prior months.  As Euclid expands its footprint, the company expects this metric to increase modestly.</p>
	  			</div>
	  		</li>
	  	</ul></br>
			<p><h6>Euclid provides answers and insights to brick-and-mortar retailers in the same way that web analytics services do for e-commerce. Euclid helps retailers optimize performance of their marketing, merchandising, and operations by measuring foot-traffic, store visits, walk-by conversion, bounce rate, visit duration, and customer loyalty. Euclid collects and analyzes only aggregated, anonymous data. As of August 2013, Euclid's network consists of traffic counting sensors in nearly 500 shopping centers, malls and street locations around the United States. To maintain client confidentiality, Euclid does not disclose the locations of sensors. During July, the network measured more than 20 million shopping sessions across the United States. If you have any questions about these data, or if you would like to receive Euclid's U.S. Retail Benchmarks (published on the first Wednesday following the end of the calendar month), please email usrb@euclidanalytics.com.</h6></p>
    	
  </div>
</section> 