<% content_for :pagetitle do %>U.S. Retail Benchmarks<% end %>
<section>
  <div class="container">
  		<div class="col12 separated"> 
          <h1>Euclid's U.S. Retail Benchmarks</h1>
          <p class="large-text">December 2013</p>
		  <p>SAN FRANCISCO, CA -- January 3, 2013 -- Euclid, the leader of in-store retail analytics, today released its U.S. Retail Benchmarks for December 2013. Euclid’s data on nearly 25 million domestic shopping sessions during the month reveals that shopper traffic and window conversion improved as heavy promotions kept holiday shoppers coming to the mall and consumer confidence rebounded to a five month high. Average visit durations remained shorter than last year for yet another month, but engagement appeared to turn the corner from recent lows as shoppers were determined to complete holiday purchases in the shortened shopping window.
</p>
		  </div>
		  <ul class="content-list" style="margin-bottom:0px">
	  		<li class="content-list-item">
	  			<div class="col12">
	  			  <h3>Euclid Traffic Index</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">INCREASED 9% YEAR-OVER-YEAR</div>
	  				<p>Traffic in December increased 4.0% compared to the previous month and 8.6% compared to the same month last year. Shopping visits continued to grow in December despite headwinds from weather in certain parts of the country, driven by a heavily promotional season. Despite a sluggish start to the month, shoppers left a lot of holiday shopping for the week before Christmas, and traffic picked up significantly. Traffic remained robust after holiday, as shoppers looked to take advantage of even more attractive inventory-driven discounts.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col5">
	  			  <h3>Window Conversion</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">INCREASED 140 BASIS POINTS TO 8.9%</div>
	  				<p>Window conversion in December, defined as the number of shoppers who enter a store as a percentage of the total foot traffic, rose to 8.9% from 7.5% last year and 8.8% in November 2013. Value-conscious shoppers were deliberate with their trips to brick-and-mortar locations and continued aggressive promotions from retailers successfully won them over. As a result, window conversion reached another high for the year.</p>
	  			</div>
	  			<div class="col6"> 
	  		      <script type='text/javascript' src='http://public.tableausoftware.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 450px; height: 300px;'><noscript><a href='#'><img alt='Conversion Bar 3 ' src='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;20&#47;2013_12USRB&#47;ConversionBar3&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='450' height='300' style='display:none;'><param name='host_url' value='http%3A%2F%2Fpublic.tableausoftware.com%2F' /> <param name='site_root' value='' /><param name='name' value='2013_12USRB&#47;ConversionBar3' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;20&#47;2013_12USRB&#47;ConversionBar3&#47;1.png' / > <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='no' /></object></div>
	  		  </div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col6">
	  		     <script type='text/javascript' src='http://public.tableausoftware.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 450px; height: 300px;'><noscript><a href='#'><img alt='Bounce Rate 3 ' src='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;20&#47;2013_12USRB&#47;BounceRate3&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='450' height='300' style='display:none;'><param name='host_url' value='http%3A%2F%2Fpublic.tableausoftware.com%2F' /> <param name='site_root' value='' /><param name='name' value='2013_12USRB&#47;BounceRate3' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;20&#47;2013_12USRB&#47;BounceRate3&#47;1.png' / > <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='no' /></object></div>
	  		  </div>
	  		  <div class="col5">
	  				<h3>Bounce Rate</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">INCREASED 40 BASIS POINTS YEAR-OVER-YEAR</div>
	  				<p>The percentage of shoppers who entered a store but left within five minutes ("bounce rate") was 10.3% in December 2013, up from 9.9% in December 2012, but an improvement from the year’s high of 11.7% last month. Shoppers began to show signs of increased interest in browsing through merchandise with the plethora of store-wide deals at brick-and-mortar retailers, especially during the days after Christmas.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<div class="col5">
	  			  <h3>Visit Duration</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">DOWN 130 BASIS POINTS YEAR-OVER-YEAR</div>
	  				<p>Shopping session duration, defined as the mean time from store entry to store exit, was 22.2 minutes in December, a decline from 22.5 minutes last year, but the longest average duration measured since August. Depressed average shopping durations were seen during the first half of the month, but this trend reversed itself as shoppers crammed a significant portion of their holiday shopping into the week before Christmas and became much more intent upon reaching a purchase. </p>
	  			</div>
	  			<div class="col6">
	  		   <script type='text/javascript' src='http://public.tableausoftware.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 450px; height: 300px;'><noscript><a href='#'><img alt='Visit Duration 3 ' src='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;20&#47;2013_12USRB&#47;VisitDuration3&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='450' height='300' style='display:none;'><param name='host_url' value='http%3A%2F%2Fpublic.tableausoftware.com%2F' /> <param name='site_root' value='' /><param name='name' value='2013_12USRB&#47;VisitDuration3' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;20&#47;2013_12USRB&#47;VisitDuration3&#47;1.png' / > <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='no' /></object></div> 
	  		  </div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col6">
	  		      <script type='text/javascript' src='http://public.tableausoftware.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 450px; height: 300px;'><noscript><a href='#'><img alt='Loyalty 3 ' src='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;20&#47;2013_12USRB&#47;Loyalty3&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='450' height='300' style='display:none;'><param name='host_url' value='http%3A%2F%2Fpublic.tableausoftware.com%2F' /> <param name='site_root' value='' /><param name='name' value='2013_12USRB&#47;Loyalty3' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;20&#47;2013_12USRB&#47;Loyalty3&#47;1.png' / > <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='no' /></object></div> 
	  		  </div>
	  		  <div class="col5">
	  				<h3>Active Repeat Customers</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">DECREASED 50 BASIS POINTS FROM LAST YEAR</div>
	  				<p>In December, active repeat customers, defined as individuals returning to a store location more than once in 30 days, totaled 12.4% of total visits measured, up 50 basis points from the previous month, but slightly less than the 12.9% seen last December. Consumers were forced to make more trips to the store this month to accomplish their shopping in a shortened holiday period, resulting in the highest active repeat ratio since June 2013.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<div class="col12">
	  			  <h3>Best and Worst Days of the Month</h3>
	  				<p>The best day of the month was Super Saturday, with the month’s highest traffic and exceptional average duration as shoppers were very engaged in-store and intent on finishing holiday shopping. The worst day of the month was Monday the 2nd, which suffered from the lull following Black Friday. The day saw low window conversion and very high bounce rates as shoppers were waiting for new in-store deals to materialize closer to Christmas.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<div class="col12">
	  			  <h3>2013 Holiday Season Recap</h3>
	  				<p>We are maintaining our expectation that final holiday sales will increase compared to last year. Overall traffic was more robust than expected, rising year-over-year despite the shortened holiday period as attractive in-store deals drew shoppers out of their homes. However, traffic was very volatile week to week, driven by inconsistent weather and periods of particularly heavy promotions. Window conversion increased compared to last year as each trip to the mall became more focused. As expected, bounce rates continued to rise and overall visit durations shrank as shoppers were pressed for time and had less interest in extensive browsing. A decline in active repeat customers compared to last year was also seen as a result of the fewer trips to store locations. We believe that in the face of challenges including unfavorable weather and a shortened shopping season, the retailers that fared the best this holiday were the ones that invested in their omni-channel capabilities to win the competition for consumers’ attention.</p>
	  			</div>
	  		</li>
	  	</ul>
			<p><h6>Euclid provides answers and insights to brick-and-mortar retailers in the same way that web analytics services do for e-commerce. Euclid helps retailers optimize performance of their marketing, merchandising, and operations by measuring foot traffic, window conversion, bounce rate, visit duration, and customer loyalty. Euclid collects and analyzes only aggregated, anonymous data. As of December 2013, Euclid's network consists of traffic counting sensors in more than 1,200 shopping centers, malls and street locations around the United States. During December, the Euclid network measured nearly 25 million shopping sessions across the United States.</h6></p>
			<p><h6><a href="http://eepurl.com/GNbPH">Click here</a> to receive our monthly USRB update. If you have any questions, please contact us at <a href="mailto:usrb@euclidanalytics.com">usrb@euclidanalytics.com.</a></h6></p>
  </div>





<!-- 


	PREVIOUS


-->





















  <div class="container">
	<li class="content-list-item" style="padding-bottom: 0 !important">
		<div class="col5">
		  <h3>Previous Months‘ Data</h3>
			<div class="content-list-item-title sectionlabel" style="color:#bababa;margin:3px 0 10px 0"></div>
		</div>
	</li>
  </div>	

















<div class="container">
  		<div class="col12 separated"> 
          <h1>Euclid's U.S. Retail Benchmarks</h1>
          <p class="large-text">November 2013</p>
		  <p>SAN FRANCISCO, CA -- December 10, 2013 -- Euclid, the leader of in-store retail analytics, today released its U.S. Retail Benchmarks for November 2013. Euclid’s data on nearly 25 million domestic shopping sessions during the month shows that that shopper traffic and window conversion improved significantly as heavy promotions brought shoppers back out to the mall. Average visit durations were shorter than a year ago for the fourth month in a row as the increasingly omni-channel marketplace continued to drive more focused shopping trips. Although, calendar shifts will be a headwind to comps, we believe these metrics bode well for retailers’ sales in November.
</p>
		  </div>
		  <ul class="content-list" style="margin-bottom:0px">
	  		<li class="content-list-item">
	  			<div class="col12">
	  			  <h3>Euclid Traffic Index</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">INCREASED 20% YEAR-OVER-YEAR</div>
	  				<p>Traffic in November, defined as the number of devices detected by Euclid sensors at retail locations, increased 32.2% compared to the previous month and 20.0% compared to the same month last year. Shopping visits rebounded significantly after a depressed October, driven by heavy promotions that started earlier than usual and a strong Black Friday weekend with deals spread out across multiple days.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col12">
	  			  <h3>Window Conversion</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">INCREASED 190 BASIS POINTS TO 8.8%</div>
	  				<p>Window conversion in November, defined as the number of shoppers who enter a store as a percentage of the total foot traffic, rose to 8.8% from 6.9% last year and 8.3% in October 2013. Retailers’ early and widespread promotions during the month were successful at compelling value-conscious shoppers to make the trip to brick-and-mortar locations, with window conversion reaching a high for the year.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col12">
	  				<h3>Bounce Rate</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">INCREASED 280 BASIS POINTS YEAR-OVER-YEAR</div>
	  				<p>The percentage of shoppers who entered a store but left within five minutes ("bounce rate") was 11.7% in November 2013, up from 9.0% in November 2012 and 10.5% last month. Shoppers continued to be less inclined to wait in long lines or browse through additional merchandise when not finding their product/style of choice during the shortened holiday season.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<div class="col12">
	  			  <h3>Visit Duration</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">DOWN 370 BASIS POINTS YEAR-OVER-YEAR</div>
	  				<p>Shopping session duration, defined as the mean time from store entry to store exit, was 21.9 minutes in November, a decline from 22.7 minutes last year, but an improvement from 21.5 minutes in October 2013. Despite the incremental improvement in November, durations are shorter than last year for yet another month as shoppers remain very deliberate with their trips to the store. Many shoppers are researching products extensively online before leaving the house for their visit to the mall.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col12">
	  				<h3>Active Repeat Customers</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">DECREASED 310 BASIS POINTS FROM LAST YEAR</div>
	  				<p>In November, active repeat customers, defined as individuals returning to a store location more than once in 30 days, totaled 12.0% of total visits measured, up 30 basis points from the previous month, but meaningfully less than the 15.1% seen last November. Consumers opted to accomplish more shopping with each trip, likely targeting the launches of new discounts, as opposed to spreading their shopping over a greater number of trips during the month.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<div class="col12">
	  			  <h3>Black Friday Recap</h3>
	  				<p>Deep discounts, highly attractive promotions and extended open hours successfully brought shoppers to brick-and-mortar locations during Thanksgiving Day and Black Friday this year, with traffic up 1.9% compared to the same two day period last year. Looking at Black Friday itself, traffic was actually down YoY as the early start to deals on Thursday pulled many shopping trips forward. Window conversion was up 2.3% YoY for the two day period as well, nearly reaching 10% on Black Friday, as enticing deals brought crowds through the door. Counter to recent trends, average visit duration jumped 5.6% YoY to 24.4 minutes on Black Friday as shoppers were willing to endure busy floors and long lines to capitalize on hot offers. However, longer duration did not necessarily translate into larger average sales. Overall, shopper behavior over the weekend showed positive signs for retail sales, and reflected a strong start to the holidays.</p>
	  			</div>
	  		</li>
	  	</ul>
			<p><h6>Euclid provides answers and insights to brick-and-mortar retailers in the same way that web analytics services do for e-commerce. Euclid helps retailers optimize performance of their marketing, merchandising, and operations by measuring foot traffic, window conversion, bounce rate, visit duration, and customer loyalty. Euclid collects and analyzes only aggregated, anonymous data. As of November 2013, Euclid's network consists of traffic counting sensors in more than 700 shopping centers, malls and street locations around the United States. During October, the Euclid network measured nearly 20 million shopping sessions across the United States.</h6></p>
			<p><h6><a href="http://eepurl.com/GNbPH">Click here</a> to receive our monthly USRB update. If you have any questions, please contact us at <a href="mailto:usrb@euclidanalytics.com">usrb@euclidanalytics.com.</a></h6></p>
  </div>




<div class="container">
  		<div class="col12 separated"> 
          <h1>Euclid's U.S. Retail Benchmarks</h1>
          <p class="large-text">October 2013</p>
		  <p>SAN FRANCISCO, CA -- November 14, 2013 -- Euclid, the leader of in-store retail analytics, today released its U.S. Retail Benchmarks for October 2013. Euclid’s data on nearly 20 million domestic shopping sessions during the month shows that shopper traffic and intent continued to suffer in the face of the 16 day government shutdown. Positive signs came from improvement in window conversion as some shoppers were enticed by aggressive promotions. We believe that these metrics are indicative of continued volatility for retailers' comp store and total store sales during the month.
</p>
		  </div>
		  <ul class="content-list" style="margin-bottom:0px">
	  		<li class="content-list-item">
	  			<div class="col12">
	  			  <h3>Euclid Traffic Index</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">DECLINED 380 BASIS POINTS YEAR-OVER-YEAR</div>
	  				<p>Traffic in October, defined as the number of devices detected by Euclid sensors at retail locations, decreased 4.5% compared to the previous month. October traffic was also down 3.8% compared to the same month last year. Shopping visits were inhibited by the government shutdown during the first half of the month, and failed to fully recover as consumers are faced with continued economic uncertainty.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col12">
	  			  <h3>Window Conversion</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">INCREASED 190 BASIS POINTS TO 8.3%</div>
	  				<p>Window conversion in October, defined as the number of shoppers who enter a store as a percentage of the total foot traffic, rose to 8.3% from 6.5% last year, but decreased from 8.7% in September 2013. The improvement in conversion rate over last year is a positive sign that the increased promotional efforts seen during the month are having an influence on the shopping trips that are still occurring.</p>
	  			</div>
	  			
	  		</li>
	  		<li class="content-list-item">
	  		 
	  		  <div class="col12">
	  				<h3>Bounce Rate</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">INCREASED 150 BASIS POINTS YEAR-OVER-YEAR</div>
	  				<p>The percentage of shoppers who entered a store but left within five minutes ("bounce rate") was 10.5% in October 2013, up from 9.0% in October 2012. However, the bounce rate has declined slightly from September’s high of 11.1%. Although shopper intent is not as strong as last year, it appears shoppers are becoming less inhibited as we get closer to the holiday season. The continuation of this trend will be a positive signal for conversion rates.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<div class="col12">
	  			  <h3>Visit Duration</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">DOWN 5.5% YEAR-OVER-YEAR</div>
	  				<p>Shopping session duration, defined as the mean time from store entry to store exit, was 21.5 minutes in October, a decline from 22.8 minutes last year and 21.9 minutes in September 2013. Shorter shopping sessions during the last two months reveal shoppers have become more deliberate with trips to the store, showing less interest in browsing through extraneous merchandise.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col12">
	  				<h3>Active Repeat Customers</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">DECREASED 190 BASIS POINT FROM LAST YEAR</div>
	  				<p>In October, active repeat customers, defined as individuals returning to a store location more than once in 30 days, totaled 11.7% of total visits measured, up 30 basis points from the previous month, but less than the 13.6% seen in October last year. This uptick in shopper loyalty compared to September is a positive sign entering the holidays as we would expect visit frequency to rise. However, shopper frequency has a ways to go to full recovery.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<div class="col12">
	  			  <h3>Euclid Holiday Forecasts</h3>
	  				<p>We expect holiday sales to rise compared to last year, driven by increased disposable income, a very promotional holiday, and pent up demand from several weeks of depressed spending. Having said this, Euclid predicts that overall traffic will drop year-over-year as the shortened holiday period and continued economic uncertainty result in more focused shopping. Bounce rates will continue to rise and overall visit durations will shrink as shoppers, pressed for time, have less patience for longer lines and less interest in extensive browsing. We also expect a decline in repeat customers compared to last year as a result of the fewer trips to store locations. To respond, retailers looking to attract these shoppers need to focus on more aggressive up-front promotions, stronger in-store visual, heavier staffing during peak periods, and keen attention to out-of-stock events.   </p>
	  			</div>
	  		</li>
	  	</ul>
			<p><h6>Euclid provides answers and insights to brick-and-mortar retailers in the same way that web analytics services do for e-commerce. Euclid helps retailers optimize performance of their marketing, merchandising, and operations by measuring foot traffic, window conversion, bounce rate, visit duration, and customer loyalty. Euclid collects and analyzes only aggregated, anonymous data. As of November 2013, Euclid's network consists of traffic counting sensors in more than 700 shopping centers, malls and street locations around the United States. During October, the Euclid network measured nearly 20 million shopping sessions across the United States.</h6></p>
			<p><h6><a href="http://eepurl.com/GNbPH">Click here</a> to receive our monthly USRB update. If you have any questions, please contact us at <a href="mailto:usrb@euclidanalytics.com">usrb@euclidanalytics.com.</a></h6></p>
  </div>
























<div class="container">
  		<div class="col12 separated"> 
          <h1>Euclid's U.S. Retail Benchmarks</h1>
          <p class="large-text">September 2013</p>
		  <p>SAN FRANCISCO, CA -- October 10, 2013 -- Euclid, the leader in in-store retail analytics, today released its U.S. Retail Benchmarks for September 2013. Euclid’s data on 20 million domestic shopping sessions during the month shows that traffic and in-store engagement slipped versus August as consumers became more cautious and less compelled to shop after Back-to-School spending. We believe that these metrics illustrate a cautious outlook for specialty retailers' comp store and total store sales during the month.
</p>
		  </div>
		  <ul class="content-list" style="margin-bottom:0px">
	  		<li class="content-list-item">
	  			<div class="col12">
	  			  <h3>Window Conversion</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">INCREASED 100 BASIS POINTS TO 8.7%</div>
	  				<p>Window conversion in September 2013, defined as the number of shoppers who enter a store as a percentage of the total foot traffic, increased to 8.7% from 7.7% in August 2013. The September conversion rate benefitted from a decline in outside traffic as shoppers became more deliberate with fewer shopping trips. Shopping for bigger-ticket items continued to be robust, even as shopping for smaller items declined.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col12">
	  			  <h3>Bounce Rate</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">11.1% IN SEPTEMBER – INCREASED 130 BASIS POINTS YEAR-OVER-YEAR</div>
	  				<p>The percentage of shoppers who entered a store but left within five minutes ("bounce rate") was 11.1% in September 2013, up from 9.8% in September 2012. September’s bounce rate represents a high for the year. In-store engagement was strong amid Back-to-School promotions, but weakened in September as consumers had less urgency to buy against a backdrop of unwavering economic uncertainty.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col12">
	  				<h3>Visit Duration</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">DOWN 5% YEAR-OVER-YEAR, AND 6% MONTH-OVER-MONTH</div>
	  				<p>Shopping session duration, defined as the mean time from store entry to store exit, was 21.9 minutes in September 2013, a decline of 5.5% year-over-year and 6.2% from August 2013. The shorter shopping sessions during September, following a solid summer, again reflect a decline in shopper intent compared to the recent Back-to-School period and a strong September a year ago.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<div class="col12">
	  			  <h3>Active Repeat Customers</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">ACCOUNT FOR 11.4% OF TOTAL VISITS</div>
	  				<p>In September 2013, active repeat customers, defined as individuals returning to a store location more than once in 30 days, were 11.4% of total visits measured, up nearly 50 basis points from the previous month. This uptick in shopper loyalty is a positive sign as repeat customers appeared responsive to increased marketing efforts and loyalty programs during the month. As Euclid expands its network, the company expects this metric to increase modestly.</p>
	  			</div>
	  		</li>
	  	</ul>
	  	<p><h6>*Note: This report has been updated for subsequent revision to Euclid’s U.S. Retail Benchmark data analysis methodology</h6></p>
			<p><h6>Euclid provides answers and insights to brick-and-mortar retailers in the same way that web analytics services do for e-commerce. Euclid helps retailers optimize performance of their marketing, merchandising, and operations by measuring foot-traffic, store visits, walk-by conversion, bounce rate, visit duration, and customer loyalty. Euclid collects and analyzes only aggregated, anonymous data. As of October 2013, Euclid's network consists of traffic counting sensors in more than 600 shopping centers, malls and street locations around the United States. To maintain client confidentiality, Euclid does not disclose the locations of sensors. During September, the network measured 20 million shopping sessions across the United States.</h6></p>
			<p><h6><a href="http://eepurl.com/GNbPH">Click here</a> to receive our monthly USRB update. If you have any questions, please contact us at <a href="mailto:usrb@euclidanalytics.com">usrb@euclidanalytics.com.</a></h6></p>
  </div>








  <div class="container">
  		<div class="col12 separated"> 
          <h1>Euclid's U.S. Retail Benchmarks</h1>
          <p class="large-text">August 2013</p>
		  <p>SAN FRANCISCO, CA -- September 4, 2013 -- Euclid Analytics, the leader in in-store retail analytics, today released its U.S. Retail Benchmarks for August 2013. With data on 20 million domestic shopping sessions during the month, Euclid finds that Back-to-School and some lingering seasonal clearance drove improvements in window conversion, bounce rate and visit duration. We believe that these metrics bode well for specialty retailers' comp store and total store sales during the month.
</p>
		  </div>
		  <ul class="content-list" style="margin-bottom:0px">
	  		<li class="content-list-item">
	  			<div class="col12">
	  			  <h3>Window Conversion</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">INCREASED 30 BASIS POINTS TO 7.7%</div>
	  				<p>Window conversion in August 2013, defined as the number of shoppers who enter a store as a percentage of the total foot traffic, increased to 7.7% from 7.4% in July 2013. The month saw an increase in shopper volume as consumers began Back-to-School shopping early and were enticed by broad promotions.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col12">
	  			  <h3>Bounce Rate</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">9.5% IN AUGUST - IMPROVED 20 BASIS POINTS YEAR-OVER-YEAR</div>
	  				<p>The percentage of shoppers who entered a store but left within five minutes ("bounce rate") was 9.5% in August 2013, down from 9.7% in August 2012. Continued improvement on in-store engagement is a positive sign for both comp store and total store sales during the period. The net effect of conversion and engagement rates is to be determined. The engagement numbers are particularly good indicator of successful Back-to-School merchandising and marketing in specialty retail.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col12">
	  				<h3>Visit Duration</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">UP NEARLY 3% MONTH-OVER-MONTH</div>
	  				<p>Shopping session duration, defined as the mean time from store entry to store exit, was 23.3 minutes in August 2013, down 1.3% year-over-year but up 2.7% from July 2013. The trend in longer shopping sessions during the last month of summer 2013 again signals strength in back-to-school merchandising and in-store operations.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<div class="col12">
	  			  <h3>Active Repeat Customers</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#bababa;margin:3px 0 10px 0">ACCOUNT FOR 11% OF TOTAL VISITS</div>
	  				<p>In August 2013, active repeat customers, defined as individuals returning to a store location more than once in 30 days, were 11.0% of total visits measured. This is generally consistent with prior months. As Euclid expands its network, the company expects this metric to increase modestly.</p>
	  			</div>
	  		</li>
	  	</ul>
	  	<p><h6>*Note: This report has been updated for subsequent revision to Euclid’s U.S. Retail Benchmark data analysis methodology</h6></p>
			<p><h6>Euclid provides answers and insights to brick-and-mortar retailers in the same way that web analytics services do for e-commerce. Euclid helps retailers optimize performance of their marketing, merchandising, and operations by measuring foot-traffic, store visits, walk-by conversion, bounce rate, visit duration, and customer loyalty. Euclid collects and analyzes only aggregated, anonymous data. As of September 2013, Euclid's network consists of traffic counting sensors in more than 500 shopping centers, malls and street locations around the United States. To maintain client confidentiality, Euclid does not disclose the locations of sensors. During August, the network measured 20 million shopping sessions across the United States. If you have any questions about these data, or if you would like to receive Euclid's U.S. Retail Benchmarks (published on the first Wednesday following the end of the calendar month), please email usrb@euclidanalytics.com.</h6></p>
  </div>	











  <div class="container">
  		<div class="col12 separated"> 
          <h1>Euclid's U.S. Retail Benchmarks</h1>
          <p class="large-text">July 2013</p>
		  <p>SAN FRANCISCO, CA -- August 7, 2013 -- Euclid Analytics, the leader in in-store retail analytics, today released its U.S. Retail Benchmarks for July 2013. With data on 20 million domestic shopping sessions during the month, Euclid finds that stable traffic and increases in visit duration, coupled with a decline in bounce rate, offered specialty and large-format U.S. retailers prime opportunity to increase comp and total store sales during the month.</p>
		  </div>
		  <ul class="content-list" style="margin-bottom:0px">
	  		<li class="content-list-item">
	  			<div class="col10">
	  			  <h3>Window Conversion</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#deb100;margin:3px 0 10px 0">DECREASES 70 BPS TO 7.4%</div>
	  				<p>Window conversion in July 2013, defined as the number of shoppers who enter a store as a percentage of the total foot traffic, decreased to 7.4% from 8.0% in June 2013. Seasonal shifts in traffic and promotional activity were slightly outweighed by other summer activities drawing consumers’ attention. Year-ago data is not currently available.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col10">
	  			  <h3>Bounce Rate</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">8.5% IN JULY - FALLS 10 BPS FROM JUNE</div>
	  				<p>The percentage of shoppers who entered a store but left within five minutes ("bounce rate") was 8.5% in July 2013, down from 8.6% in June 2013. When viewed in the context of steady traffic volume, measured bounce rate changes are suggestive of stronger in-store activity.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  		  <div class="col10">
	  				<h3>Visit Duration</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#4b9a06;margin:3px 0 10px 0">UP 10% YEAR-OVER-YEAR</div>
	  				<p>Shopping session duration, defined as the mean time from store entry to store exit, was 22.7 minutes in July 2013, up 9.5% year-over-year and 0.4% month-over-month. Whether the longer duration translates into increased sales depends primarily on in-store merchandising and operations execution.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<div class="col10">
	  			  <h3>Active Repeat Customers</h3>
	  				<div class="content-list-item-title sectionlabel" style="color:#bababa;margin:3px 0 10px 0">ACCOUNT FOR 12% OF TOTAL VISITS</div>
	  				<p>In July 2013, active repeat customers, defined as individuals returning to a store location more than once in 30 days, were 12.0% of total visits measured, generally consistent with prior months. As Euclid expands its footprint, the company expects this metric to increase modestly.</p>
	  			</div>
	  		</li>
	  	</ul></br>
	  	<p><h6>*Note: This report has been updated for subsequent revision to Euclid’s U.S. Retail Benchmark data analysis methodology</h6></p>
			<p><h6>Euclid provides answers and insights to brick-and-mortar retailers in the same way that web analytics services do for e-commerce. Euclid helps retailers optimize performance of their marketing, merchandising, and operations by measuring foot-traffic, store visits, walk-by conversion, bounce rate, visit duration, and customer loyalty. Euclid collects and analyzes only aggregated, anonymous data. As of August 2013, Euclid's network consists of traffic counting sensors in nearly 500 shopping centers, malls and street locations around the United States. To maintain client confidentiality, Euclid does not disclose the locations of sensors. During July, the network measured more than 20 million shopping sessions across the United States. If you have any questions about these data, or if you would like to receive Euclid's U.S. Retail Benchmarks (published on the first Wednesday following the end of the calendar month), please email usrb@euclidanalytics.com.</h6></p>
    	
  </div>
</section> 