<% content_for :pagetitle do %>Small Business Plans and Pricing<% end %>
<div class="content">
    <div class="container">
        <div class="col12 separated"> 
          <h1 class="separated">Small business plans and pricing<br/> (fewer than 10 stores)</h1>
          
          <table id="pricing-table">
            <tr id="plan-name">
              <td width="25%">EUCLID ZERO FOR SMB</td>
              <td width="25%">EUCLID SMB STANDARD</td>
              <td width="25%">EUCLID SMB ADVANCED</td>
            </tr>
            <tr id="plan-price">
              <td>Free<span class="plan-type">with existing in-store Wi-Fi</span></td>
              <td>$39<span class="plan-permonth"></span><span class="plan-type">per year per store</span></td>
              <td>$99<span class="plan-permonth"></span><span class="plan-type">per year per store</span></td>
            </tr>
            <tr id="plan-descr">
              <td>Deploy in one click. Capture traffic, visit duration, bounce and enagement rates for your Wi-Fi enabled store.</td>
              <td>Get answers to key in-store questions without busting your budget. For businesses with up to 10 locations.</td>
              <td>Add key features to make Euclid an essential part of your business intelligence system. </td>
            </tr>
            <tr>
              <td>&bull; Traffic counts &amp; visit duration</td>
              <td><b>All Euclid Zero features, plus:</b></td>
              <td><b>All SMB Standard features, plus:</b></td>
            </tr>
            <tr>
              <td>&bull; Bounce and engagement rates</td>
              <td>&bull; Walk-by traffic and conversion</td>
              <td>&bull; Full data history</td>
            </tr>
            <tr>
              <td>&bull; Online reporting</td>
              <td>&bull; Window conversion</td>
              <td>&bull; Integration with your BI tools</td>
            </tr>
            <tr>
              <td>&bull; Up and running in minutes</td>
              <td>&bull; Chain &amp; brand loyalty</td>
              <td>&bull; Premium account support</td>
            </tr>
            <tr>
              <td></td>
              <td>&bull; Runs on most in-store Wi-Fi or dedicated sensors</td>
              <td>&bull; Runs on most in-store Wi-Fi or dedicated sensors</td>
            </tr>
          </table>
          <!--<span class="sectionlabel">Ready to Order? </span> -->
          <h2 class="pad-top">Get in touch to learn more.</h2>
          <p class="clearfix"><%= link_to_signupsite('contact_us', 'Contact Us', 'btn dark-btn clearfix') %></p>
          <p class="large-text"><%= link_to 'View enterprise plans', 'index.html' %></p>
        </div>
    </div>
</div>