- content_for :head do
  %title "About us « Euclid"
  - @page_name = "about"

%h1 About Us

%p
  %strong About Us
  Euclid is a venture-backed startup based in Palo Alto. Our product is conceptually analogous to Google Analytics for the physical world. Our customer base includes retailers, mall owners, and venue operators of many kinds.

%p
  %strong Join Our Team:
  We are a technology company composed of veterans of IBM, Ariba, TIBCO/Reuters, Google, Playdom, Qualcomm, 23AndMe, Mint/Intuit, and others, including VPs of engineering and the co-founder of Google Analytics (Urchin). We are growing quickly and are on the lookout for various roles – please see our <a href="http://euclidelements.com/jobs">Jobs page</a> for more info.

%p
  %strong In the News:
  We are proud of what Euclid has accomplished so far – please see our <a href="http://euclidelements.com/press">Press page</a> for more info.

%p
  %strong Contact:
  We can be reached at <a href="http://euclidelements.com/jobs">info@euclidelements.com</a>.
