<form id="contact-form" onsubmit="return contactFormValidator();">
	<div class="col12" id="required-legend">* Required</div>
	<div class="col6 shadowed">
		
    <!-- not pretty, but inputs' width is hard to deal with. can't simply expand to fill container like normal elements, so must force it with some display:table magic -->
		<label for="name" id="name" class="required"><span class="input-title">Name</span><span class="input-separator"></span><input type="text" name="name" /><span class="hide invalid-msg">This value is invlaid</span></label>
		<label for="email" id="email" class="required"><span class="input-title">Email</span><span class="input-separator"></span><input type="text" name="email" /><span class="hide invalid-msg">This value is invlaid</span></label>
		<label for="phone" id="phone" class="optional"><span class="input-title">Phone</span><span class="input-separator"></span><input type="text" name="phone" /><span class="hide invalid-msg">This value is invlaid</span></label>

		<label for="contact-method-drop" class="required"><span class="input-title">Preferred method of contact</span><span class="input-separator"></span>
		
		</label>
		
		<label for="company_name" id="company_name" class="required"><span class="input-title">Company name</span><span class="input-separator"></span><input type="text" name="company_name" /><span class="hide invalid-msg">This value is invlaid</span></label>
		<label for="title" id="title" class="optional"><span class="input-title">Title</span><span class="input-separator"></span><input type="text" name="title" /><span class="hide invalid-msg">This value is invlaid</span></label>
		<label for="num_locations" id="num_locations" class="required"><span class="input-title">Number of locations</span><span class="input-separator"></span><input type="text" name="num_locations" /><span class="hide invalid-msg">This value is invlaid</span></label>
	</div>
	<div id="comments_col" class="col6 shadowed">
		<textarea id="comments" class="empty"></textarea>
	</div>
	<div class="col12">
		<button class="dark-btn" type="submit"></button>
	</div>

</form>