- content_for :head do
  %title "Home « Euclid"

.container
  .row.top_row
    .carousel{:id => "home_carousel"}
      .carousel-inner
        .item.active
          %img{:src => "/images/euclid_home_1.jpg"}
          .carousel-caption
            %h4 What is Euclid? Who is it for?
        .item
          %img{:src => "/images/euclid_home_3.jpg"}
          .carousel-caption
            %h4 Easy to deploy
        .item
          %img{:src => "/images/euclid_home_2.jpg"}
          .carousel-caption
            %h4 How is it useful?      

      %a.carousel-control.left{:href => "#home_carousel", "data-slide" => "prev"} ‹
      %a.carousel-control.right{:href => "#home_carousel", "data-slide" => "next"} ›
    
  .row
    .span5
      %h2 Consumer Privacy is #1
      %p 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget nibh vitae nisl semper feugiat. Ut sit amet tincidunt ipsum. Maecenas tincidunt lacinia rhoncus. 
    .span6
      %h2 News, case study, feature
      %p 
      Integer feugiat urna quis ligula auctor eu adipiscing mi feugiat. Pellentesque consequat metus id est mollis faucibus id eget tellus. Vivamus adipiscing, tellus ac rhoncus pharetra, diam lectus pulvinar ligula, sit amet sagittis est velit et ligula.

