hullo thuurrrr



<% content_for :featurebox do %>
  <div class="col7">img?</div>
  <div class="col5 light-text">
  	<h1 class="light-text">Breakthrough analytics for offline retail</h1>
  	<p class="light-text">Euclid Analytics delivers actionable insights into real-world shopper behavior. Measure and optimize customer traffic, loyalty, and engagement.</p>
  	<a href="" class="dark-btn">Learn More</a>
  </div>
<% end %>