!!!
%html{:lang => "en"}
  %head
    / https://github.com/czarneckid/twitter-bootstrap-examples-haml/blob/master/views/starter-template.haml
    %meta{:charset => "utf-8"}/
    = yield_content :head
    %meta{:name => "description", :content => "Online Analytics for the Offline World."}/
    %meta{:name => "keywords", :content => "Analytics Retail SaaS"}/
    %meta{:name => "author", :content => "Euclid Inc. Copyright 2010 - 2012. All rights reserved."}/
    / HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / styles
    %link{:href => "/stylesheets/bootstrap.css", :rel => "stylesheet"}/
    :css
      body {
        padding-top: 92px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    %link{:href => "/stylesheets/site.css", :rel => "stylesheet"}/
    / fav and touch icons
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    / %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    / %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    / %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
  %body
    = partial "shared/header"
    = yield
    = partial "shared/footer"
    / JavaScript
    / Placed at the end of the document so the pages load faster
    %script{:src => "/javascripts/jquery-1.7.2.min.js"}
    %script{:src => "/javascripts/bootstrap.js"}
    %script{:src => "/javascripts/bootstrap-carousel.js"}
    %script{:src => "/javascripts/bootstrap-tab.js"}
    %script{:src => "/javascripts/bootstrap-scrollspy.js"}

:javascript
  $(document).ready(function() {
    $('.carousel').carousel({interval: false})
    $('.tabs a:last').tab('show')
    $('.subsection_link').bind("click", function(event) {
        event.preventDefault();
        // From http://s831.us/K1KLA9
        $('html, body').animate({ scrollTop: $($(this).attr("href")).offset().top - 95 }, 'slow');
    });
    $("#opt-out #submit").click(function() {
        console.log("opt-out-submit. got here");
       
        var mac = $("#opt-out #mac").val();

        $.ajax({
           type: "POST",
           url: "https://m.euclidelements.com/pages/opt_out_submit?mac=" + $.trim(mac),
           cache: false,
           success: function(data, status) {
               $("#opt-out #notification").text(data);
               $("#opt-out #notification").css("display", "block")
           },
           error: function(data, status) {
               $("#opt-out #notification").text("Failed to save MAC address");
           }
        });

        return false;
    });
  });