- content_for :head do
  %title "Opt out « Euclid"
  - @page_name = "opt_out"

.container
  .row.span8
    %form.form-horizontal#opt-out
      %fieldset
        %legend Opt out
        It's simple to opt out. Enter your MAC address below.
        .control-group#mac-group
          %label.control-label{:for => "mac"} Mac Address
          .controls
            %input.input-medium#mac{:type => "text", :placeholder => "11:22:33:44:55:66"}
            %span.help-inline#notification
        .form-actions
          %button.btn.btn-primary#submit{:type => "submit"} Opt Out
          
          