- content_for :head do
  %title "Privacy « Euclid"
  - @page_name = "privacy"

.container
  .row
    %h3 Privacy is Our Top Priority

    %p 
      We are engineers, so we are excited about providing real benefits for retailers and their shoppers through the use of technology and data. But we are also shoppers, so we understand concerns about privacy. Our core belief is that we can provide valuable insights to our clients while respecting and protecting individual privacy. To do that we follow three important principles:

  .row
    %ul
      %li{:id => 'limitedData'}
        %strong Limited data collection:
        We do not link any information we collect with the owner of the mobile device, the person using the mobile device, or any content that is being received by or transmitted from the mobile device.</li>

      %li{:id => 'onlyShare'}
        %strong Only Share aggregate and anonymous information:
        The reports we provide to our clients only include only aggregate and anonymous data.</li>

      %li{:id => 'privacyAdditional'}
        %strong Easy opt-out and delete:
        You can both opt-out and delete data from our service at any time on our website and we will immediately initiate the removal of your phone’s identifier from our databases (removal will be complete within 7 days due to the large data volumes involved)

