.container
  .row#subsection_menu
    %h3 Product Tour ›
    %ul.nav.nav-pills
      %li
        %a{:href => "#overview"} Overview
      %li
        %a{:href => "#metrics"} Metrics
      %li
        %a{:href => "#analysis"} Analysis
      %li
        %a{:href => "#features"} Features
      %li
        %a{:href => "#how_it_works"} How it Works 
  .row#overview
    %h3 Overview
    %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere accumsan cursus. Maecenas at quam nisl, sed fringilla velit. Cras vel tortor posuere lorem malesuada faucibus. Ut ultricies, dui quis hendrerit gravida, tellus leo luctus mi, a accumsan libero turpis in lacus. 
    %p
    Donec rhoncus eleifend pharetra. Donec feugiat elit ut ligula ultrices eget vestibulum mi porttitor. Proin venenatis tincidunt dapibus. Ut ac mi velit. Aliquam elementum sapien sit amet orci interdum vel volutpat nisi pharetra.
  .row#metrics
    %h3 Metrics
    %p
    Maecenas leo sem, tempor in ultrices nec, commodo in elit. Curabitur consectetur urna non purus ullamcorper eu pulvinar lacus laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec accumsan quam eget lorem gravida eget feugiat lacus placerat. In in sagittis dolor. Proin hendrerit nibh nec ligula fermentum porttitor. Etiam euismod posuere luctus. Ut eget nisl non libero sollicitudin ullamcorper sed vitae magna. Morbi sit amet est sapien. Praesent placerat mauris sit amet purus 
    pharetra molestie. In at libero id mauris accumsan vulputate ac at metus. Quisque tristique porta ligula, ac feugiat odio lacinia vel. Aliquam adipiscing odio leo, id faucibus massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.