<% content_for :pagetitle do %>Website Privacy<% end %>
<section class="content">
  <div class="container">
  		<h1 class="col12 separated">
  			Protecting consumer privacy
  		</h1>
  		<div class="col12"> 

			
			<p><span class="sectionlabel emphasize">Wed, March 13, 4:30 pm PT</span></p>
			<p>
				Euclid has been engaged in a fruitful discussion with Senator Al Franken regarding the use of technology to help brick-and-mortar stores better serve their shoppers. <a href="http://www.franken.senate.gov/?p=press_release&id=2325" target="_blank">In a letter we received today</a>, the senator asked for more details about the steps Euclid takes to protect consumer privacy. We are currently preparing our response and will post it here.
			</p><p>
				As the leader in real-world shopper analytics, Euclid helps physical retailers better understand foot traffic in their stores, something many retailers do today with surveillance cameras. By using Wi-Fi technology, Euclid is able to provide insights to retailers in a way that better respects and protects the privacy of consumers. Our service is built on <a href="http://www.privacybydesign.ca/index.php/about-pbd/7-foundational-principles/" target="_blank">Privacy by Design principles</a> and our privacy practices have been reviewed by leading experts in consumer privacy.
			</p><p>
				<a href="http://euclidanalytics.com/privacy/" target="_blank">Our approach to privacy</a> is built on three fundamental principles:
				<ul>
					<li>We provide only aggregated and anonymous metrics that cannot be associated with an individual identity. An example would be: "Shoppers spent an average of 22 minutes inside your store."</li>
					<li>We detect only the presence of Wi-Fi enabled mobile devices near a store. We do not collect any personal information or record any activity on your phone, such as calls, emails, or texts.</li>
					<li>You can opt out your device at any time at <a href="http://euc.li/choice" target="_blank">euc.li/choice</a>.</li>
				</ul>
				In his letter, the senator applauded Euclid for taking “concrete steps to protect consumers’ privacy,” and we look forward to collaborating with him in this endeavor.
			</p><p>
				<div>Press inquiries: (720) 989-8360, <a href="mailto:press@euclidanalytics.com">press@euclidanalytics.com</a></div>
				<div>Consumer inquiries: <a href="mailto:privacy@euclidanalytics.com">privacy@euclidanalytics.com</a></div>
			</p>

  		</div>
  </div>
</section> 