<% content_for :pagetitle do %>Website Privacy<% end %>
<section class="content">
  <div class="container">
  		<h1 class="col12 separated">
  			An update on consumer privacy
  		</h1>
  		<div class="col12"> 

			
			<p><span class="sectionlabel emphasize">MON, APRIL 1, 4:00 PM PT</span></p>
			<p>
				Recently Senator Al Franken asked us to explain how Euclid protects consumer privacy while helping retailers improve their customer experience. I saw this as a good opportunity to clarify how Euclid Analytics works and explain how it is designed to safeguard consumer privacy. From the very start of the company, we consulted with respected advocates, academics, and organizations in the privacy community to ensure privacy is a central element of our service. Most importantly, we made sure that our system never receives information such as a consumer's name, address, phone number, or email.
			</p><p>
				That being said, our dialogue with Senator Franken has led us to reexamine how we do things and identify specific areas where we can do better. Therefore I'm very pleased to announce the following new commitments to further protect consumer privacy:
				<ul>
					<li>We already encourage all retailers to provide in-store notice for their customers; however, going forward we will include posted notice as a stipulation in our contracts with all retailers.</li>
					<li>We will institute a new and comprehensive education program about the opt-out process that will be required for all of our retail clients.</li>
					<li>Although we do not have any such relationships today, we will update our privacy policy to explicitly prohibit the sale, rental or disclosure of any of Euclid's data to data brokers.</li>
					<li>Finally, although we have never received a law enforcement request for data, we will create a formal policy outlining our requirements for a warrant or court order should we ever receive such a request.</li>
				</ul>
			</p><p>
				My full response to Senator Franken's questions can be found <a href="/privacy/euclid_response.pdf">here</a>. I have tremendous respect for the work he's doing to protect consumers, and look forward to continuing to work closely with him and other champions of consumer privacy.
			</p><p>
				Will Smith<br>
				Euclid CEO &amp; Co-Founder
			</p><p>
				<div>Consumer inquiries: <a href="mailto:privacy@euclidanalytics.com">privacy@euclidanalytics.com</a></div>
			</p>

  		</div>
  </div>
</section> 