<% content_for :pagetitle do %>Website Privacy<% end %>
<section class="content">
  <div class="container">
  		<h1 class="col12 separated">
  			Euclid Privacy Statement
  		</h1>
  		<div class="col12"> 

			<span class="sectionlabel">Our commitment to privacy</span>
			<p>Your privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy to find, we make it available on our homepage and at every point where personally identifiable information may be requested.</p>

			<span class="sectionlabel">Information we collect</span>
			<p>This notice applies to all information collected or submitted on the Euclid website. On some pages, you can order products and make requests. The types of personal information collected at these pages include name, address, email address, and credit/debit card information. You may, however, visit our site anonymously.</p>

			<span class="sectionlabel">How we use information</span>
			<p>We use the information you provide about yourself when placing an order only to complete that order. We do not share this information with outside parties except to the extent necessary to complete that order.</p>
			<p>We use return email addresses to answer the email we receive. Such addresses are not used for any other purpose and are not shared with outside parties.</p>
			<p>We use non-identifying and aggregate information to better design our website. We continually strive to improve our website offerings based on the information and feedback we receive from you.</p>
			<p>Finally, we never use or share the personally identifiable information provided to us online in ways unrelated to the ones described above. We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect our or others’ rights, property, or safety.</p>

			<span class="sectionlabel">Our commitment to data security</span>
			<p>To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online.</p>

			<span class="sectionlabel">Our commitment to children’s privacy</span>
			<p>Protecting the privacy of the very young is especially important. For that reason, we never collect or maintain information at our website from those we actually know are under 13, and no part of our website is structured to attract anyone under 13.</p>

			<span class="sectionlabel">Online privacy only</span>
			<p>This online privacy policy applies only to information collected through our website and not to information collected offline.</p>

			<span class="sectionlabel">Your consent</span>
			<p>By using our site, you consent to our privacy policy.</p>

			<span class="sectionlabel">Changes to our privacy policy</span>
			<p>If we decide to change our privacy policy, we will post those changes to this page.</p>

			<span class="sectionlabel">Contact us</span>
			<p>If you have other questions or concerns about this privacy policy, please send us an email at <a href="mailto:privacy@euclidanalytics.com" class="scramble-email">moc.scitylanadilcue@ycavirp</a>.</p>





  		</div>
  </div>
</section> 